.about-us-bgc
	.about-us-text
		.top.clearfix
			img(src=company.logo || "//file.baixing.net/201709/4916aa54f4b4c69b4c01591fe6a87046.png", alt="企业头像")
			h3 #{ companyName }
		.center-left
			p 公司简介
			span --------------------------
			.intro.
				恒诚信企业管理有限公司（以下简称"恒诚信"）创立于2003年，是市首批依法成立和最具影响力的专业财税代理机构之一。
				历经十载，恒诚信企业管理有限公司在业务规模、执业能力及服务水平等方面取得了长足的发展，截止2016年底服务客户
				数已达10568家,全年实现营业收入2356.15万元。恒诚信现有专业会计人员四十八名……
