#banner-container
  - const bannerList= renderData.banner
    .swiper-container
      .swiper-wrapper
        if bannerList && bannerList.length > 0
          each item in bannerList
            .swiper-slide
                img(src=item.displayImgUrl)
        else
          .swiper-slide
            img(src="//file.baixing.net/20171113/fa4817b9414298b458a5bd46fd23759a.png")
            p 飞扬网络科技有限公司
          .swiper-slide
            img(src="//file.baixing.net/20171113/94fc4a376f210050c461fb1e7482e453.png")
            p 飞扬网络科技有限公司
          .swiper-slide
            img(src="//file.baixing.net/20171113/94fc4a376f210050c461fb1e7482e453.png")
            p 飞扬网络科技有限公司
          .swiper-slide
            img(src="//file.baixing.net/20171113/94fc4a376f210050c461fb1e7482e453.png")
            p 飞扬网络科技有限公司
  .swiper-pagination
  .swiper-button-next
  .swiper-button-prev


