.topbar-bg
	.topbar
		img(src="//file.baixing.net/202011/ec4ef1af5fef2b0259060cf8cb6d66cf.png", alt="")
		span 服务热线：400-888-9967
		img(src="//file.baixing.net/201709/4916aa54f4b4c69b4c01591fe6a87046.png", alt="")