.ant-layout-sider-children
  border-right 1px solid #f0f0f0

.layout-side-header
  height 72px
  line-height 72px
  color #fff
  background #1890ff
  p
    font-weight bold

.layout-header
  height 72px
  line-height 72px
  text-align right
  background #fff
  border-bottom 1px solid #f0f0f0

.layout-content-box
    position relative
    padding 30px
    background #fff
    min-height calc(100vh - 160px)
    margin 16px
