.company-info
  background-color #fff
  margin 10px 0
  padding 16px
  display flex

  .info-logo
    width 56px
    height 56px
    border-radius 4px
    overflow hidden
    margin-bottom 30px

    > img
      width 100%
      height 100%

  .info-right
    flex 1
    margin-left 14px

    h3
      font-size 18px

    .company-medals
      font-size 12px
      display flex
      align-items center
      padding 15px 0
      border-bottom 1px solid #E8E8E8
      margin-bottom 15px

      .medal-shop
        width 80px
        height 20px
        background url("//file.baixing.net/202205/3a8b2c36ef596941b54afc53bec14bbb.png") no-repeat center center / 100%
        margin-right 12px

      .medal-bx
        width 80px
        height 20px
        background url("//file.baixing.net/202205/2437fb93cbdbfc25ef3637a65f2257a5.png") no-repeat center center / 100%

    .company-certificate
      display flex
      font-size 12px

      .certificate-label
        color #B39772

      > img
        width 16px
        height 18px
        margin 0 8px
        vertical-align middle







