.news-list-title-box
  padding 0 12px
  background white
  .block-title
    display flex
    justify-content space-between
    align-items center
    position relative
    padding 16px 9px
    font bold 16px/16px PingFangSC-Medium, PingFang SC
    color #333333
    box-sizing border-box
    border-bottom 1px solid #EEEEEE
    .prefix-box
      position absolute
      top 16px
      left 0
      width 3px
      height 15px
      background #336FFF
    .more
      font 12px/1 PingFangSC-Regular, PingFang SC;
      color #999999
