.news-list-title-box
  background-color #fff
  border-bottom 1px solid #E2E2E2
  .title
    position relative
    display flex
    justify-content space-between
    align-items center
    height 50px
    color #333333
    margin 0 12px
    padding 0 9px
    font-size: 16px;
    font-weight: bold;
    .prefix-box
      position absolute
      top 16px
      left 0
      width 3px
      height 16px
      background #336FFF
    .more
      font-size 14px
      color #AAAAAA
      line-height 14px
