.user-defined-module
  padding: 0 12px
  background-color: #fff
  margin-top: 10px

  .block-title-box
    position relative
    padding: 16px 9px 12px
    font bold 16px/16px PingFangSC-Medium, PingFang SC
    color #333333
    border-bottom: 1px solid #EEEEEE
    .prefix-box
      position absolute
      top 16px
      left 0
      width 3px
      height 15px
      background #336FFF

  .user-defined-list
    margin-top 3px
    padding-bottom 12px
    display flex
    flex-wrap wrap
    justify-content space-between

    .user-defined-item
      position relative
      width: 48%
      padding 38px 5px 10px 9px
      border 1px solid rgba(239, 239, 239, 1)
      box-sizing border-box
      margin-top 12px
      .number
        position absolute
        top 0
        right 12px
        display flex
        justify-content center
        align-items center
        width: 26px
        height: 30px
        font bold 14px/14px PingFangSC
        color white
        border-radius 0 0 1.62px 1.62px
        background #3571FF

      .title
        display inline-block
        margin-bottom: 8px
        font-size: 14px
        font-weight: bold
        color #3571FF

      .content
        overflow hidden
        text-overflow ellipsis
        display -webkit-box
        -webkit-line-clamp 5
        -webkit-box-orient vertical
        font 12px/20px PingFangSC-Regular, PingFang SC
        color #666

      a
        display inline-block
        width: 100px
        height: 30px
        border: 1px solid #CCCCCC
        font-size: 10px
        font-weight: bold
        line-height: 28px
        text-align: center
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%);
        color: #333


