@import "../layout"
@import "../components/base-swiper"
@import "../components/home/self-advantage"
@import "../components/home/home-title"
// @import "../components/home/product-list"
@import "../components/home/product-list-new"
// @import "../components/home/about-us"
@import "../components/home/about-us-new"
@import "../components/home/viewPhone"
@import "../components/home/user-defined-module"
// @import "../components/home/news-center"
@import "../components/home/news-center-new"
@import "../components/home/contact-us"
// 用于sem投放 禁止外跳 弹窗样式
@import "../../../common/pc/contact-form-sem"

.container
  margin 60px auto 80px
  //B2C模板2首页轮播图高度是特殊的540px
  .swiper-specil-size
    height 540px !important
    img
      height 540px !important
