@import "../layout"
@import '../../../common/pc/official-breadcrumb/index.styl'
@import "../components/base-swiper"
@import "../components/home/self-advantage"
@import "../components/home/home-title"
@import "../components/home/product-list"
@import "../components/home/about-us"
@import "../components/home/viewPhone"
@import "../components/home/user-defined-module"
@import "../components/home/product-catogeries"
@import "../components/home/product-swiper"
@import "../components/home/news-center"
@import "../components/home/contact-us"

.container
  margin 80px auto

//B2C模板2首页轮播图高度是特殊的540px
  .swiper-specil-size
    height 540px !important
    img
      height 540px !important
