@import "../layout"
@import "../components/base-swiper"
@import "../components/home/self-advantage"
@import "../components/home/home-title"
@import "../components/home/product-list"
@import "../components/home/about-us"
@import "../components/home/viewPhone"
@import "../components/home/user-defined-module"
@import "../components/home/product-catogeries"
@import "../components/home/product-swiper"
@import "../components/home/news-center"
@import "../components/home/contact-us"

.container
  //width 1220px
  margin 80px auto
//   .block-title
//     width 254px
//     margin 0 auto 64px
//     text-align center
//     h2
//       font-size 26px
//       font-weight 500
//       color #FF6536
//       position relative
//       &::before
//       &::after
//         content ""
//         position absolute
//         left 0
//         top 50%
//         width 50px
//         height 2px
//         background-color #FF6536
//       &::after
//         left 194px
  .block-title
    width 254px
    margin 0 auto 64px
    text-align center
    h2
      font-size 26px
      font-weight 500
      color #333333
      position relative
      &::before
      &::after
        content ""
        position absolute
        left 0
        top 50%
        width 50px
        height 2px
        background-color #FF4466
      &::after
        left 194px




