.my-modal-box {
  border-radius: 2px;
  .ant-modal-title {
    padding-top: 24px;
  }
  .ant-modal-body {
    padding: 0 40px 40px 40px;
  }
  .ant-modal-header {
    border-bottom: none;
    padding: 16px 40px;
  }
  .ant-modal-footer {
    margin-top: 0;
    border-top: none;
    padding: 10px 26px 40px 10px;
    .ant-btn {
      min-width: 86px;
      height: 32px;
    }
    .ant-btn-primary {
      background: #096dd9;
    }
  }
}

.quit-form-box {
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  font-weight: normal;
  margin-bottom: 0;
  .icon {
    width: 23px;
    margin-right: 8px;
  }
  .title-content {
    position: relative;
    top: 2px;
    font-weight: bold;
  }

  .ant-modal-body {
    padding: 60px;
  }
}
.quit-form-superWarning-box {
  color: #f1492c;
}

.quit-form-warning-box {
  color: #ef6a31;
}
