.post-create-container {
  .form-container {
    width: 1180px;
  }
  :global {
    .ant-form-item-label {
      margin-right: 16px;
    }
  }
  .add-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .add-title-btn {
    }
    .preview-title {
      cursor: pointer;
      font-size: 14px;
      color: #096dd9;
      line-height: 14px;
    }
  }

  .blue-btn {
    width: 120px;
    height: 40px;
    padding: 0;
    line-height: 40px;
    background: #096dd9;
    border: 1px solid #096dd9;
    color: #fff;
    margin-right: 25px;
  }

  .white-btn {
    width: 120px;
    height: 40px;
    padding: 0;
    line-height: 40px;
    background: #fff;
    border: 1px solid #d8d8d8;
    color: #333333;
    margin-right: 25px;
  }
  .draft-btn {
    margin-right: 16px;
  }
}
