extends ../layout
include ../components/home/home-title.pug

block styles
		:combine(fileName="site-template-3-home-pc.css")

//-使用了统一的header和nav
block content
		include ../components/common/base-swiper.pug
		+baseSwiper('540px')
		.container
				//-自定义模块数据
				- const { autoConfig } = renderData
				//-自定义模块2（即之前的自身优势模块）
				include ../components/home/self-advantage.pug
				if autoConfig&&autoConfig[1]&&autoConfig[1].show
					+home-title(autoConfig[1].mainModuleTitle||'服务资质')
					- defaultSelfAdvantage = [{title:'丰富的海外经验丰富的海外经验哈哈',content:'技术人员皆有着多年的相关行业经验，技术高效有保证技术人员皆有着多年的相关行业经验，技术高效有保证保证',urlImg:'//file.baixing.net/202108/88bdb200a332fefd1e0886391da53ff7.png'},{title:'高效的业务团队',content:'技术人员皆有着多年的相关行业经验，技术高效有保证技术人员皆有着多年的相关行业经验，技术高效有保证保证',urlImg:'//file.baixing.net/202108/f48a629c05f0770ca771685f50980084.png'},{title:'领先的技术优势',content:'技术人员皆有着多年的相关行业经验，技术高效有保证技术人员皆有着多年的相关行业经验，技术高效有保证保证',urlImg:'//file.baixing.net/202108/76c21e26ee68474da2d6d9736d5a88af.png'},{title:'丰富的产业资源',content:'技术人员皆有着多年的相关行业经验，技术高效有保证技术人员皆有着多年的相关行业经验，技术高效有保证保证',urlImg:'//file.baixing.net/202108/9dcb37487ee2d0b32a2d9fcecc0bff8f.png'}]
					- selfAdvantage = autoConfig[1].subModuleBos||defaultSelfAdvantage
					+self-advantage(selfAdvantage)

				//-服务项目
				- const { productList : proList, name: allTitle } = renderData.productRecommend
				if proList && proList.length > 0
						+home-title(allTitle)
						//- include ../components/home/product-list.pug
						- productListResult = renderData.productRecommend&&renderData.productRecommend.productList?renderData.productRecommend.productList:renderData.productList.result
						include ../components/home/product-list-new.pug
						+item(productListResult)

				if isSem !== "2"
					- const { tags, media } = renderData.about|| renderData.basic.aboutModule|| {}
					include ../components/home/about-us-new.pug
					+about-us-new(tags,media)

				//-自定义模块1（即之前的企业优势模块）
				if autoConfig && autoConfig[0] &&autoConfig[0].show
					include ../components/home/user-defined-module.pug
					+user-defined-module(autoConfig[0])

				//-新闻资讯
				- articleList = renderData.articleList.result
				//- - const { articleRecommend: articleList} = renderData.articleRecommend
				if articleList && articleList.length >0
						+home-title('新闻资讯')
						//- include ../components/home/news-center.pug
						include ../components/home/news-center-new.pug
						.new-center.clearfix
								+news-box(articleList)
								
				//- +home-title('联系我们')
				include ../components/home/contact-us.pug
				
				//- 用于sem禁止外跳
				include ../../../common/pc/contact-form-sem.pug
				+contactFormSem('#F46')

block scripts
		:combine(fileName="site-template-3-home-pc.js")
block append scripts
		script.
				window.extraContactFormData = { position: 1 };
				window.trackSrc = 'home';
