extends ../layout
include ../components/home/home-title.pug

block styles
		:combine(fileName="site-template-3-home-pc.css")

//-使用了统一的header和nav
block content
		include ../components/common/base-swiper.pug
		+baseSwiper('28.125vw','343.125px')
		- const { autoConfig } = renderData
		if autoConfig[3]&&autoConfig[3].show
			include ../components/home/big-image.pug
			+big-image(autoConfig[3])
		.container
				//-自定义模块数据 
				//-自定义模块2（即之前的自身优势模块）
				include ../components/home/self-advantage.pug
				if autoConfig[2]&&autoConfig[2].show
					+home-title(autoConfig[2].mainModuleTitle||'服务资质')
					- selfAdvantage = autoConfig[2].subModuleBos
					+self-advantage(selfAdvantage)

				//-服务项目
				- const { productList : proList, name: allTitle } = renderData.productRecommend
				if proList && proList.length > 0
						+home-title(allTitle)
						- productListResult = renderData.productRecommend&&renderData.productRecommend.productList?renderData.productRecommend.productList:renderData.productList.result
						include ../components/home/product-list.pug
						+item(productListResult)

				if isSem !== "2"&&isSem !== "1"
					include ../components/home/about-us.pug
					+about-us-new( renderData.about|| renderData.basic.aboutModule|| {})

				//-自定义模块1（即之前的企业优势模块）
				if autoConfig[1] &&autoConfig[1].show
					include ../components/home/user-defined-module.pug
					+user-defined-module(autoConfig[1])

				//-新闻资讯
				- const { name:articleListName,articleList:{result:articleList,totalPage} } = renderData.articleList
				if articleList && articleList.length >0
						+home-title(articleListName)
						include ../components/home/news-center.pug
						.new-center.clearfix
								+news-box(articleList)
								
				//- +home-title('联系我们')
				include ../components/home/contact-us.pug
				
				//- 用于sem禁止外跳
				include ../../../common/pc/contact-form-sem.pug
				+contactFormSem('#F46')

block scripts
		:combine(fileName="site-template-3-home-pc.js")
block append scripts
		script.
				window.extraContactFormData = { position: 1 };
				window.trackSrc = 'home';
