.product-key-container {
  .form-item {
    width: 200px;
    display: inline-block;
    & + .form-item {
      margin-left: 16px;
    }
  }
  .delete {
    color: #096dd9;
    font-size: 14px;
    margin: 0 0 24px 15px;
    cursor: pointer;
  }
  .add {
    display: inline-block;
    width: 80px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px dashed #999999;
    padding: 0;
    line-height: 40px;
    text-align: center;
    background: #ffffff;
    font-size: 14px;
    cursor: pointer;
  }
  .p {
    color: #999;
    font-size: 12px;
    line-height: 1;
  }
  .s {
    font-weight: 1;
    color: #096dd9;
  }
  .product-key-line {
    width: 460px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
