@import "../layout"
@import "../components/swiper"
@import "../components/home/big-image"
@import "../components/home/product-list"
@import "../components/home/product-list-new"
@import "../components/home/self-advantage" 
@import "../components/home/about-us"
@import "../components/home/product-catogeries"
@import "../components/home/news-list"
@import "../components/contact-message"
@import "../components/home/user-defined-module"
@import "../components/home/about-contact-tel"
@import "../components/home/product-list-new"
@import "../components/common/contact-form"
// 用于sem投放 禁止外跳 弹窗样式
@import "../../../common/pc/contact-form-sem"
@import "../../../common/pc/contact-module"
  
.container
  width 100%
  background: #FFFFFF
.block-title
  margin 70px auto 41px
  position relative
  text-align center
  .h2
    display inline-block
    margin-bottom: 16px
    font-size 34px
    text-align center
    color #212121
    font-weight bold
  .point
    position absolute
    bottom: 0
    left: 50%
    transform: translateX(-107px)
    width: 214px
    height: 2px
    margin-top: 16px
    background-color: #EBEBEB
    .tipMiddle
      position absolute
      top: 0
      left: 50%
      transform: translateX(-12px)
      width 24px
      height 3px
      background: #336FFF
.product-catogeries-list
  display flex
  align-items flex-start
  width 1220px
.autoConfigServer
  box-sizing: border-box
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  background: url('//file.baixing.net/202205/db9ed74649f1bd2fb9443b53c6dcb1e6.png') no-repeat center center/100% 100%
.container-hot-product
  width: 1220px
  margin: 0 auto 70px
.container-about-us
  box-sizing: border-box
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  height: 605px
  padding-bottom: 45px
  background: url('//file.baixing.net/202205/5aab42d3dae79c0c88e84dbfbd6651af.png') no-repeat center center/100% 100%
.shop-product-list
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  padding-bottom: 70px
  background: url('//file.baixing.net/202205/4ec25042a4fdda3804d9e7b7eff3e530.png') no-repeat center center/100% 100%
  .block-title
    .h2
      color: #FFFFFF
#contactFormBox
  overflow hidden
  width: 100%
  padding-bottom: 72px
  .block-title
    margin-top: 54px
    .h2
      color: #fff
.contactTemplate4
  margin-top: 98px
