@import "../../../common/dynamic/theme.styl"

@import "../layout"
@import "../components/base-swiper"
@import "../components/home/big-image"
@import "../components/home/self-advantage"
@import "../components/home/home-title"
@import "../components/home/product-list"
@import "../components/home/about-us"
@import "../components/home/user-defined-module"
@import "../components/home/news-center"
@import "../components/contact-home"

@import "../../../common/dynamic/pc/contact-form"
@import "../../../common/dynamic/pc/contact-module"

@import '../../../common/dynamic/pc/official-nav'
@import '../../../common/dynamic/pc/official-header'

// 用于sem投放 禁止外跳 弹窗样式
@import "../../../common/dynamic/pc/contact-form-sem"

.container
  margin 60px auto 0
  background: #ffffff
