.product-detail
  .pro-title
    p 详情描述
  - const { content,contentImg,params } = renderData.productInfo
  if params && params.length > 0
    .setting-title 参数描述
    .product-detail-table
      include ./setting-table
      +settingTbale(params)
  .pro-content.ql-editor
    | !{ content || '当前页面暂无内容，敬请期待...' }