.customer-service
    position fixed
    right: 0
    top: 60%
    z-index: 998
    .service
        &-item
            height: 224px
            width: 42px
            cursor pointer
            border: 1px solid #409EFF
            background: #fff
            transform: scale(.7)
            transform-origin: top right
            box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.1)
            background: url('//file.baixing.net/202206/dfbb88e8958aea1b529986c6c2afc158.png') no-repeat center center/100% 100%
            // box-shadow:  0 0 0 10px #000000
            // &.bax
            //     background: url('//file.baixing.net/publicity-fe/static/assets/safe-wap-feedback.png') no-repeat center/contain
        // &-content
        //     width: 33px
        //     height: 166px
        //     &.bax
        //         background: url('//file.baixing.net/publicity-fe/static/assets/title-icon-wap.png') no-repeat center/contain
button
   border: none
.service-click
  .service-modal
    display block
.service-modal
  width 112px
  display none
  position absolute
  background-color #fff
  right calc(100% + 20px)
  top 50%
  padding 27px 25px
  transform translateY(-50%)
  box-shadow 0 4px 10px rgba(#000, 0.05)
  cursor initial
.service-modal__bax
  text-align: start
  .bax-number
    color: #409EFF
    padding 10px 0
  .bax-btn
    cursor pointer
    margin-top 8px
    display flex
    flex-direction row
    justify-content center
    align-items center
    width 82px
    height 26px
    background-color #5799FF
    border-radius 2px
    .bax-link .bax-text
      font-family PingFangSC-Medium
      font-size 12px
      color #FFFFFF
      line-height 12px
