.customer-service
    position fixed
    right: 0
    top: 54%
    transform: translateY(-50%)
    z-index: 999
    .service
        &-item
            cursor pointer
            border: 1px solid #409EFF
            background: #fff
            transform: scale(.7)
            padding: 5px 0
            transform-origin: top right
        &-logo
            width: 100%
            height: 30px
            margin-bottom: 5px
            &.bax
                background: url('//file.baixing.net/publicity-fe/static/assets/safe-wap-feedback.png') no-repeat center/contain
        &-content
            width: 42px
            height: 194px
            &.bax
                background: url('//file.baixing.net/publicity-fe/static/assets/title-icon-wap.png') no-repeat center/contain

