.customer-service
    position fixed
    right: 0
    top: 60%
    z-index: 999
    .service
        &-item
            cursor pointer
            border: 1px solid #409EFF
            background: #fff
            transform: scale(.7)
            padding: 5px 0
            transform-origin: top right
        &-logo
            width: 100%
            height: 30px
            margin-bottom: 5px
            &.bax
                background: url('//file.baixing.net/publicity-fe/static/assets/safe-wap-feedback.png') no-repeat center/contain
        &-content
            width: 42px
            height: 194px
            &.bax
                background: url('//file.baixing.net/publicity-fe/static/assets/title-icon-wap.png') no-repeat center/contain
button
   border: none
.service-click
	.service-modal
		display block
.service-modal
	width 112px
	display none
	position absolute
	background-color #fff
	right calc(100% + 20px)
	top 50%
	padding 27px 25px
	transform translateY(-50%)
	box-shadow 0 4px 10px rgba(#000, 0.05)
	cursor initial
.service-modal__bax
	text-align: start
	.bax-number
		color: #409EFF
		padding 10px 0
	.bax-btn
		cursor pointer
		margin-top 8px
		display flex
		flex-direction row
		justify-content center
		align-items center
		width 82px
		height 26px
		background-color #5799FF
		border-radius 2px
		.bax-link .bax-text
			font-family PingFangSC-Medium
			font-size 12px
			color #FFFFFF
			line-height 12px