extends ../layout

block styles
    :combine(fileName="site-template-3-search-pc.css")

block content
    .container
        .main
            
            if renderData.contentType === 'news'
                include ../components/news/news-list.pug
                +news-list(renderData.contentList.result)
            else
                //-产品列表
                - productList = renderData.contentList.result
                include ../components/product/product-list.pug

            //-分页模块
            include ../../../common/pc/pagination.pug
            - var totalPage = (renderData.contentList && renderData.contentList.totalPage) || 1
            +pagination(totalPage, currentPage, `${currentPathname}`)

 

        //-侧边栏
        .sidebar
            - const { articleList } = renderData
            include ../components/sidebar/cateList.pug
            +side-cateList('新闻资讯', articleList.result)
            include ../components/sidebar/products.pug

block scripts
    :combine(fileName="site-template-3-search-pc.js")
block append scripts
    script.
        window.contentType = 'search';
        window.trackSrc = 'listing';
