.list-action-btn-box {
  display: inline-block;
  width: 34px;
  .table-action-btn {
    width: 100%;
    cursor: pointer;
  }
}

.func-btn {
  padding: 0 8px;
  font-size: 14px;
  color: #1890ff;
  line-height: 14px;
  & + & {
    border-left: 1px solid #1890ff;
  }
}
