.breadcrumb
  .item
    display: inline-block;
    padding-right: 13px 
    font-size: 12px;
    line-height: 14px
    .url 
      color:#aaa
      margin-right: 10px;
      &:hover
        color #aaa !important
    .and
     display: inline-block;
     width: 8px
     height: 8px
     border-top: 2px solid #aaa
     border-right: 2px solid#aaa
     transform: rotate(45deg)