.search-crumbs.clearfix
	p 当前位置：
	ul
		each item, index in renderData.bread
			if item.name
				li
					if index > 0
						i &gt;
					a(href="/" + renderData.shopName + item.urlSuffix)  #{item.name}

