.company-pic
	img(src="//file.baixing.net/202011/207b89ca9c1463db8bf2a9e063a2969e.png", alt="")
	.company-title
		p 公司介绍
		p COMPANY PROFILE
	.company-profile
		| !{ company.about.replace(/\n/g, '<br/>') || '暂时还未添加公司介绍哦' }
