.company-pic
	img(src="//file.baixing.net/202011/207b89ca9c1463db8bf2a9e063a2969e.png", alt="")
	.company-title
		p 公司介绍
		p COMPANY PROFILE
	.company-profile.
		恒诚信企业管理有限公司（以下简称"恒诚信"）创立于2003年，是市首批依法成立和最具影响力的专业
		财税代理机构之一。 历经十载，恒诚信企业管理有限公司在业务规模、执业能力及服务水平等方面取得
		了长足的发展，截止2019年底服务客户数已达10568家，全年实现营业收入2356.15万元。恒诚信现有
		专业会计人员四十八名。

		其中执业注册会计师十五名，下设会计部，税务部，工商部，业务部，行政部，财务部，企划部七大部
		门，客户遍布香港及珠三角地区，涵盖化工，机械、纺织、家具、餐饮等各个行业。在行业竟争日趋激
		烈的今天，恒诚信全体员工始终秉承恒诚信全体员工始终秉承恒诚信全体员工始终秉承【诚信、勤勉、
		不懈】的原则，以【为客户提供安全可靠的企业财
		税整体解决方案】为使命，致力成为全国首屈一指.积累了丰富的技术和客户需求经验,可为各类型用户
		提供安全快检解决方案。
