.contact
	img(src="", alt="")
	img(src="//file.baixing.net/202011/a79029ffdefbde3fcfeac2d1eb26a4ab.png", alt="联系我们")
	.title 联系我们
	p 公司名称: #{name||上海新世界搬家公司}
	p 公司地址: #{address||上海闵行区七莘路901号}
	p 营业电话: #{telephone||13485753099}
	p 在线客服: #{qq||}
