.header.clearfix
	img(src=company.logo || "//file.baixing.net/201709/4916aa54f4b4c69b4c01591fe6a87046.png", alt="")
	h3 #{ renderData.shopInfo.name }
	.header-tel
		img(src="//file.baixing.net/202011/41bb9867c53b194f8d20aa00de837e18.png", alt="logo")
		.tel-hoticon
			img(src="//file.baixing.net/202011/181efac4a6b0d6d750860c97cbae412b.png", alt="")
		.tel-desc
			.tel-title 全国服务热线
			.tel-num
				a(href="tel:" + phone.content) #{ phone.content || '暂无热线...' }