.header.clearfix
	.logo
		img(src="//file.baixing.net/201709/4916aa54f4b4c69b4c01591fe6a87046.png", alt="logo")
	p.company #{ companyName || '一站式企业服务有限公司' }
	.tel
		img(src="//file.baixing.net/202011/41bb9867c53b194f8d20aa00de837e18.png", alt="logo")
		.tel-hoticon
			img(src="//file.baixing.net/202011/181efac4a6b0d6d750860c97cbae412b.png", alt="")
		.tel-desc
			.tel-title 全国服务热线
			.tel-num
				| #{telephone || '18900000001'}