.news-detail
    - const {name, modifyTime, contentImg, content} = renderData.articleInfo
        .news-detail-title
            h3 #{ name }
        if modifyTime
            .news-detail-time
                p #{ modifyTime || 2020-10-01 }
        if contentImg
            .news-detail-pic
                img(src=contentImg, alt="")
        .news-detail-content.
            #{ content }

