.news-list
    .news-bg
        .news-title
            img(src="//file.baixing.net/202011/340816647117d62f936cce6949ffa4fb.png", alt="")
            span 新闻咨询
    ul.news-list-items
        li 
            a(href="#") 新房搬家的讲究
        li  
            a(href="#") 2020年6月适宜搬家的黄道吉日
        li  
            a(href="#") 如何选择比较好的搬家公司
        li 
            a(href="#") 搬家需要注意哪些
        li 
            a(href="#") 搬新家带走扫帚好吗
        li 
            a(href="#") 如何上百姓网站找好的搬家公司有人知道吗
        li 
            a(href="#") 如果数据不知道咋写
        li 
            a(href="#") 这个li标签不能点击怎么办
        li 
            a(href="#") 想让这行文字只显示一行
    a.news-btn(href="#") 查看更多
