.page-normal
	a(href="#") 首页
	a(href="#") 1
	a(href="#") 2
	//-当前所在页面的页码
	span.page-current 3
	a(href="#") 4
	a(href="#") 5
	a(href="#") 6
	a(href="#") ...
	a(href="#") 20
	a(href="#") 21
	a(href="#") 下一页
