mixin product-list(n,page)
	- const list = renderData.productList.result
	.product-list.clearfix
		each item in list.length > n ? list.slice(0,n):list
			.item
				.cover
					if item.headImg
						img(src=item.headImg)
					else
						img(src="//file.baixing.net/202011/810feadae5a9849e4a067e79fc55ef56.png")
				p #{item.name}
				a.btn(href= "/" + renderData.shopName + "/p-:" + item.id) 了解详情
	if page = 'home'
		a.product-more-btn(href="/" + renderData.shopName + "/p") 查看更多


