- const list = renderData.productList.result
-const productDetailUrl = "/site/product/detail"

.product-list.clearfix
	each item in list.length > 12 ? list.slice(0,12):list
		.item
			.cover
				if item.headImg
					img(src=item.headImg)
				else
					img(src="//file.baixing.net/202011/810feadae5a9849e4a067e79fc55ef56.png")
			p #{item.name}
			a.btn(href= "/" + renderData.shopName + "/p-:" + item.id) 了解详情

a.product-more-btn(href="#") 查看更多


