mixin product-list(n,page)
	- const productList = renderData.productList.result
	.product-list.clearfix
		if productList && productList.length >0
			each item in productList.length > n ? productList.slice(0,n):productList
				.item
					.cover
						if item.headImg
							img(src=item.headImg)
						else
							img(src="//file.baixing.net/202011/722f557a62889f098f7843fd3481e22b.png")
					p #{item.name}
					a.btn(href= "/" + renderData.shopName + item.urlSuffix) 了解详情
					- console.log("/" + renderData.shopName + item.urlSuffix)
		else
			p 暂时还没有数据哦
	if page == 'home'
		a.product-more-btn(href="/" + renderData.shopName + "/p") 查看更多


