//-这个页面还缺少分页
mixin product-list(page)
	.product-list.clearfix
		if productList && productList.length >0
			each item in productList
				a.item(href= "/" + renderData.shopName + item.urlSuffix)
					img(src=item.headImg || '//file.baixing.net/202011/722f557a62889f098f7843fd3481e22b.png' )
					p #{item.name}
					.btn 了解详情
		else
			p 当前页面暂无内容，敬请期待...

	- const moreLink = (renderData.navigation.filter(x => x.position == "productListPage"))[0].content
	if page == 'home'
		if renderData.navigation && moreLink
			a.product-more-btn(href="/" + renderData.shopName + moreLink) 查看更多
		else
			a.product-more-btn(href="#") 查看更多


