- const bannerList= renderData.banner
  .swiper-container
    .swiper-wrapper
      if false
        each item in bannerList
          .swiper-slide
              img(src=item.displayImgUrl)
      else
        .swiper-slide
          img(src="//file.baixing.net/202011/ae7db439a3eb3331bfba1a69a9e069c8.png")
        .swiper-slide
          img(src="//file.baixing.net/202011/13cb77180ac3d0e492baf4a82b34275c.png")

    <!-- Add Pagination -->
    .swiper-pagination
    <!-- Add Arrows -->
    .swiper-button-next
    .swiper-button-prev


