<!-- Swiper -->
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        img(src="//file.baixing.net/202011/a4476b724b58fead867da48335e60251.png", alt="")
      .swiper-slide
        img(src="//file.baixing.net/202011/a4476b724b58fead867da48335e60251.png", alt="")
      .swiper-slide
        img(src="//file.baixing.net/202011/a4476b724b58fead867da48335e60251.png", alt="")

    <!-- Add Pagination -->
    .swiper-pagination
    <!-- Add Arrows -->
    .swiper-button-next
    .swiper-button-prev


