@import '../../../../styles/common';
.nav-container {
  margin-bottom: 32px;
  overflow: hidden;
}

.action-btn {
  font-size: 14px;
  color: #096DD9;
  cursor: pointer;
  &:first-child {
    margin-right: 30px;
  }
}
