.shop-container {
  .phone-none {
    display: none;
  }
  .phone-block {
    display: block;
    position: absolute;
    bottom: 20.8%;
    left: 19.9%;
    color: #f85e5e;
    font-weight: 500;
  }
}

