.shop-container {
  position: relative;
  .phone-top{
    display: block;
    position: absolute;
    color: #f85e5e;
    font-weight: 500;
    top: 40px;
    left: 112px;
  }
  .phone-none {
    opacity: 0;
  }
  .phone-block {
    opacity: 1;
  }
}
