@import "../components/common"
@import "../components/header"
@import "../components/nav"
@import "../components/main-title"
@import "../components/product-list"
@import "../components/sidebar/sidebar-title"
@import "../components/sidebar/contact"
@import "../components/sidebar/category-item"
@import "../components/page"
@import "../components/footer"

.container
    width 1226px
    margin 40px auto 72px
    .main
        float left
        width 985px
    .side-bar
        float right
        width 224px


//.product.clearfix
//    .side-bar
//        margin-top 58px
//        float right
//        width 224px
//        height 400px
//        background #1565c1
//        color #fff
//.container
//  width 1226px
//  margin 40px auto 72px
//  .main
//    float left
//    width 985px
//  .aside
//    float right
//    width 224px







