@import "../layout"
@import "../components/breadcrumbs"
@import "../components/main-title"
@import "../components/product-list"
@import "../components/sidebar/sidebar-title"
@import "../components/sidebar/contact-us"
@import "../components/sidebar/category-item"
@import "../components/pagination"

.container
    width 1226px
    margin 40px auto 72px
    .main
        float left
        width 985px
    .side-bar
        float right
        width 224px
        margin-top 40px






