.news-list-title-box
  display flex
  justify-content space-between
  align-items center
  padding 0 20px 0 15px
  height 50px
  background-color #fff
  border-bottom 1px solid #E2E2E2
  .title
    color #333333
    font-size: 16px;
    font-weight: bold;
  .more
    font-size 14px
    color #AAAAAA
    line-height 14px