.news-detail
    background-color #fff
    padding 20px 16px 25px
    h3
        font-size 18px
        margin-bottom 15px
    .news-detail-time
        font-size 14px
        color #333
        margin-bottom 30px
    .news-detail-pic
        margin-bottom 30px
        img
            width 100%
    .news-detail-content
        height: auto
        font-size 14px
        line-height 24px
        color #333
        word-break break-word
        margin-bottom 29px
        img
          width: 100%
    .news-nav
        font-size 14px
        border-top 1px solid #f2f2f2
        span
            display inline-block
            color #EC2525
            margin-top 25px
        a
            color #666

