.products-con
	display flex
	flex-wrap wrap
	justify-content space-between
	padding 0 12px
	.product
		background-color #fff
		display flex
		flex-direction column
		width 48.5%
		margin-bottom 12px
		&__img
			position relative
			.hot-icon
				position absolute
				bottom 0
				left 0
			img
				width 100%
				&:first-child
					height 113px
		p
			color #333
			margin 15px
			font-size 14px


