.product-recommend
    margin 10px 0
    background-color #fff
    .pro-title
        padding 13px 6px
        height 18px
        line-height 18px
        border-bottom 1px solid #f2f2f2
        margin 0 12px 14px

    .pro-box
        display flex
        flex-wrap nowrap
        overflow-x auto
        padding 0 16px
        box-sizing border-box
        &::-webkit-scrollbar
            display none
        a
            display block
            width 140px
            margin-right 20px
            box-sizing border-box
            img
                height 92px
                width 138px
                border 1px solid #eee
            .pro-desc
                margin-top 10px
                font-size 14px
                color #666
                margin-bottom 20px
                line-height 22px
