.product-list
	width 100%
	background-color #ffffff
	//padding-bottom 320px
	ul
		margin 16px 20px 0 23px
		padding 16px 0 10px
		li
			margin-bottom 30px
			list-style none
			a
				display flex
				align-items center
				text-decoration none
				color #333
				img
					width 60px
					height 40px
					margin-right 16px
				.rec-text
					font-size 16px
					width 75%
					overflow hidden
					text-overflow ellipsis
					display -webkit-box
					-webkit-box-orient vertical
					-webkit-line-clamp 2
					word-break break-all
					&:hover
						color #1565C1




