.product-detail
    .pro-top
        background-color #ffffff
        img
            max-width 100%
            max-height 248px
            min-width 120px
            display block
            margin auto
        .pro-meta
            padding 26px 16px
            h3
                font-size 18px
            p
                margin-top 10px
                font-size 14px
                color #666
    .pro-bottom
        margin-top 16px
        background-color #fff
        .pro-title
            padding 20px 16px 14px
            height 18px
            line-height 18px
            border-bottom 1px solid #f2f2f2
            h4
                border-left 3px solid #EC2525
                font-size 16px
                padding-left 5px
        .pro-pic
            text-align center
            padding-bottom 30px
            img
                max-width 290px
        .pro-content
            background-color #ffffff
            padding 0 13px 15px 13px
            font-size 14px
            line-height 24px
            word-break break-word

