.products
	padding 0 12px
	display flex
	flex-wrap wrap
	justify-content space-between
	.product
		position relative
		background-color #fff
		display flex
		flex-direction column
		width 48.5%
		margin-bottom 12px
		&__img
			position relative
			.hot-icon
				height: 21px
				width auto
				position absolute
				bottom 0
				left 0
			img
				width 100%
				&:first-child
					height 113px
		p
			color #333
			margin 15px
			font-size 14px

.play-icon.active
	position: absolute;
	left: 50%;
	top: 60px;
	width: 26px;
	height: 26px;
	background: url(//file.baixing.net/201709/1ae6e52bed21cee4b2e9f45be173d0f4.png)
	background-size: 100%;
	transform: translate(-50%, -50%);
	cursor: pointer;
