.logo {
  width: 65px;
  height: 32px;
  background: url('//file.baixing.net/202011/dc70acc77de03f734a229a542d70a5f4.png');
  background-size: cover;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

.content {
  margin: 16px;
  background: #fff;
}

.sideHeader {
  height: 72px;
  line-height: 72px;
  background: #005DC1;
}

.layoutHeader {
  height: 72px;
  line-height: 72px;
  text-align: right;
  color: #fff;
  background: #096DD9;
}
#base-menu{
  .ant-menu-item-selected a, .ant-menu-item-selected a:hover {
    color: #096DD9;
  }
  .ant-menu-inline .ant-menu-item::after {
    border-width: 4px;
    border-color: #096DD9;
  }
  .ant-menu-submenu{
    .ant-menu-submenu-title{
      padding-right: 20px;
      font-size: 16px;
      position: relative;
      padding-left: 50px!important;
    }
    .ant-menu-item{
      padding-left: 63px!important;
    }
    .ant-menu-submenu-title:before{
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      left: 20px;
      top:50%;
      margin-top: -8px;
    }
  }
  .company-info{
    .ant-menu-submenu-title:before{
      background: url('//file.baixing.net/202012/202f7f4f20f4d3e74e2e938d6008b573.png') no-repeat;
      background-size: 100%;
    }
  }
  .ant-menu-submenu-selected, .ant-menu-submenu-active {
    color: #096DD9;
  }
  .ant-menu-submenu-selected.company-info,.ant-menu-submenu-active.company-info{
    .ant-menu-submenu-title:before{
      background: url('//file.baixing.net/202012/d1ce5499b6883e2bbd5970c26d5e4f9c.png') no-repeat;
      background-size: 100%;
    }
  }
  .shop{
    .ant-menu-submenu-title:before{
      background: url('//file.baixing.net/202012/159a6911ce9310bf313d22f251272c57.png') no-repeat;
      background-size: 100%;
    }
  }
  .ant-menu-submenu-selected.shop,.ant-menu-submenu-active.shop{
    .ant-menu-submenu-title:before{
      background: url('//file.baixing.net/202012/faccd82e925c23e0a2767b010dcecf04.png') no-repeat;
      background-size: 100%;
    }
  }
  .ai-content{
    .ant-menu-submenu-title:before{
      background: url('//file.baixing.net/202012/598ab75e153ae5d9fc61479ecc7a6ee4.png') no-repeat;
      background-size: 100%;
    }
  }
  .ant-menu-submenu-selected.ai-content,.ant-menu-submenu-active.ai-content{
    .ant-menu-submenu-title:before{
      background: url('//file.baixing.net/202012/21e74b6c5e98c89839528c5a54bf4c69.png') no-repeat;
      background-size: 100%;
    }
  }
  .report {
    .ant-menu-submenu-title:before {
      background: url('//file.baixing.net/202103/241cd949502d5975a8dd585c4ae3e4d0.png');
      background-size: 100%;
    }
  }
  .ant-menu-submenu-selected.report,.ant-menu-submenu-active.report {
    .ant-menu-submenu-title:before{
      background: url('//file.baixing.net/202103/ee5ed55e308f79b14bdfc41139abac6a.png') no-repeat;
      background-size: 100%;
    }
  }
  .assets-manage {
    .ant-menu-submenu-title:before {
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAeFBMVEUAAABnZ2dmZmZnZ2dnZ2dmZmZpaWlnZ2doaGhmZmZmZmZmZmZmZmZnZ2dnZ2dnZ2dtbW1nZ2doaGhmZmZzc3NmZmZnZ2dmZmZnZ2dnZ2dnZ2eAgIBmZmZmZmZsbGxsbGxnZ2dmZmZnZ2dnZ2dmZmZqampqampmZmYT4CedAAAAJ3RSTlMAROV0mfs6uoD03+q/rldLDu4sgwfWnZOIbTIDpWQhG87IpqSMNSQ/5IjiAAAA8klEQVQ4y63TSY6DMBRF0U8Sh5i+D4E01d/977AKQ+SSbM9yRgyu0JNsi0iRaVZJIx5nrL4TRwnqPTYS+BJHjDrK6l7bbysll6cCkuPmLhs42PqKld48QZXwz+gG8tifNgeNmmzgMUFrg6rcOzRZ9wxuNV674xoUhOifJZgT1FhGjvIThiWIYBSvmGQJWvgWrxNqCTL0LF65+cOgycSv5kOgh1a8GrgIi0i8LjCZQFWhCXo2wVtwQiYmOAcntGtQBCeUa/AITaAyQRqc0JtLi6pCEwZzHnDtxFXl67iSP2rnUpB29un5qEgW5vF6pHkjL/ELcFAuRPd/VbsAAAAASUVORK5CYII=');
      background-size: 92%;
      background-repeat: no-repeat;
    }
  }
  .ant-menu-submenu-selected.assets-manage,.ant-menu-submenu-active.assets-manage {
    .ant-menu-submenu-title:before {
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAgVBMVEUAAAAJbdkKbtoLb9oKbtoJbtkNb9wKbtoKbtkJbtoKbdoKbtoJbtkUeucJbtkKbdsJbtoLbtwKb9oKb9wJbtoKbdoJbdoJbtoJb9oMbtwLb94Oc98keucKbtoJbdoKbtoKbdoKbtsLb9sKb9sMbdwJcd8OeeNAgP8KbtoJbdoJbdlNhhDfAAAAKnRSTlMA5XRFmvs6uoDy6a7fDL6UiVZKM/Xr2KVtQC4iB9HAhINkWk4rGxIEyKZjLy4vAAAA9UlEQVQ4y63Tx3KDMBRG4esiCM00B4zBvSQ57/+AAQTDQtLO34LVGeZnhisi+S5Ai49ikbKoOjEUoH79UQyZGfgoT7Q2AM8IQiKZ3aHyJq1MYLvUNYvwZgmSGBaZGchr/TVJA1Q5B1YlXJbg/VgbAs7dHNwCrFaNDnJcgnYMVqis2BgeNWyHoIFMrHziIbhCaQ/WqCE4s/+xB5F+w56d2H3zJ3CCq1gd4SAMNvbgAOUYqMQ1oR9H7+Sc0I+jlzonXHSQOycUOni5JvAeg9A5oeqfofMjnvpX8YHaViQR3PXhgFqZFISdPj0X1UhPH69FGD3lI/4Byd4yL9qZt7MAAAAASUVORK5CYII=');
      background-size: 92%;
      background-repeat: no-repeat;
    }
  }
}
