.logo {
  width: 65px;
  height: 32px;
  background: url('//file.baixing.net/202011/dc70acc77de03f734a229a542d70a5f4.png');
  background-size: cover;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

.content {
  margin: 16px;
  background: #fff;
}

.sideHeader {
  height: 72px;
  line-height: 72px;
  background: #005DC1;
}

.layoutHeader {
  height: 72px;
  line-height: 72px;
  text-align: right;
  color: #fff;
  background: #096DD9;
}
