extends ../layout

block styles
    :combine(fileName="site-template-3-product-detail-pc.css")

//- sem下去除导航栏的手机号
block official-nav-phone
  if isSem === '1'
    span 
  else 
    include ../../../common/pc/official-nav-phone.pug

block content
  if isSem !== "1"
    include ../components/common/breadcrumbs.pug
  .container.clearfix
    .company-top 
      include ../components/product-detail/media-show.pug
      +mediaShow()

    - let { productList:productRecommendList,name:productRecommendName } = renderData.productRecommend
    - productRecommendList = productRecommendList.slice(0,5)
    include ../components/product-detail/product-recom.pug

    .main
      include ../components/product-detail/product-content.pug
      include ../components/common/contact-form-companyInfo.pug
    if isSem !== "1"
      .sidebar
        - const { productCateList, articleCateList} = renderData
        include ../components/sidebar/cateList.pug
        +side-cateList('产品分类', productCateList)
        +side-cateList('文章分类', articleCateList)



block scripts
    :combine(fileName="site-template-3-product-detail-pc.js")
block append scripts
    script.
        window.extraContactFormData = { position: 6, id: #{renderData.productInfo.id} };
        window.contentType = 'product';
        window.adId = #{renderData.productInfo.id};
