.ant-modal-content {
  .quota-text {
    margin-bottom: 15px;
    .hightlight {
      color: rgb(255, 134, 0);
    }
  }
}

.article-form {
  .ant-upload.ant-upload-select-picture-card {
    width: 150px;
    height: 100px;
    border: 1px solid #d8d8d8;
  }
}
