@import './cate-list/index.styl'
@import './company-card.styl'
@import './products.styl'

.sidebar
  width 224px
  .sidebar-item__title
    box-sizing: border-box
    height: 50px
    line-height 50px
    padding-left: 20px
    text-align: left
    width: 100%
    background: #EAF2FF;
    font-size 18px
    border-radius: 4px 4px 0px 0px;
    font-weight: bold
    span
      display inline-block
  &-item
    box-shadow 0 4px 10px rgba(#000, 0.02);
    padding 15px
    background-color #fff
    margin-bottom 20px
    border: 1px solid #eeeeee
    border-radius: 4px
    &__content
      onverflow hidden
    .side-news-list
    .news
      display: block
      width: 100%
      color: #666666
      font-size: 14px
      margin-top: 14px
      &:first-child
        margin-top: 0