@import './cate-list/index.styl'
@import './company-card.styl'
@import './products.styl'

.sidebar
  margin-left 15px
  width 224px
  &-item
    box-shadow 0 4px 10px rgba(#000, 0.02);
    padding 15px
    background-color #fff
    margin-bottom 20px
    border: 1px solid #eeeeee
    border-radius: 4px
    &__content
      onverflow hidden
    &__title
      font-size 18px
      color #EC2525
      border-bottom 1px solid #ddd
      font-weight: bold
      span
        display inline-block
        padding-bottom 10px
        border-bottom 2px solid #EC2525
        margin-bottom -1px