extends ../layout
block styles
	:combine(fileName="sem-home-pc.css")

//-使用了统一的header和nav
block content
	.container 
		include ../components/home/banner-swiper.pug
		.line 
			.company-info-block
				//- 商家简介
				include ../components/home/company-info.pug
			.contact-us-block
				//- 联系我们
				include ../components/home/contact-us.pug
				
		//- 服务项目
		- const { productList } = renderData
		- const { result : proList} = productList || {}
		if proList && proList.length > 0
			include ../components/home/product-swiper.pug
		- let autoConfig = renderData.autoConfig&&renderData.autoConfig.length>0? renderData.autoConfig : [{mainModuleTitle:'企业优势',subModuleBos:[{fontColor:0,title:'质量在心中',content:'将产品质量与企业荣耀挂钩，踏踏实实地进行至今'},{fontColor:0,title:'名牌在手中',content:'以诚心待客户，口碑已积累在多年，当前在行业内小有名气，有口皆碑'},{fontColor:0,title:'责任在肩上',content:'坚持做到物美价廉，物有所值，让消费者放心'},{fontColor:0,title:'诚信在言行中',content:'重承诺，重言行，拿客户满意作为衡量服务的标准'}]}]
		include ../components/home/user-defined-module.pug
		+user-defined-module(autoConfig)
		
		//- 联系我们
		include ../components/home/contact-us-bottom.pug

block scripts
	:combine(fileName="sem-home-pc.js")
block append scripts
	script.
		// 预备打点
		window.trackSrc = 'home';