@import "./variable.styl"

//获取背景色
bg_color($color)
  //默认样式
  background-color standard[$color]
  for item in themeList
    [data-theme = {item.name}] & {
      background-color item[$color]
    }

//获取字体颜色
font_color($color)
  color standard[$color]
  for item in themeList
    [data-theme = {item.name}] & {
      color item[$color]
    }

// 获取边框颜色
border_color($width, $type, $color)
  color standard[$color]
  for item in themeList
    [data-theme = {item.name}] & {
      border $width $type item[$color]
    }
