form.contact-us__form
  .form-group
    .form-item
      .form-item__label.required 姓名
      .form-item__input 
        input(type="text", placeholder="请输入您的称呼")
    .form-item
      .form-item__label.required 联系方式
      .form-item__input 
        input(type="text", placeholder="请输入电话号码")
  .form-group
    .form-item
      .form-item__label 您的留言
      .form-item__input 
        textarea(name="", placeholder="请输入您的咨询留言")
  .form-group
    .form-item
      button 提交
