form.contact-us__form
  .form-group
    .form-item
      .form-item__label.required 姓名
      .form-item__input
        input#name(type="text", placeholder="请输入您的称呼")
    .form-item
      .form-item__label.required 联系方式
      .form-item__input
        input#tel(type="text", placeholder="请输入电话号码")
  .form-group
    .form-item
      .form-item__label 您的留言
      .form-item__input
        textarea#content(name="", placeholder="请输入您的咨询留言" style=!isSem?"":"min-height:120px")
  .form-group
    .form-item
      button 提交
  //-.result-msg
  //-  img(src="//file.baixing.net/202102/df2cf313c5d16b2e67284682258e04a8.png", alt="")
  //-  | 提交成功
  //-.form-group()  #{shopName}