.header.clearfix
	.avatar
		img(src="//file.baixing.net/201709/4916aa54f4b4c69b4c01591fe6a87046.png", alt="logo")
	p.company #{ companyName || '一站式企业服务有限公司' }
	.tel
		img(src="//file.baixing.net/矩形.png", alt="")
		.tel-hoticon
			img(src="//file.baixing.net/热线电话-icon.png", alt="")
		.tel-desc
			.tel-title 全国服务热线
			.tel-num
				| #{telephone || '18900000001'}