extends ../layout.pug
block styles
    :combine(fileName="site-template-1-news-wap.css")

block header
    include ../components/header

block content
    - const cateList = renderData.articleCateList
    include ../components/toptab

    include ../components/news-list
    - const { pageSize, totalPage, totalRecord } = renderData.articleList
    include ../components/pagination
    +pagination('/p/',2,4,5)


block scripts
    :combine(fileName="site-template-1-news-wap.js")
