extends ../layout

block styles
    :combine(fileName="site-template-2-product-pc.css")

block content
    include ../components/breadcrumbs.pug

    .container.clearfix
        .main
            include ../components/product/toptab.pug
            include ../components/product/product-list.pug

        .sidebar
            include ../components/sidebar/articles.pug
            include ../components/sidebar/products.pug


block scripts
    :combine(fileName="site-template-2-product-pc.js")
block append scripts
    script.
        window.contentType = 'product';
        window.trackSrc = 'listing';
