extends ../layout

block styles
    :combine(fileName="site-template-2-product-pc.css")

block content
    include ../components/common/breadcrumbs.pug

    .container.clearfix
        .main
            include ../components/product/toptab.pug
            - productList = renderData.productList.result
            include ../components/product/product-list.pug

            include ../components/common/pagination.pug
            - var totalPage = (renderData.productList && renderData.productList.totalPage) || 1
            +pagination(totalPage, currentPage, `${currentPathname}`)

        .sidebar
            - const sidecateList = renderData.articleCateList
            include ../components/sidebar/cateList.pug
            +side-cateList('文章分类', sidecateList)
            include ../components/sidebar/products.pug


block scripts
    :combine(fileName="site-template-2-product-pc.js")
block append scripts
    script.
        window.contentType = 'product';
        window.trackSrc = 'listing';
