
.search-type-tabs
  box-sizing: border-box
  display: flex;
  justify-content: center;
  gap: 90px;
  width: 100%
  height: 58px
  padding: 20px 10px
  background: white

  .item
    width: 94px;
    height: 36px;
    text-align: center;
    &.active
      font-weight: bold
      color: #336FFF
      border-bottom: solid 2px currentColor;

.search-results
  overflow hidden
  padding: 0 16px;
  height: 52px;
  line-height: 52px;
  font-size: 14px;
  .go-home
    color #336FFF

