.contact-box
	position fixed
	bottom 0
	width 100%
	background #fff
	display flex
	align-items center
	padding 11px 18px
	box-sizing border-box
	justify-content space-between

	.wechat-box
	.online-box
	.phone-box
		display flex
		align-items center
		justify-content center
		width 100px
		height 40px
		border-radius 2px
		border 1px solid transparent
		box-sizing border-box

	.phone-box
		background-color #FF6536
		p
			line-height 40px
			color #fff
			font-size 14px

	.wechat-box
	.online-box
		background-color #fff
		border-color #FF6536
		p
			display inline-block
			color #FF6536
			font-size 14px
			margin-left 4px
		.online-icon
			width 18px
			height 18px
			display inline-block
			background url("//file.baixing.net/202105/30cd243ff662bcf2b93fce723a0f7432.png") no-repeat center/100%
			margin 0
		.wechat-icon
			width 20px
			height 16px
			display inline-block
			background url("//file.baixing.net/202105/c8f23ab27c9fc0c5f326b4ee413e63e2.png") no-repeat center/100%
			margin 0
		