.contact-box
	position fixed
	bottom 0
	width 100%
	background #fff
	display flex
	align-items center
	padding 11px 18px
	box-sizing border-box
	justify-content space-between

	.wechat-box
	.online-box
	.phone-box
		display flex
		align-items center
		justify-content center
		width 100px
		height 40px
		border-radius 2px
		border 1px solid transparent
		box-sizing border-box

	.phone-box
		background-color $color-main
		p
			line-height 40px
			color #fff
			font-size 14px

	.wechat-box
	.online-box
		background-color #fff
		border-color $color-main
		p
			display inline-block
			color $color-main
			font-size 14px
			margin-left 4px
		.online-icon
			width 18px
			height 18px
			display inline-block
			background url("//file.baixing.net/202105/3635c1d224ac1bc8353518b143f39675.png") no-repeat center/100%
			margin 0
		.wechat-icon
			width 22px
			height 18px
			display inline-block
			background url("//file.baixing.net/202105/fe42ed14fb5fef0e534387fb6945589d.png") no-repeat center/100%
			margin 0
