@import "../layout"
@import "../components/header"
@import "../components/product-detail"
@import "../components/company-info-other"
@import "../components/product-recommend"
@import "../components/contact-form"
@import "../components/footer"
@import 'quill/dist/quill.snow.css'

