@import "../contact-phone-btn"
.official-footer-contact-container
  position fixed
  bottom 0
  width 100%
  background #fff
  display flex
  align-items center
  padding 10px 7px 10px 26px
  box-sizing border-box
  justify-content space-between
  background: linear-gradient(179deg, #FFC879 0%, #FF4466 100%);
  .wechat-box,.online-box
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-right 20px
    .text
      font-size: 14px;
      color: #FFFFFF;
  .wechat-box
    .icon
      width: 23px
      height: 21px
  .online-box
    .icon
      width: 21px
      height: 22px
    
 