.shop-container {
  position: relative;
  padding: 30px;
  background: #fff;
  min-height: calc(100vh - 164px);
  margin: 16px;
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .add-btn {
      height: 40px;
      padding: 0 28px;
      line-height: 40px;
      font-size: 14px;
      color: #ffffff;
    }
    .serach-input {
      width: 280px;
      margin-left: 20px;
    }
    .add-tip {
      margin-left: 16px;
      font-size: 14px;
      color: #999999;
      line-height: 20px;
      .tip-shopping {
        color: #ff8d19;
      }
    }
  }
  .shop-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.ticket-list {
  height: 220px;
  overflow: auto;
  .ticket-list-item_diable{
      opacity: .6;
      &:hover{
        cursor: not-allowed;
      }
  }
  .ticket-list-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      position: relative;
      text-align: center;
      margin: 10px;
      strong {
        font-weight: bold;
        color: #096dd9;
      }
      &:nth-child(n+2):not(:nth-last-child(-n+2))::after {
        content: "";
        display: inline-block;
        width: 2px;
        height: 14px;
        position: absolute;
        top: 4px;
        right: -10px;
        background: #096dd9;
      }
    }
  }
  .active-item {
    border: 2px solid #096dd9;
  }
}
