@import "../components/common"
@import "../components/header"
@import "../components/product-list"
@import "../components/footer"
@import "../components/contact"
@import "../components/toptab"
@import "../components/pagination"

body
    background-color #f5f5f5