# README: https://www.processon.com/diagraming/610222b5637689719d2e94a7

image: registry.gitlab.baixing.cn/arch/base-images/docker:latest

variables:
  REGISTRY_BASE: registry.gitlab.baixing.cn/fenlei/midway-fe
  MIDWAY_FE: registry.gitlab.baixing.cn/fenlei/midway-fe:${CI_PIPELINE_ID}

stages:
  - install
  - build
  - release
  - deploy
  - prod-release
  - prod-deploy

# ############################################ dev-configure-start

# 安装 Nest 以及审核后台相关依赖
nest-install:
  stage: install
  tags:
    - k8s-dev-build
  only:
    refs:
      - feat-speed-up-ci@fenlei/midway-fe
      - dev@fenlei/midway-fe
      - test@fenlei/midway-fe
      - test1@fenlei/midway-fe
      - test2@fenlei/midway-fe
    changes:
      - package-lock.json
  image: node:12.22-alpine
  cache:
    key: midway-fe:nest-install
    policy: push
    paths: 
      - node_modules/
  script:
    - npm set registry https://registry.npm.taobao.org
    - npm set progress=false
    - npm ci --silence

# 安装 MVIP 后台相关依赖
mvip-install:
  stage: install
  tags:
    - k8s-dev-build
  only:
    refs:
      - feat-speed-up-ci@fenlei/midway-fe
      - dev@fenlei/midway-fe
      - test@fenlei/midway-fe
      - test1@fenlei/midway-fe
      - test2@fenlei/midway-fe
    changes:
      - app/mvip-manager/package.json
  image: node:12.22-alpine
  cache:
    key: midway-fe:mvip-install
    policy: push
    paths: 
      - app/mvip-manager/node_modules/
  script:
    - cd app/mvip-manager/
    - npm set registry https://registry.npm.taobao.org
    - npm set progress=false
    - npm ci --silence

# 打包 Nest 以及静态资源（店铺+审核后台）
nest-build:
  stage: build
  only:
    refs:
      - feat-speed-up-ci@fenlei/midway-fe
      - dev@fenlei/midway-fe
      - test@fenlei/midway-fe
      - test1@fenlei/midway-fe
      - test2@fenlei/midway-fe
    changes:
      - assets/**/*
      - src/**/*
      - views/**/*
      - nest-cli.json
  tags:
    - k8s-dev-build
  image: node:12.22-alpine
  cache: 
    key: midway-fe:nest-install
    policy: pull
    paths:
      - node_modules/
  cache: 
    key: midway-fe:nest-build
    policy: push
    paths:
      - dist/
  script:
    - if [ "$CI_COMMIT_REF_SLUG" == "feat-speed-up-ci" ]; then ENV="dev"; else ENV="$CI_COMMIT_REF_SLUG"; fi
    - echo "[ENV] "$ENV
    - export NODE_ENV=$ENV
    - npm run build:nest
    - export NODE_ENV=production
    - npm run build:apps

nest-build-skipped:
  stage: build
  only:
    refs:
      - feat-speed-up-ci@fenlei/midway-fe
      - dev@fenlei/midway-fe
      - test@fenlei/midway-fe
      - test1@fenlei/midway-fe
      - test2@fenlei/midway-fe
  except:
    changes:
      - assets/**/*
      - src/**/*
      - views/**/*
      - nest-cli.json
  tags:
    - k8s-dev-build
  image: node:12.22-alpine
  cache: 
    key: midway-fe:nest-build
    policy: pull
    paths:
      - dist/
  script:
    - echo "nest build skipped"
  artifacts:
    expire_in: 24 hrs
    paths:
      - dist/

# 打包 MVIP 后台
mvip-build:
  stage: build
  only:
    refs:
      - feat-speed-up-ci@fenlei/midway-fe
      - dev@fenlei/midway-fe
      - test@fenlei/midway-fe
      - test1@fenlei/midway-fe
      - test2@fenlei/midway-fe
    changes:
      - app/mvip-manager/src/**/*
  tags:
    - k8s-dev-build
  image: node:12.22-alpine
  cache: 
    key: midway-fe:mvip-install
    policy: pull
    paths:
      - app/mvip-manager/node_modules/
  cache: 
    key: midway-fe:mvip-build
    policy: push
    paths:
      - app/mvip-manager/dist/
  script:
    - export ENV=dev
    - npm run build:mvip

mvip-build-skipped:
  stage: build
  only:
    refs:
      - feat-speed-up-ci@fenlei/midway-fe
      - dev@fenlei/midway-fe
      - test@fenlei/midway-fe
      - test1@fenlei/midway-fe
      - test2@fenlei/midway-fe
  except:
    changes:
      - app/mvip-manager/src/**/*
  tags:
    - k8s-dev-build
  image: node:12.22-alpine
  cache: 
    key: midway-fe:mvip-build
    policy: pull
    paths:
      - app/mvip-manager/dist/
  script:
    - echo "mvip build skipped"
  artifacts:
    expire_in: 24 hrs
    paths:
      - app/mvip-manager/dist/

# Dockerize
release:
  stage: release
  only:
    - feat-speed-up-ci@fenlei/midway-fe
    - dev@fenlei/midway-fe
    - test@fenlei/midway-fe
    - test1@fenlei/midway-fe
    - test2@fenlei/midway-fe
  tags:
    - k8s-dev-build
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.baixing.cn
    - if [ "$CI_COMMIT_REF_SLUG" == "feat-speed-up-ci" ]; then ENV="dev"; else ENV="$CI_COMMIT_REF_SLUG"; fi
    - echo "[ENV] "$ENV
    - docker build -t $MIDWAY_FE -f ./${ENV}.Dockerfile .
    - docker push $MIDWAY_FE

# 部署
deploy:
  stage: deploy
  only:
    - feat-speed-up-ci@fenlei/midway-fe
    - dev@fenlei/midway-fe
    - test@fenlei/midway-fe
    - test1@fenlei/midway-fe
    - test2@fenlei/midway-fe
  tags:
    - aliyun-k8s-dev
  cache: {}
  dependencies: []
  script:
    - >
      if [ "$CI_COMMIT_REF_SLUG" == "feat-speed-up-ci" ]; then
        kubectl set image -n bxapplets deployments --selector app=midway-fe *=$MIDWAY_FE;
      elif [ "$CI_COMMIT_REF_SLUG" == "dev" ]; then
        kubectl set image -n cat deployments --selector app=midway-fe *=$MIDWAY_FE;
      elif [ "$CI_COMMIT_REF_SLUG" == "test" ]; then
        kubectl set image -n test-cat deployments --selector app=midway-fe *=$MIDWAY_FE;
      elif [ "$CI_COMMIT_REF_SLUG" == "test1" ]; then
        kubectl set image -n bxapplets deployments --selector app=midway-fe *=$MIDWAY_FE;
      elif [ "$CI_COMMIT_REF_SLUG" == "test2" ]; then
        kubectl set image -n test-bxapplets deployments --selector app=midway-fe *=$MIDWAY_FE;
      fi;

# ############################################ product-configure-start
# 暂先不动生产环境的 CI/CD，怕弄坏

prod-release:
  stage: prod-release
  only:
    - master@fenlei/midway-fe
#  tags:
#    - k8s-dev-build
  cache: {}
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.baixing.cn
    - docker build --pull -t $MIDWAY_FE .
    - docker push $MIDWAY_FE
    - docker rmi $MIDWAY_FE

prod-deploy:
  stage: prod-deploy
  when: manual
  only:
    - master@fenlei/midway-fe
  tags:
    - aliyun-prod-deploy
  script:
    - kubectl set image -n cat deployments --selector app=midway-fe *=$MIDWAY_FE
