# README: https://www.processon.com/diagraming/610222b5637689719d2e94a7

image: docker

variables:
  REGISTRY_BASE: registry.gitlab.baixing.cn/fenlei/midway-fe
  MIDWAY_FE: registry.gitlab.baixing.cn/fenlei/midway-fe:${CI_PIPELINE_ID}

stages:
  - test-install
  - test-build
  - test-release
  - test-deploy
  - release
  - prod-deploy

# ############################################ test-configure-start

test-nest-install:
  stage: test-install
  tags:
    - k8s-dev-build
  only:
    refs:
      - dev@fenlei/midway-fe
      - test@fenlei/midway-fe
      - test1@fenlei/midway-fe
      - test2@fenlei/midway-fe
    changes:
      - package-lock.json
  image: node:12.2
  cache:
    key: $CI_COMMIT_REF_SLUG:nest-install
    paths: 
      - node_modules/
  script:
    - npm set registry https://registry.npm.taobao.org
    - npm set progress=false
    - npm ci --silence

test-mvip-install:
  stage: test-install
  tags:
    - k8s-dev-build
  only:
    refs:
      - dev@fenlei/midway-fe
      - test@fenlei/midway-fe
      - test1@fenlei/midway-fe
      - test2@fenlei/midway-fe
    changes:
      - app/mvip-manager/package.json
  image: node:12.2
  cache:
    key: $CI_COMMIT_REF_SLUG:mvip-install
    paths: 
      - app/mvip-manager/node_modules/
  script:
    - cd app/mvip-manager/
    - npm set registry https://registry.npm.taobao.org
    - npm set progress=false
    - npm ci --silence

test-nest-build:
  stage: test-build
  only:
    - dev@fenlei/midway-fe
    - test@fenlei/midway-fe
    - test1@fenlei/midway-fe
    - test2@fenlei/midway-fe
  tags:
    - k8s-dev-build
  image: node:12.2
  cache: 
    key: $CI_COMMIT_REF_SLUG:nest-install
    paths:
      - node_modules/
    policy: pull
  script:
    - npm run release:dev
  artifacts:
    expire_in: 24 hrs
    paths:
      - dist/

test-mvip-build:
  stage: test-build
  only:
    - dev@fenlei/midway-fe
    - test@fenlei/midway-fe
    - test1@fenlei/midway-fe
    - test2@fenlei/midway-fe
  tags:
    - k8s-dev-build
  image: node:12.2
  cache: 
    key: $CI_COMMIT_REF_SLUG:mvip-install
    paths:
      - node_modules/
      - app/mvip-manager/node_modules/
    policy: pull
  script:
    - cd app/mvip-manager/
    - npm run build:dev
  artifacts:
    expire_in: 24 hrs
    paths:
      - app/mvip-manager/dist/

test-release:
  stage: test-release
  only:
    - dev@fenlei/midway-fe
    - test@fenlei/midway-fe
    - test1@fenlei/midway-fe
    - test2@fenlei/midway-fe
  tags:
    - k8s-dev-build
  script:
    - cp -r app/mvip-manager/dist/* dist/public
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.baixing.cn
    - docker build --pull -t $MIDWAY_FE -f ./test.Dockerfile .
    - docker push $MIDWAY_FE
    
test-deploy:
  stage: test-deploy
  only:
    - dev@fenlei/midway-fe
    - test@fenlei/midway-fe
    - test1@fenlei/midway-fe
    - test2@fenlei/midway-fe
  tags:
    - aliyun-k8s-dev
  cache: {}
  script:
    - if [ "$CI_COMMIT_REF_SLUG" == "test" ]; then N="test-cat"; else N="bxapplets"; fi
    - kubectl set image -n ${N} deployments --selector app=midway-fe *=$MIDWAY_FE

# ############################################ product-configure-start
# 暂先不动生产环境的 CI/CD，怕弄坏

release:
  stage: release
  only:
    - master@fenlei/midway-fe
#  tags:
#    - k8s-dev-build
  cache: {}
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.baixing.cn
    - docker build --pull -t $MIDWAY_FE .
    - docker push $MIDWAY_FE
    - docker rmi $MIDWAY_FE

deploy:
  stage: prod-deploy
  when: manual
  only:
    - master@fenlei/midway-fe
  tags:
    - aliyun-prod-deploy
  script:
    - kubectl set image -n cat deployments --selector app=midway-fe *=$MIDWAY_FE
