.tdk-box{
  border:1px solid #D8D8D8;
  h4{
    border-bottom: 1px solid #D8D8D8;
    height: 57.5px;
    line-height: 57.5px;
    padding-left: 20px;
  }
  .t-content{
    display: flex;
    .t-menu{
      width: 216.5px;
      .a-menu{
      }
    }
  }
}
