.aboutus
  background-color: #fff
  margin-top: 10px
  .top-box 
    padding: 0  20px
    background-image: url(//file.baixing.net/202105/8145322c9bd060bbddd3b5cde2aa46d4.png)
    background-size cover
    .desc 
      font-size: 14px;
      color: #FFFFFF;
      line-height: 14px;
      overflow hidden
      text-overflow ellipsis
      display -webkit-box
      -webkit-box-orient vertical
      -webkit-line-clamp 5
      word-break break-all
  .bottom-box 
    .aboutus-item
      .aboutus-icon
        width 40px
        height 40px
        margin-right 12px
      .aboutus-text
        font-size: 14px;
        color: #333333;
        line-height: 14px;