.aboutus
  .aboutus-title-box
    display flex
    justify-content space-between
    align-items center
    padding 0 20px 0 15px
    height 50px
    background-color #fff
    border-bottom 1px solid #E2E2E2
    .title
      font-size 16px
      font-weight bold
      color #333333
  .bottom-box
    margin-bottom 10px
    padding 20px 15px
    background-color #fff
    .aboutus-item
      display flex
      justify-content start
      align-items center
      position relative
      &+.aboutus-item
        margin-top 15px
      .aboutus-icon
        width 40px
        height 40px
        margin-right 12px
      .aboutus-text
        margin-right 20px
        font-size 14px
        color #666
        line-height 14px
        max-width 260px
        .aboutus-info
          font-weight: bold;
          color: #333333;
      .copy-data
        font-size 12px
        line-height 14px
        color $color-main
      .more
        width 9px
        height 9px
        position absolute
        top 50%
        right 17px
        transform rotate(45deg) translateY(-80%)
        border-top 2px solid #999999
        border-right 2px solid #999999



