@import "../layout"
@import "../components/header"
@import "../components/swiper"
@import "../components/product-list-hot"
@import "../components/product-list-new"
@import "../components/default-content"
@import "../components/user-defined-module-new"
@import "../components/aboutus"
@import "../components/contact-form"
@import "../components/contact-form"
@import "../components/footer"
@import "../components/company-info-home"
// 用于sem投放 禁止外跳 弹窗样式
@import "../../../common/wap/contact-form-sem"
// 用于弹出的弹窗
@import "../../../common/wap/official-popup"

//写标题2边的红点
.block-container
  margin-bottom 10px
  padding: 0 12px
  background-color: #fff
  .block-title
    padding: 0 6px
    line-height: 44px;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    border-bottom: 1px solid #EEEEEE
  .block-content
    padding: 16px 0
