@import "../layout"
@import "../components/header"
@import "../components/swiper"
@import "../components/news-detail"
@import "../components/company-info"
@import "../components/default-content"
@import "../components/aboutus"
@import "../components/contact-form"
@import "../components/footer"
