.ai-create-task-box {
  padding: 0 16px;

  .ai-quota-tip {
    padding-top: 18px;
    padding-left: 32px;
    .num {
      color: rgb(255, 149, 17);
    }
  }

  .ai-handle-tips {
    background: #fff;
    padding: 27px 45px;
    margin-top: 16px;

    li {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      letter-spacing: 0;
      text-align: justify;
      line-height: 35px;

      .tip {
        color: rgb(255, 149, 17);
      }
    }
  }

  .group-words-list {
    margin-bottom: 30px;

    .group-words-item {
      .form-item-header {
        margin-bottom: 8px;
        line-height: 32px;
        color: #333;
      }
      :global {
        .ant-form-item-with-help {
          margin-bottom: 24px;
        }
      }
      .words-num {
        margin-bottom: 5px;
        transform: translateY(-14px);
        font-size: 12px;
        color: #666;
      }
      .ai-content-actions {
      }
    }

    .form-item-header {
      display: flex;
      justify-content: space-between;
    }

    .suffix-container-dropdown {
      width: 100px;
    }

    textarea {
      resize: none;
      padding: 10px 15px;
    }
  }

  .group-words-rules {
    font-size: 14px;
    color: #999;
    margin-top: 32px;

    span {
      margin: 0 16px;
    }
  }

  .create-question-btn {
    width: 120px;
    height: 40px;
    background: #096dd9;
    border-color: #096dd9;
    color: #fff;
  }

  .not-auth-tip {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    letter-spacing: 0;
    text-align: justify;
    line-height: 35px;
    color: rgb(255, 149, 17);
  }

  :global {
    .ant-select-selection--multiple {
      width: 100px;
      max-height: 32px;
      overflow: hidden;
    }
  }
}
