
.modal {
  .diamond-title {
    width: 100%;
    height: 100%;
    margin: 0;
    color: black;
    font-size: 19px;
    .diamond-company {
      color: #f1492c;
      font-weight: bold;
    }
  }
}

.diamond-form {
  position: relative;
 .record-btn {
   position: absolute;
   bottom: -35px;
   left: 665px;
 }
 .record-icon {
   color: #f1492c;
   font-weight: bold;
 }
}