@import '../../cards-page/cards-container/index.less';

.image-card {
  .card();
  height: 170px;

  .cover {
    flex-grow: 1;
    height: auto;
    max-height: 170px;
    object-fit: cover;
    object-position: top;
  }
}
