extends ../layout.pug
block styles
  :combine(fileName="site-template-2-home-wap.css")

block header
  include ../components/header
  include ../components/swiper
  +swiper('home')
  if isSem !== "2" && isSem !== "1"
    - const {tags} = renderData.about ||renderData.basic.aboutModule  || {}
    include ../components/company-info-home
    +company-info-home(tags)
  if isSem !== "1"
      include ../components/nav

block content
  - hotProductList = renderData.productRecommend.productList.slice(0,12)
  - name = renderData.productRecommend.name || '热门推荐'
  .block-container 
    .block-title #{ name }
    .block-content 
      include ../components/product-list-hot.pug
      +product-list-hot(hotProductList)

  //-自定义模块1（即之前的企业优势模块）
  - const { autoConfig } = renderData
  if autoConfig && autoConfig[0] && autoConfig[0].show
    include ../components/user-defined-module-new.pug
    +user-defined-module-new(autoConfig[0])

  if isSem !== "1"
    include ../components/aboutus.pug
    +aboutus('home')

  .block-container 
    .block-title 最新产品
    .block-content 
      include ../components/product-list-new.pug
      - productList = renderData.productList.result.slice(0,6)
      +product-list-new(productList)

  include ../components/home-news-list-module.pug
  - const { name:articleListName,articleList:{result:articleList,totalPage} } = renderData.articleList
  if articleList && articleList.length >0
    +news-module-list(articleList,articleListName)

  include ../components/contact-form.pug

  //- 用于sem禁止外跳
  include ../../../common/wap/contact-form-sem.pug
  +contactFormSem('#FF2D38')



block scripts
  :combine(fileName="site-template-2-home-wap.js")
block append scripts
  script.
    window.extraContactFormData = { position: 1 };
    window.trackSrc = 'home';
