@import 'swiper/dist/css/swiper.min.css'

#banner-list
  .swiper-container
    width 100%
    height 100%
    .swiper-wrapper
      height 100%
      .swiper-slide
        position relative
        img
          width 100%
          height 100%
        .video-cover
          position absolute
          top 0
          left 0
          width 100%
          z-index 9
          cursor pointer
        .video-wrapper 
          width 100%
          text-align center
          video
            cursor pointer
            z-index 9
        img,
        video,
        .video-cover,
        .video-wrapper
          height 100%

    .swiper-pagination-bullet-active
        background $color-main

    .swiper-button-prev
      left 4%
      width 50px
      height 50px
      background url(//file.baixing.net/202105/05348a4efc053232fdd668940bd756a8.png) no-repeat center center/100%
      &:hover
        background url(//file.baixing.net/202105/4ec4c9301b4dfdddcabc6f00c51d541d.png) no-repeat center center/100%
        transform rotate(180deg)

    .swiper-button-next
      right 4%
      width 50px
      height 50px
      top 50%
      background url(//file.baixing.net/202105/05348a4efc053232fdd668940bd756a8.png) no-repeat center center/100%
      transform rotate(180deg)
      &:hover
        background url(//file.baixing.net/202105/4ec4c9301b4dfdddcabc6f00c51d541d.png) no-repeat center center/100%
        transform rotate(0)

