.search-crumbs
	display: flex
	justify-content flex-start
	padding-left: calc((100% - 1220px) / 2)
	height 40px
	line-height 40px
	background-color: #f7f7f7;
	p
		width 80px
		font-size 12px
		color #666
	ul
		li
			display inline-block
			margin-right 14px
			position relative
			.right-arrow
				display inline-block
				width 8px
				height 8px
				border-top 1px solid #666
				border-right 1px solid #666
				transform rotate(45deg)
				line-height 8px
				position absolute
				top calc(50% - 4px)
				left -8px
			a,span
				display inline-block
				font-size 12px
				color #666
				margin-left 10px





