.user-defined-about-subtitle
    font-size 16px
    color #333333
    margin 30px 30px
    font-weight bold
.user-defined-about-list
	background-color #FFFFFF
	padding 55px 75px
	.user-defined-about-item
		width 1060px
		display flex
		//flex-wrap wrap
		justify-content space-between
		margin-bottom 60px
		&:last-child
			margin-bottom 0
		.number
			color #FA774F
			font-size 60px
			font-weight 100
			padding-right 30px
			transform translateY(-15px)
		.title
			font-size 22px
			font-weight bold
			margin-bottom 15px
		.user-defined-line
			width 30px
			height 3px
			background-color #D8D8D8
			margin-bottom 25px
		.content
			margin 0
			width 960px
			color #666666
			font-size 16px