.page-normal
	padding-left: 20px
	text-align left
	margin-top 39px
	.page-item
		display: inline
		color #333
		cursor pointer
	.page-item
		border 1px solid#E5E5E5
		padding 12px 15px
		text-decoration none
		border-radius: 2px;
		&:not(:first-child)
			margin-left 8px
	.first-pages
		padding: 12px 10px
	.last-pages
		padding: 12px
//未选中的分页页码样式，和鼠标滑过样式如下
.page-normal
	.page-item:hover
		color #FFF
