.about-us-bgc
  .about-us-content
    .content-left
      img(src="#")
    .content-right
      .content-right-title
        .right-title-left
          img(src="#")
          p.left-title 上海小猫咪爱宠医院
        .right-title-right
          - var tag = ['1','2','3']
          each item in tag
            p.tag= item
      .content-right-body
        p.body-content 这是医院简介
        span.view-detail 查看详情
      .content-right-bottom
        .bottom-left
          img(src="#")
          .bottom-phone
            p.service-hot 服务热线
            p.service-tel 133
              span.showphone ****
              | 4772
        .bottom-right 查看完整电话
          
