.about-us-bgc
	.about-us-content
		.about-us-text
			.title 关于我们
			.title-line
			.content
				| !{ company.about.replace(/\n/g, '<br/>') || '暂时还未上传公司简介哦...' }
			- let aboutUrl2 = currentPathname.indexOf(shopName)===-1?'/about': '/'+shopName+'/about'
			a.view-more(href=aboutUrl2) 查看更多
		.about-us-picture
			.pic-border
			.picture