mixin home-title(title,color,textColor)
  h2.block-title-box
    .block-line(style=`background-color:${color}`)
    .block-title(style=`color:${textColor}`) #{ title } 
    .block-line(style=`background-color:${color}`)
    