//-单个产品结构
mixin item(item)
  a.product(href=item.urlSuffix)
    .product-img
      img(src= item.headImg || defaultImg)
    .product-desc
      p.only-oneline #{ item.name }
      .vad-btn 查看详情

#product-swiper-box
  each p in proList.slice(0,12)
    +item(p)


