//-单个产品结构
mixin item(item)
  a.product(href=item.urlSuffix)
    .product-img
      img(src= item.headImg || defaultImg)
    .product-desc
      p.only-oneline #{ item.name }
      .vad-btn 查看详情

#product-swiper-box
  .swiper-container
    .swiper-wrapper
      .products.swiper-slide
        each p in proList.slice(0,4)
          +item(p)

      if proList.length > 4
        .products.swiper-slide
          each p in proList.slice(4,8)
            +item(p)

  if proList.length > 4
    .swiper-button-next
    .swiper-button-prev


