mixin self-advantage(configItem)
	- const dataList = configItem.slice(0,10)
	#self-advantage(class=dataList.length<=3?'self-advantage one-line':'self-advantage')
		each item in configItem.slice(0,10)
			.advanItem
				img(src = item.urlImg )
				.title #{ item.title }
				//- .selfAdvan-line 
				.content #{ item.content }
