@import "../components/common"
@import "../components/topbar"
@import "../components/header"
@import "../components/breadcrumbs"
@import "../components/product/product-list"
@import "../components/product/toptab"
//@import "../components/sidebar/articles"
@import "../components/sidebar/products"
@import "../components/customer-service"
@import "../components/footer"
@import "../components/sidebar/index"
@import "../components/pagination"


.container
    width 1220px
    margin 40px auto 72px
    display flex
    .main
    //    float left
        width 980px
    .side-bar
    //    float right
        width 224px
        margin-left 15px