#product-swiper-box
  position relative
  .swiper-wrapper
    height auto

  .products
    a.product
      display block
      //width 192px
      border 1px solid transparent
      &:hover
        border-color #f7f7f7
      img
        width 100%
        height 128px !important
      .product-desc
        width 100%
        background-color #F7F7F7
        padding 15px 0
        p
          font-size 12px
          margin 0 13px
          width calc(100% - 26px)
          color #666
          overflow hidden
          text-overflow ellipsis
          display -webkit-box
          -webkit-box-orient vertical
          -webkit-line-clamp 2
          word-break break-all
