.ant-modal-close-x
  padding-top 20px

.verify-word-modal
  .ant-collapse-header
    font-weight bold
  .list
    max-height 400px
    overflow auto
    margin-bottom 32px
  .action
    text-align center
    button:first-child
      margin-right 16px
