header.header
  if !isDetail
    .header-logo(style=`background-image:url(${company.logo || "//file.baixing.net/201709/4916aa54f4b4c69b4c01591fe6a87046.png"})`)
    h1.header-name.only-oneline #{ company.name }
    .header-certificate(style=`background-image:url("//file.baixing.net/202102/040014dd6a47c01a5ec225974f3347ae.png")`)
  else
    .back-icon
    .title #{ title }
    a(href=nav[0].content)
      img(src="//file.baixing.net/202103/dc5a0b707eae90e79377306e94eed51f.png", alt="icon")


