mixin news-module-list(newsList,title)
	if isBaiduPin==='baidu_pinzhuan' && pinZhuan
	else
		if newsList && newsList.length >0
			.news-list-title-box
				.title #{title}
				a.more(href=newsLink) 查看全部
			include ../components/home-news-list.pug
			+news-list(newsList)
