mixin news-list(lists)
  if lists.length === 0
    include ./default-content.pug
    +default-content("")
  else
    .news-list
      each item in lists
        a.item(href=item.urlSuffix)
          h3 #{ item.name }
          p #{ dateFormat2(item.modifiedTime) }
          .text.only-oneline #{ item.limitText }

