mixin product-list(type, productList)
	if productList.length === 0
		include ./default-content.pug
		+default-content("product")
	else
		.products-con
			each item in productList
				a.product(href=item.urlSuffix)
					.product__img
						img(src=item.headImg || defaultImg)
					p.only-twoline #{ item.name }
