mixin product-list(type, productList)
	if productList && productList.length >0
		.products
			each item in productList
				a.product(href=item.urlSuffix)
					.product__img
						img(src=item.headImg || defaultImg)
					p.only-twoline #{ item.name }
	else
		include ./default-content.pug
		+default-content("product")
