mixin product-list(type, productList)
	- hotIcon = "//file.baixing.net/202102/976434a28b9338d0efb0ad9e451c59d4.png"
	if productList && productList.length >0
		.products
			each item in productList
				a.product(href=item.urlSuffix)
					.product__img
						img(src=item.headImg || defaultImg)
						if type === 'hot'
							img.hot-icon(src=hotIcon)
					p #{ item.name }
	else
		include ./default-content.pug
		+default-content("product")
