//-这里要改成B2B模板的新样式
.tab-header
    .sample
        each item,index in cateList
            a(href=item.urlSuffix).tab-active
                p #{item.name}
    img(src="//file.baixing.net/202102/a3ff55e3142c133ab3d984fed7132bf7.png", alt="")

    ul.all
        each item,index in cateList
            li(class='tab-li')
                a(href=item.urlSuffix) #{item.name}
