.toolbar.ql-snow .ql-picker.ql-header .ql-picker-label::before,
.toolbar.ql-snow .ql-picker.ql-header .ql-picker-item::before {
  content: "标题";
}
.toolbar.ql-snow
  .ql-picker.ql-header
  .ql-picker-label[data-value="default"]::before,
.toolbar.ql-snow
  .ql-picker.ql-header
  .ql-picker-item[data-value="default"]::before {
  content: "默认";
}
.toolbar.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="1"]::before,
.toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
  content: "H1";
}
.toolbar.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="2"]::before,
.toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
  content: "H2";
}
.toolbar.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="3"]::before,
.toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
  content: "H3";
}
.toolbar.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="4"]::before,
.toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
  content: "H4";
}
.toolbar.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="5"]::before,
.toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="5"]::before {
  content: "H5";
}
.toolbar.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="6"]::before,
.toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="6"]::before {
  content: "H6";
}
.toolbar.ql-snow
  .ql-picker.ql-size
  .ql-picker-label[data-value="default"]::before,
.toolbar.ql-snow
  .ql-picker.ql-size
  .ql-picker-item[data-value="default"]::before {
  content: "默认";
}
.toolbar.ql-snow
  .ql-picker.ql-size
  .ql-picker-label[data-value="small"]::before,
.toolbar.ql-snow
  .ql-picker.ql-size
  .ql-picker-item[data-value="small"]::before {
  content: "小号";
}
.toolbar.ql-snow
  .ql-picker.ql-size
  .ql-picker-label[data-value="large"]::before,
.toolbar.ql-snow
  .ql-picker.ql-size
  .ql-picker-item[data-value="large"]::before {
  content: "中号";
}
.toolbar.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="huge"]::before,
.toolbar.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="huge"]::before {
  content: "大号";
}
