.contact-form-sem
  display: flex
  justify-content: center
  align-items: center
  width: 100vw
  height: 100vh
  position: fixed
  top: -100vh
  left: 0
  z-index 1000
  background-color: rgba(0,0,0,.2)
  .contact-form-content
    box-sizing: border-box
    position relative
    justify-content: center;
    align-items: center
    padding 20px 30px 0
    background-color #fff 
    .contact-form-sem-close
      position: absolute
      top 0px
      right 10px
      color: #f46
      font-size: 40px
      line-height: 50px
      cursor pointer
