//-侧边栏分类列表
.category-list
	each item in cateList.length >= 10 ? cateList.slice(0,11) : cateList
		a.category-btn(href="/" + renderData.shopName + item.urlSuffix)
			img(src="//file.baixing.net/202011/662cdaca84672d121a95e259a2a323c5.png", alt="")
			span #{ item.name }
