//-- const companyInfo= renderData.basic.company
.contact
	dl.clearfix
		if companyInfo.name
			dt 公司名称：
			dd #{ companyInfo.name }
		if companyInfo.address
			dt 公司地址：
			dd #{ companyInfo.address }
		if renderData.basic.contact.phone.content
			dt 营业电话：
			dd
				span #{ renderData.basic.contact.phone.content }
		if renderData.basic.contact.qq && renderData.basic.contact.qq.length>0
			each item in renderData.contact.qq
				dt
					div #{item.name}：
				dd
					a(href="http://wpa.qq.com/msgrd?v=3&uin="+item.content+"&site=qq&menu=yes" target="_blank")
						img(src="//file.baixing.net/202012/bfe4e2110056dc2052f8dab9132ebdcb.png", alt="")

