.recommend
    - recom = renderData.productRecommend
    if recom && recom.length>0
        ul
            each item in recom.length>=5 ? recom.slice(0,5) : recom
                li
                    a(href=item.urlSuffix)
                        img(src=item.headImg || '//file.baixing.net/202011/722f557a62889f098f7843fd3481e22b.png', alt="")
                        .rec-text #{item.name}
    else
        a 暂时没有数据哦