.recommend
    - const newsList = [{name:'新房搬家的讲究新房搬家的讲究新房搬家的讲究',url:'#',avatar:'//file.baixing.net/201709/4916aa54f4b4c69b4c01591fe6a87046.png'},{name:'2020年6月适宜搬家的黄道吉日',url:'#',avatar:'//file.baixing.net/201709/4916aa54f4b4c69b4c01591fe6a87046.png'},{name:'如何选择比较好的搬家公司',url:'#',avatar:'//file.baixing.net/201709/4916aa54f4b4c69b4c01591fe6a87046.png'},{name:'搬家需要注意哪些',url:'#',avatar:'//file.baixing.net/201709/4916aa54f4b4c69b4c01591fe6a87046.png'},{name:'搬新家带走扫帚好吗',url:'#',avatar:'//file.baixing.net/201709/4916aa54f4b4c69b4c01591fe6a87046.png'},{name:'如何上百姓网站找好的搬家公司有人知道吗',url:'#',avatar:'//file.baixing.net/201709/4916aa54f4b4c69b4c01591fe6a87046.png'}]
        //-默认最多展示5条
    ul.item
        each item in newsList.length>5 ? newsList.slice(0,5) : newsList
            li
                a(href=item.url)
                    .a-area
                        img(src=item.avatar, alt="")
                        div #{item.name}