.news-list
    - const newsList = [{name:'新房搬家的讲究',url:'#'},{name:'2020年6月适宜搬家的黄道吉日',url:'#'},{name:'如何选择比较好的搬家公司',url:'#'},{name:'搬家需要注意哪些',url:'#'},{name:'搬新家带走扫帚好吗',url:'#'},{name:'如何上百姓网站找好的搬家公司有人知道吗',url:'#'},{name:'如果数据不知道咋写',url:'#'},{name:'如何选择比较好的搬家公司',url:'#'},{name:'如何选择比较好的搬家公司',url:'#'}]
    ul.news-list-items
        //-默认最多展示10条
        each item in newsList.length>10 ? newsList.slice(0,10) : newsList
            li
                a(href=item.url) #{item.name}
    a.news-more-btn(href="#") 查看更多
