extends ../../../layout.pug

block styles
    link(rel="stylesheet", href="/assets/site-template-1-home.css")
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

block header
    include ../components/header.pug

block content
    include ../components/nav.pug
    include ../components/swiper.pug
    .main
        include ../components/company-profile.pug

    p.main #{tips}

block scripts
    script(src="https://unpkg.com/swiper/swiper-bundle.js")
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(src="/assets/site-template-1-home.js")

