extends ../layout

block styles
    link(rel="stylesheet", href="/assets/site-template-1-home-pc.css")

block header
    include ../components/header.pug

block content
    include ../components/nav.pug
    .main
        include ../components/company-profile.pug
        include ../components/product-title.pug

    p.main #{tips}

block scripts
    script(src="/assets/site-template-1-home-pc.js")
