extends ../layout

block styles
    link(rel="stylesheet", href="/assets/site-template-1-home-pc.css")

block header
    include ../components/header.pug

block content
    include ../components/nav.pug
    include ../components/swiper.pug
    .container.clearfix
        .main
            include ../components/company-profile.pug
            include ../components/product-title.pug
            include ../components/product-list.pug

        .aside
            include ../components/contact.pug
            include ../components/news-list.pug

    include ../components/footer.pug



    p.main #{tips}

block scripts
    script(src="/assets/site-template-1-home-pc.js")

