.container-contact
  display: flex
  justify-content: space-between
  box-sizing: border-box
  width: 1220px
  margin: 0 auto
  .us2-left
    box-sizing: border-box
    display: flex
    justify-content: center
    align-items: flex-start
    max-width: 742px
    height: 470px
    margin: 0 16px
    border-radius: 3px
    color: #fff
    .left-nav
      .us2-left-ul
        display: flex
        flex-direction: column
        margin: 0
        padding: 0
        .specail-li
          margin-bottom: 0
        li
          display: flex
          justify-content: flex-start
          list-style: none
          margin-bottom: 30px
          font-size: 18px
          width: 160px
          .navfirst
            margin-bottom: 18px
            font-size: 22px
            font-weight: 600
            color: #fff
          
          .navtwo
            width: 32px;
            height: 3px;
            background: #336FFF;
          a
            text-decoration: none
            cursor pointer
            color: #fff
        .us2-left-item
          scrollbar-width: none; /* 火狐浏览器 */
          -ms-overflow-style: none; /* IE浏览器 */
          overflow-x: hidden
          overflow-y: scroll
          height: 361px
          &::-webkit-scrollbar
            display: none
          li
            &:last-child
              margin-bottom: 0
    .left-line
      width: 1px;
      height: 434px
      margin-right:  54px
      opacity: 0.5;
      background: #999999
      border: 2px solid #999999;
    .left-address
      display: flex
      flex-direction: column
      justify-content: flex-start
      color: #fff
      .company-title
        position relative
        max-width: 420px
        margin-bottom: 18px
        font-size: 20px
        font-weight: 600
        color: #fff
        .company-contect
          width: 100%
          overflow hidden
          text-overflow: ellipsis
          white-space: nowrap
          font-weight: 22px
          color: #fff
      .company-line
        width: 32px;
        height: 3px;
        margin-bottom: 24px
        background: #336FFF;
      .company-detail
        margin-bottom: 23px
        display: flex
        justify-content: flex-start
        align-items: center
        font-size: 14px
        color: #fff
        .company-tel
          width: 29px
          height: 35px
          img
            width: 100%
            height: 100%
        .company-line
          width: 1px;
          height: 45px;
          margin: 0 13px
          background: #FFFFFF
          border: 1px solid #FFFFFF;
        .company-right
          .title-1
            margin-bottom: 6px
            color: #fff
            text-align: left
            font-size: 14px
            opacity 0.7
          .content-1
            max-width: 420px
            overflow hidden
            text-overflow: ellipsis
            white-space: nowrap
            color: #fff
            font-size: 24px;
            font-weight: bold
      .company-map
        overflow hidden
        display: block
        position relative
        width: 430px
        height: 145px
        border-radius: 6px
        text-decoration: none
        .map-bg
          width: 100%
          height: 100%
        .map-mid
          display: flex
          justify-content: center
          align-items: center
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%,-50%)
          width: 238px
          height: 48px
          padding: 0 8px
          background: #FFFFFF
          box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.14)
          border-radius: 3px
          .map-mid-content
            display: -webkit-box
            overflow hidden
            -webkit-box-orient: vertical
            -webkit-line-clamp: 2
            font-size: 14px
        .map-icon
          position: absolute
          width: 80px
          height: 38px
          bottom: 3px
          left: 50%
          transform: translateX(-50%)
  .us2-right
    width: 432px
    height: 470px
    border-radius: 6px
    color: #fff
    background: #fff
    #aBtn
      background: #ED4646 !important
