extends ../layout
block head
    title #{ renderData.meta.title || "" }
    meta(name='keywords' content=renderData.meta.keywords || "")
    meta(name='description' content=renderData.meta.description || "")
block styles
    :combine(fileName="site-template-1-product-child-pc.css")


block content
    //- 面包屑
    include ../components/breadcrumbs.pug

    .container.clearfix
        .main
            include ../components/main-title.pug
            include ../components/product-list.pug
            +product-list(16,'product-child')
        .side-bar
            include ../components/sidebar/sidebar-title.pug
            +sidebar-title('联系我们')
            include ../components/sidebar/contact.pug
            +sidebar-title('服务分类')

            //-- const categoryList = [{name:'公司注册', url:'/site/product/child'},{name:'代理记账', url:'/site/product/child'},{name:'公司注销', url:'/site/product/child'},{name:'公司转让', url:'/site/product/child'}]
            - const cateList = renderData.productCateList
            include ../components/sidebar/category-item.pug

    //-include ../components/page.pug
    include ../components/pagination
    - var totalPage = (renderData.productCateList && renderData.productList.totalPage) || 1
    +pagination(totalPage, renderData.currentPage, `/${renderData.shopName}/p`)
    include ../components/footer.pug
    //-QQ交谈
    include ../components/customer-service.pug

block scripts
    :combine(fileName="site-template-1-product-child-pc.js")

