@import '../block-title/index.styl'
@import '../contact-form/index.styl'
.contact-us-bottom
  margin-top 16px
  background-color #fff
  &__content
    display flex
    justify-content flex-start
    align-items flex-start
    padding 0 108px
    .contact-us-bottom__left
      padding-top 45px
      .contact-us-bottom__address
        width 380px
        height 226px
        margin-bottom 30px
        background url('//file.baixing.net/202105/9c1dcb9250ae75f5f5f9c30a5cab755f.png') no-repeat center center/cover,linear-gradient(200deg, rgba(255,255,255,0.46) 0%, rgba(255,255,255,0.85) 28%, #FFFFFF 44%)
        background-size 100% 100%
        background-position center
        background-repeat no-repeat
      .contact-us-bottom__tip
        font-size 16px
        color #999999
        line-height 16px
    .contact-us-bottom__message
      flex 1
      padding-left 87px

    .contact-us-bottom__title
      margin-bottom 10px
      line-height 18px
      font-size 18px
      font-weight bold
      color #333333