.c-main{
  display: flex;
  .c-pc{
    width: 58%;
    border-right: 1px solid #d8d8d8;
  }
  .c-wap{
    margin-left:15px;
    .all-img{
      .img-list{
        .tip{
          width: 266px;
        }
        .ant-upload-list-picture-card-container{
          width: 266px;
          height: 108px;
          }
        }

        .img-upload {
          .ant-upload-list{
            margin-top:32px;
          }
          .ant-upload.ant-upload-select-picture-card{
              position: absolute;
              top:-96px;
          }

      }
    }

  }
}
