@import "../layout"
@import "../components/header"
@import "../components/toptab"
@import "../components/product-list"
@import "../components/contact-form"
@import "../../../common/wap/pagination"
@import "../components/footer"
@import "../components/no-data"


.product-bottom-margin 
  margin-bottom 10px