extends ../layout.pug
block styles
	:combine(fileName="site-template-4-about-wap.css")

block content

	include ../components/aboutus.pug
	- contactUsImg = renderData.basic.shop.color.wap.contactUs
	+aboutus('about', contactUsImg)

	- const userDefinedList = renderData.autoConfig
	include ../components/user-defined-module.pug
	+user-defined-module('about', userDefinedList)
	include ../components/contact-form.pug

//-block footer
//-    include ../components/footer.pug


block scripts
	:combine(fileName="site-template-4-about-wap.js")
block append scripts
	script.
		window.extraContactFormData = {position: 8};
