.company-info
  padding 12px 15px 20px
  background-color #fff
  .info
    display flex
    justify-content flex-start
    align-items flex-start
    margin-bottom 16px
    .info-logo
      width 50px
      height 50px
      margin-right 10px
      border-radius 5px
    .info-text
      max-width calc(100% - 62px)
      flex-grow  1
      .info-name
        margin-bottom 5px
        font-size 18px
        font-weight: bold;
        color: #333333;
        line-height: 26px
      .info-tag-list
        display  flex
        justify-content flex-start
        align-items  center
        .info-tag
          height 16px
          padding 0 4px
          text-align center
          font-size 10px
          color #D19960
          border-radius: 2px;
          border: 1px solid #D19960
          &+.info-tag
            margin-left 10px
  .desc
    padding 8px 10px 10px
    position relative
    background #F6F6F6
    border-radius 8px
    font-size 12px
    line-height 20px
    .desc-text
      margin-bottom 6px
      overflow hidden
      word-break break-all
      color #666666
      font-size 14px
      &.hide
        height 60px
    .top-left,.bottom-right
      width 13px
      height 12px
      position absolute
    .top-left
      top  -6px
      left 5px
    .bottom-right
      right 5px
      bottom -6px
    .action-btn-box
      display flex
      justify-content flex-end
      margin-right 15px
      .action-btn
        box-sizing border-box
        height 18px
        padding 0 6px
        line-height 16px
        border-radius 2px
        border 1px solid #ed4646
        font-size 12px
        color #ed4646
        &.hide
          display none