@import "../site-template-1-components/common"
@import "../site-template-1-components/header"
@import "../site-template-1-components/nav"

.main 
    float left
    font-size 18px
    color #1565C1
    letter-spacing 0
    




