@import "../components/common"
@import "../components/header"
@import "../components/nav"
@import "../components/product-list"

.product.clearfix
    .side-bar
        margin-top 58px
        float right
        width 224px
        height 400px
        background #1565c1
        color #fff
//.container
//  width 1226px
//  margin 40px auto 72px
//  .main
//    float left
//    width 985px
//  .aside
//    float right
//    width 224px







