.content-container {
  margin: 0 24px 24px 0;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  .content {
    .img {
      width: 150px;
      height: 116px;
    }
    .text-box {
      padding: 4px 9px;
      .name {
        font-size: 12px;
        color: #333333;
      }
      .price {
        font-size: 12px;
        color: #333333;
      }
    }
  }
}
