extends ../layout.pug
block styles
    :combine(fileName="site-template-2-product-detail-wap.css")

block header
    include ../components/header

block content
    if isBaiduPin === 'baidu_pinzhuan' && pinZhuan
    else
        - const cateList = renderData.productCateList
        include ../components/product-detail.pug
        include ../components/product-recommend.pug
        include ../components/contact-form.pug

block scripts
    :combine(fileName="site-template-2-product-detail-wap.js")
block append scripts
    script.
        window.extraContactFormData = { position: 6, id: #{renderData.productInfo.id} };
        window.adId = #{renderData.productInfo.id};
 