.topbar-bg
	width 100%
	background-color #F0F0F0
	.topbar
		display flex
		justify-content space-between
		align-items center
		width 1200px
		height 44px
		line-height 44px
		margin 0 auto
		img
			vertical-align middle
			width 45px
			height 22px
		span
			display inline-block
			vertical-align middle
			margin-left 20px
			margin-top 3px
			font-size 14px
			color #333333
			position  relative
			&::before
				content "·"
				position absolute
				left -10px
				font-size 20px
				color #999999
		.link-right
			font-size 14px
			color rgba(124,124,124,1)
