.topbar-bg
	width 100%
	background-color #F0F0F0
	.topbar
		display flex
		justify-content space-between
		align-items center
		width 1200px
		height 58px
		line-height 44px
		margin 0 auto
		.left
			img
				vertical-align middle
				width 90px
				height 44px
			span
				display inline-block
				vertical-align middle
				margin-left 20px
				margin-top 16px
				font-size 24px
				color #333333
				position  relative
				&::before
					content "·"
					position absolute
					left -13px
					font-size 40px
					color #999999
		.right
			display: flex
			justify-content: end
			align-items: center
			.link-right
				line-height: 18px
				padding: 0 18px
				font-size 14px
				color rgba(124,124,124,1)
				&:hover
					color #f46
				&+.link-right
					border-left: 2px solid rgb(228,228,228)

