@import "../layout"
@import "../components/breadcrumbs"
@import "../components/user-defined-module-about"
@import "../components/contact-form-companyInfo"
@import "../../../common/pc/contact-form"
@import "../components/home/self-advantage"
@import "../components/home/user-defined-module"
@import "../components/contact-message"
@import "../../../common/pc/contact-form-sem"
.container
  background: #fff
  .banner
    height 363px
    line-height 363px
    // background url('//file.baixing.net/202102/4d00d8e95d5a246f4e3842fcf09a2329.png') no-repeat top left/cover
    position relative
    text-align center
    font-size 34px
    color #fff
    .banner-text
        position absolute
  .container-intro
    width: 1190px
    margin: 0 auto
    padding-bottom: 25px
    border-right:  1px solid #EFEFEF;
    border-left: 1px solid #EFEFEF;
    max-height: 287px; 
    .intro
      overflow hidden
      width: 902px
      height: 124px
      margin: 0 auto
      text-align: center
      font-size: 14px;
      line-height: 31px;
      color: #5D5D5D;
      display -webkit-box
      -webkit-box-orient vertical
      -webkit-line-clamp 4
  .block-title
    margin 40 auto 41px
    position relative
    text-align center
    .h2
      display inline-block
      margin-bottom: 16px
      font-size 34px
      text-align center
      color #212121
      font-weight bold
    .point
      position absolute
      bottom: 0
      left: 50%
      transform: translateX(-107px)
      width: 214px
      height: 2px
      margin-top: 16px
      background-color: #EBEBEB
      .tipMiddle
        position absolute
        top: 0
        left: 50%
        transform: translateX(-12px)
        width 24px
        height 3px
        background: #336FFF


  .autoConfigServer
    box-sizing: border-box
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 30px
    width: 100%
    background: url('//file.baixing.net/202205/db9ed74649f1bd2fb9443b53c6dcb1e6.png') no-repeat center center/100% 100%
  #contactFormBox
    overflow hidden
    width: 100%
    padding-bottom: 72px
    margin-top: 40px
    .block-title
      margin-top: 54px
      .h2
        color: #fff