.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.upload-img-button,
.create-album-button {
  width: 120px;
  height: 40px;
  border-radius: 0;
  font-size: 14px;
}

.upload-img-button {
  background: '#096DD9';
  border-color: '#096DD9';

  .anticon {
    font-weight: 300;
    font-size: 11px;
    margin-right: -7px;
  }
}

.create-album-button {
  margin-right: 36px;
}
