@import "../layout"
//@import "../components/topbar"
//@import "../components/header"
@import "../components/breadcrumbs"
@import "../components/product/cateList"
@import "../components/sidebar/products"
//@import "../components/customer-service"
//@import "../components/footer"
@import "../components/news/news-list"
@import "../components/sidebar/index"
@import "../components/pagination"
@import "../components/swiper"

.container
    width 1220px
    margin 0 auto 72px
    display flex
    .main
        //float left
        width 980px
    .sidebar
        //float right
        width 224px
        margin-left 15px
