@import "../layout"
@import "../components/breadcrumbs"
@import "../components/product/cateList"
@import "../components/sidebar/products"
@import "../components/news/news-list"
@import "../components/sidebar/index"
@import "../../../common/pc/pagination"
@import "../components/swiper"

.container
    width 1220px
    margin 0 auto 72px
    display flex
    .main
        //float left
        width 980px
    .sidebar
        //float right
        width 224px
        margin-left 15px
