@import "../components/common"
@import "../components/topbar"
@import "../components/header"
@import "../components/breadcrumbs"
@import "../components/customer-service"
@import "../components/footer"
@import "../components/news/news-list"
@import "../components/sidebar/index"
@import "../components/pagination"

.container
    width 1220px
    margin 0 auto 72px
    display flex
    //.main
    //    float left
    //    width 960px
    //.side-bar
    //    float right
    //    width 224px
    //    margin-top 40px
