extends ../../common/layout.pug
block public-header
	include ../../common/wap/dynamic-topbar

	block header
		include ./components/header
		include ./components/swiper
		+swiper('home')
		include ./components/nav
		+nav()


block footer
	include ../../common/wap/official-footer.pug
	div(style="padding-bottom:75px")
	include ../../common/wap/dynamic-official-footer-contact.pug
	- weixin = renderData.basic.shop.color.wap.weixin
	- people = renderData.basic.shop.color.wap.people
	- theme = renderData.basic.shop.color.productHv
	+dynamic-official-footer-contact(theme, weixin, people)
