.container {
  position: relative;
  padding: 30px;
  background: #fff;
  min-height: calc(100vh - 160px);
  margin: 16px;
}

.primary-btn {
  background: #096DD9;
  width: 120px;
  height: 40px;
  color: #ffffff;
}

.ant-btn-primary[disabled]{
  background: #D9D9D9!important;
  color: #ffffff;
}
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
      url('iconfont.woff2') format('woff2'),
      url('iconfont.woff') format('woff'),
      url('iconfont.ttf') format('truetype'),
      url('iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.f-input{
  position: relative;
  .f-len {
    position: absolute;
    right: 15px;
    color: #999999;
    top:10px;
  }
}

.a-menu{
  background: none;
  font-size: 16px;
  color: #666666;
  margin-left:36px;
}

.ant-drawer-header{
  padding: 25px 32px;
}
.default-form{
  padding: 12px 10px;
  font-size:14px;
  position: relative;
  input, textarea, .ant-select-selection-placeholder{
    font-size:14px!important;
  }
  .ant-form-item-label > label {
    width: 70px;
    text-align: right;
    margin-right: 20px;
    display: block;
    
  }
  .ant-form-item:nth-child(1){
    margin-bottom: -8px;
  }
  .ant-form-item:nth-child(2){
    margin-bottom: 0;
  }
  .primary-btn {
    background: #ffffff;
    border: 1px solid #096DD9;
    color: #096DD9;
    margin-left: 16px;
  }

  .mvip-btn {
    background: #096DD9;
    margin-left: 90px;
    width: 80px;
    height: 40px;
  }
  .mvip-primary-btn{
    position: absolute;
    left: 350px;
    top: -33px;
    width: 120px;
    height: 40px;
  }
  .ant-form-item-has-error + .ant-form-item{
    .mvip-primary-btn{
      top:-55px;
    }
  }

  .f-img .tip{
    color: #999999;
    font-size:12px;
    margin-top:8px;
  }
  textarea {
    height: 270px!important;
  }
  .f-middle {
    display: flex;
    align-items: center;
    .ant-form-item-label {
      height: 40px;
      line-height: 40px;
    }
    input{
      height: 40px;
      padding-right: 50px;
    }
  }
  .f-middle.ant-form-item-has-error{
    display: flex;
    align-items: flex-start;
  }
  .ant-input-textarea-show-count::after{
    position: absolute;
    right: 25px;
    bottom: 4px;
  }

  .ant-upload.ant-upload-select-picture-card{
    width: 150px;
    height: 100px;
    border: 1px solid #D8D8D8;
    .anticon{
      color: #999999;
      font-size: 25px;
    }
    .upload-img{
      font-size: 14px;
      color: #999999;
    }
  }

  .f-tag{
    margin-top:18px;
    label{
      margin-top:10px;
      padding-left: 31px;
    }
    label::before{
      content: '*';
      color:#F1492C;
    }
  }
  .f-img{
    label{
      margin-left: 8px;
    }
    .img-upload{
      margin-left: 10px;
    }
    .tip{
      margin-left: 10px;
    }
  }
  .ant-input-textarea{
    margin-left: 10px;
  }
  .f-textarea{
    .ant-form-horizontal .ant-form-item-control{
      flex:none
    }
    .ant-form-item-explain-error{
      margin-left: 10px;
    }
  }
}

#productForm{
  .ant-form-item:nth-child(3){
    margin-top:18px;
    label{
      margin-left: 10px;
    }
    input{
      margin-left: -10px;
    }
  }
  .f-img{
    .tip{
      margin-top: -26px;
    }
  }
  .f-textarea{
    margin-top: -50px;
  }
}

.tdk-box{
  border:1px solid #D8D8D8;
  h4{
    border-bottom: 1px solid #D8D8D8;
    height: 57.5px;
    line-height: 57.5px;
    padding-left: 20px;
  }
  .t-content{
    display: flex;
    .t-menu{
      width: 216.5px;
      padding-top:10px;
      .ant-menu-vertical{
        border-right: none;
      }
      .a-menu{
        width: 160px;
        margin-left: 20px;
      }
      .ant-menu-item.ant-menu-item-selected{
        border: 1px solid #096DD9;
      }
      .ant-menu-item{
        border: 1px solid #D8D8D8;
        color: #333333;
        margin: 20px 0px;
      }
    }
    .t-form{
      border-left: 1px solid #D8D8D8;
      padding: 29px 30px;
      .tag-module{
        margin-left: -4px;
      }
      .ant-form-item-control{
        margin-left: 10px;
      }
      .ant-input-textarea{
        height: 80px;
        margin-left:3px;
        position: relative;
        textarea{
          height: 80px;
        }
      }
      .ant-input-textarea-show-count::after{
        position: absolute;
        right: 8px;
        bottom:2px;
      }
    }
  }
}

#baseInfoForm{
  width: 656px;
  .f-middle{
    margin-left: -93px;
    .ant-col-6{
      margin-left: 3px;
    }
    .ant-col-6+.ant-form-item-control{
      margin-left: -2px;
    }
  }
  label{
    margin-right: 16px;
  }
  input{
    font-size: 14px;
    height: 40px;
  }
  .f-area-select{
    .ant-form-item-control{
      margin-left: 7px;
    }
  }
  .f-textarea{
    textarea{
      margin-left: 7px;
      font-size: 14px;
      width: 570px;
    }
    .ant-input-textarea-show-count{
      position: relative;
      &:after{
        position: absolute;
        right: 40px;
        bottom: 10px;
      }
    }
  }
  .img-upload{
    margin-left: 5px;
  }
  
}

