.page-report{
  h2 {
    margin: 24px 0;
    font-size: 18px;
    font-weight: bold;
  }
  .cmpt-search-list + h2 {
    margin-top: 0;
  }

  .statics-con {
    .statics {
      text-align: center;
    }
    .ant-statistic-content {
      font-size: 32px;
    }
  }
  .ant-row + .ant-row {
    & > .statics {
      margin-top: 24px;
    }
  }
}
