@import "../layout"
@import "../components/header"
@import "../components/home-title"
@import "../components/swiper"
@import "../components/company-info"
@import "../components/user-defined-module"
@import "../components/aboutus"
@import "../components/contact-form"
@import "../components/footer"