.product-key-container {
  .form-item {
    width: 200px;
    display: inline-block;
    margin-right: 10px;
    :global {
      .ant-input-disabled {
        color: rgba(0, 0, 0, 0.85);
        background-color: #ffffff;
      }
    }
  }
  .form-swith {
    display: flex;
  }
  .delete {
    position: absolute;
    color: #096dd9;
    font-size: 14px;
    margin: 0 0 24px 15px;
    cursor: pointer;
    transform: translateY(7px);
  }
  .seo-tip {
    position: relative;
    margin-top: 6px;
    color: #f1492c;
  }
  .setting-tip {
    position: relative;
    margin: 6px 0 18px;
    color: rgb(153, 153, 153);
    .tip-img {
      color: #096dd9;
      font-weight: bold;
      cursor: pointer;
    }
    .imgs-tips {
      position: absolute;
      top: -242px;
      right: 29px;
      width: 520x;
      height: 242px;
      z-index: 999;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .add {
    width: 120px;
    height: 40px;
    color: #096dd9 !important;
    background: #ffffff !important;
    border: 1px solid #096dd9;
  }
  .red-tip {
    margin-top: 10px;
    color: #f1492c;
  }
  .tag-input {
    width: 78px;
    margin-right: 8px;
    vertical-align: top;
  }
  .p {
    color: #999;
    font-size: 12px;
    line-height: 1;
  }
  .s {
    font-weight: 1;
    color: #096dd9;
  }
  .product-key-line {
    display: flex;
    justify-content: flex-start;
    position: relative;
  }
}
