.product-key-container {
  .product-key-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    .form-value {
      width: 300px !important;
    }
    .form-item {
      width: 200px;
      display: inline-block;
      margin-right: 10px;
    }
    .delete {
      color: #096dd9;
      font-size: 14px;
      cursor: pointer;
      margin-left: 22px;
      margin-bottom: 24px;
    }
  }
  .setting-tip {
    position: relative;
    margin: 6px 0 18px;
    color: rgb(153, 153, 153);
    .parameter-example {
      color: #096dd9;
      font-weight: bold;
      cursor: pointer;
    }
  }
  .add {
    width: 120px;
    height: 40px;
    color: #096dd9 !important;
    background: #ffffff !important;
    border: 1px solid #096dd9;
  }
  .red-tip {
    margin-top: 10px;
    color: #f1492c;
  }

}
