.self-advantage
  display flex
  justify-content flex-start
  flex-wrap wrap
  width 1220px
  margin 0 auto 70px
  &.one-line
    justify-content center
  .advanItem
    overflow hidden
    width 280px
    height: 428px
    display flex
    flex-direction column
    align-items center
    box-sizing: border-box
    margin-right: 23px
    background: #fff
    border-radius: 6px
    border: 1px solid #E5E5E5
    &:hover
      color: #FFFFFF
      border: none
    &:nth-child(n+5)
      margin-top: 8px
    &:nth-child(4n)
      margin-right: 0
    img
      width 280px
      height: 213px
      border-radius 4px
      transition: all 1s
      border: none
      &:hover
        transform: scale(1.05)
    .title
      box-sizing: border-box
      width: 100%
      margin 23px auto 14px
      padding: 0 6px
      font-weight bold
      text-align: center
      color #333333
      font-size 24px
    .tips
      width: 20px
      height: 4px
      margin-bottom: 16px
      background-color: #FCAB04
    .content
      color #5D5D5D
      text-align center
      font-size 14px
      width 218px
      line-height 23px
      overflow hidden
      text-overflow ellipsis
      display -webkit-box
      -webkit-box-orient vertical
      -webkit-line-clamp 3
      word-break break-all