@import "../components/common"
@import "../components/topbar"
@import "../components/header"
@import "../components/breadcrumbs"
@import "../components/contact-form-companyInfo"
//@import "../components/home/about-us"
//@import "../components/home/contact-us"
@import "../components/customer-service"
@import "../components/footer"

.container
  width 1220px
  margin 40px auto 72px
  .banner
    height 180px
    line-height 180px
    background url('//file.baixing.net/202102/4d00d8e95d5a246f4e3842fcf09a2329.png') no-repeat top left/cover
    position relative
    text-align center
    font-size 34px
    color #fff
    .banner-text
        position absolute


  .intro
    padding 39px 50px 59px
    background-color #fff
    min-height 90px
