@import '../official-info-phone/index.styl'
.official-info-container 
  background-color: #fff
  border-bottom: 1px solid #f0f0f0
  .official-info-content
    display: flex
    justify-content: space-between
    align-items: center
    width 1200px
    height: 130px
    margin: 0 auto
    &.sem-2
      height: 50px
    .left
      display: flex
      justify-content: flex-start
      align-items: center
      .logo 
        height 86px
        max-width: 250px
        margin-right 24px
        object-fit: contain
      .line 
        width 1px
        height: 65px
        margin-right 24px
        background: url('//file.baixing.net/202112/05722ebc251da9bbc84285dcc5014765.png') no-repeat center center/cover
      .text
        transform: translateY(-4px)
        .title
          font-size: 28px
          font-weight: bold
        .subtitle
          font-size: 18px
          color #666

