.aboutus
    .aboutus-top
        .aboutus-title
            p 关于我们
        .aboutus-content
            p.about-hidden #{ company.about }
    if company.about.length >144
        .s-open 点击展开
            img(src="//file.baixing.net/202012/41b0db79b7b9316481aa69058d3ed37b.png", alt="")
        .s-off 点击收起
            img(src="//file.baixing.net/202012/13a5e125202a182d2f48da2392404cd8.png", alt="")
