header
    if !isHome
        .back-icon
    .company-name 客集齐有限公司
    div.header-nav
        img.select-icon(src="//file.baixing.net/202011/861f45fa088fb4d394d8c7389550a28a.png")
        .nav-menus
            a(href="/site/home") 首页
            a(href="/site/product") 服务内容
            a(href="/site/news") 新闻资讯
