header
    if !isHome
        .back-icon
    .company-name #{ renderData.shopInfo.name }
    div.header-nav
        img.select-icon(src="//file.baixing.net/202011/861f45fa088fb4d394d8c7389550a28a.png")
        .nav-menus
            each item in renderData.navigation
                a(href="/" + renderData.shopName + item.content) #{item.name}
