.product
    - const productList= renderData.productList.result
    .product-title.clearfix
        p 服务内容
        a(href="/" + shopName + "/p/") 更多
            .right-icon
    .product-list.clearfix
        if productList && productList.length >0
            each item in productList.length >= 4 ? productList.slice(0,4):productList
                .item
                    .cover
                        if item.headImg
                            img(src=item.headImg)
                        else
                            img(src="//file.baixing.net/202011/722f557a62889f098f7843fd3481e22b.png")
                    p #{item.name}
                    a.btn(href= "/" + shopName + item.urlSuffix) 了解详情
        else
            p 暂时还没有数据哦
