.news
    .news-title.clearfix
        - const moreNews = (renderData.navigation.filter(x => x.position == "articleListPage"))[0].content
        p 新闻资讯
        a(href=moreNews) 更多
            .right-icon
    .news-list
        //-首页默认最多展示10条
        - const newsList= renderData.articleList.result.slice(0,10)
        if newsList && newsList.length >0
            ul.item
                each item in newsList
                    li
                        a(href=item.urlSuffix)
                            p #{item.name}
                            .news-createtime
                                | #{ dateFormat(item.modifiedTime) }
        else
            p(style="min-height:150px") 暂时还没有数据哦
