.home-tab 
    a.service-btn(href='/')
        img(src="//file.baixing.net/202011/bf1af8bd99271d67bcb7d6186daede6e.png", alt="")
        | 服务内容
    a.news-btn(href='/')
        img(src="//file.baixing.net/202011/a15dba7c80bed37b8c00939aad742576.png", alt="")
        | 新闻资讯
            



