.introduction
    //- p #{ companyInfo.name }
    //- p 公司地址： #{ companyInfo.address }
    //- p 营业电话：
    //-     span #{ telephone || 13485753099 }
    .introduction-bg
        .left-info
            .name 一站式企业服务有限公司
            .address 公司地址：苏州市苏州市姑苏区人民路2188号万达广场写字楼A座1009室
            .telephone 营业电话：13535789172
        a.right-btn(href='/')
            img(src="//file.baixing.net/202011/106d8d96ca5a47a04ac3f68993a4b6f7.png", alt="")

