.news-list
    - const newsList= renderData.articleList.result
    if newsList && newsList.length >0
        ul.item
            each item in newsList
                li
                    a(href=item.urlSuffix)
                        p #{item.name}
    else
        p 当前页面暂无内容，敬请期待...
