.news-list
    - const newsList = [{name:'新房搬家的讲究',url:'/site/news/detail',time:1514282819},{name:'【搬家讲究】2020年6月适宜搬家的黄道吉日',url:'/site/news/detail',time:1514282819},{name:'如何选择比较好的搬家公司',url:'/site/news/detail',time:1514282819},{name:'搬家需要注意哪些',url:'/site/news/detail',time:1514282819},{name:'搬新家带走扫帚好吗',url:'/site/news/detail',time:1514282819},{name:'如何上百姓网站找好的搬家公司有人知道吗',url:'/site/news/detail',time:1514282819},{name:'如果数据不知道咋写',url:'/site/news/detail',time:1514282819},{name:'如何利用大货车小火车牵引车搬东西从中国喜马拉雅山上到泰山上的18弯上自己一个人整呢',url:'/site/news/detail',time:1514282819},{name:'如何选择比较好的搬家公司',url:'/site/news/detail',time:1514282819}]
    ul.item
        //-默认最多展示20条
        each item in newsList.length>20 ? newsList.slice(0,20) : newsList
            li
                a(href=item.url)
                    p #{item.name}
                    
