.news-detail
    - const {name, modifiedTime, contentImg, content} = renderData.articleInfo
    .news-detail-title
        h3 #{ name }
    if modifiedTime
        .news-detail-time
            p #{ dateFormat(modifiedTime) }
    if contentImg
        .news-detail-pic
            img(src=contentImg, alt="")
    .news-detail-content. 
        #{ content }


