//-首页快捷键要求,名字名字不固定，链接固定的，且后端数据是动态的,故函数式调用
.shortcuts
    - const shortcuts= renderData.navigation
    mixin listLink(whichPage,defaultName)
        - const listLinkName= (renderData.navigation.filter(x => x.position == whichPage))[0].name
        if shortcuts && listLinkName
            span #{ listLinkName }
        else
            span #{ defaultName }

    a.service-btn(href="/" + renderData.shopName + '/p/')
        img(src="//file.baixing.net/202011/bf1af8bd99271d67bcb7d6186daede6e.png", alt="")
        +listLink("productListPage","服务内容")

    a.news-btn(href='/'+ renderData.shopName + '/n/')
        img(src="//file.baixing.net/202011/a15dba7c80bed37b8c00939aad742576.png", alt="")
        +listLink("articleListPage","新闻资讯")