- const bannerList= renderData.banner
  .swiper-container
    .swiper-wrapper
      if bannerList && bannerList.length > 0
        each item in bannerList
          .swiper-slide(style="background-image:url(" + item.displayImgUrl + ")" )
      else
        .swiper-slide(style="background-image:url(//file.baixing.net/202012/edb8ce363d3440b82ddd4b593f065ac6.png)")
        .swiper-slide(style="background-image:url(//file.baixing.net/202012/9779d47d6c30a0a183e2a754747b39fa.png)")

    .swiper-pagination