@import "../layout"
@import "../components/breadcrumbs"
@import "../components/news/news-list"
@import "../components/sidebar/index"
@import "../components/base-swiper"
@import "../components/contact-form-companyInfo"
@import "../components/company-record"
html
    background-color: #F7F7F7
.container
    width 1220px
    margin 10px auto 72px
    display flex

#news-detail-swiper
    .swiper-container
        height 360px
        width 100%
        .swiper-wrapper
            .swiper-slide
            img
                height 360px
                width 100%

.news-detail
    max-width 960px
    margin-bottom 30px
    .news
        &-content
            background-color #fff
            padding 0 30px
            box-sizing border-box

            &__pic
                text-align center
                margin 40px auto
                img
                    max-width 100%

            &__text
                color #333333
                line-height 28px
                font-size 16px
                padding 30px 0
                word-break break-all
            &__tags
                margin-top 30px
                span
                    background #F2F2F2
                    margin-right 20px
                    font-size 14px
                    color #666666
                    padding 0 15px
                    height 32px
                    line-height 32px
                    display inline-block
        &-title
            padding 30px 0
            text-align center
            border-bottom 2px dashed #EAEAEA
            &__text
                font-size 32px
                margin-bottom 15px
            &__date
                color #333

        &-nav
            margin-top 10px
            background-color #fff
            display flex
            justify-content space-between
            padding 27px 30px

            &__pre,
            &__next
                display flex
                flex 1
                width 450px
                span
                    color $color-main
                    margin-right 5px
                a
                    color #666
                    max-width 80%
                    display inline-block
    .contact-us__form
        .form-group
            .form-item
                button
                    border-radius: 0




