.media-show-right
  width: 224px
  // height: 258px
  padding-bottom: 20px
  margin-bottom 20px
  background: blue
  border-radius: 4px
  border: 1px solid #EEEEEE
  background: #FFFEFB
  .company-record
    position relative
    width: 100%
    height: 36px
    img
      width: 100%
      height: 100%
    .company-dangan
      position absolute
      top: 8px
      right: 103px
      color: #F7E5A5
      font-size: 14px
      font-weight: 600
  .baixing-accord
    width: 100%
    padding-top: 24px
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items center
    .accord-title
      display: flex
      justify-content: center
      align-items: center
      margin-bottom: 10px
      .accord-line
        width: 22px
        height: 1px
        background: #D4B87F
      .accord-content
        margin: 0 10px 
        color:#333333
        font-size: 12px
        font-weight: bold
    .accord-icon
      width: 100%
      margin-bottom 17px
      ul
        display: flex
        justify-content center
        li
          width: 18px
          height: 20px
          margin-right 24px
          &:last-child
            margin-right 0
    .accord-wd
      width: 180px
      border-top: 1px dashed #EADFC9
      margin-bottom: 20px
    .contact-name
      width: 180px
      font-size: 12px 
      color: #333333
      margin-bottom: 10px
      overflow: hidden
      text-overflow:ellipsis
      white-space: nowrap
    .contanct-address
      width: 180px
      font-size: 12px
      color: #333333
      overflow: hidden
      text-overflow:ellipsis
      white-space: nowrap
    .contant-btn
      width: 180px
      height: 30px
      margin: 20px 0
      line-height: 30px
      border: 1px solid #D4B87F
      border-radius: 4px
      color: #B17F19
      font-size: 12px
      text-align: center