@import "../site-template-1-components/common"
@import "../site-template-1-components/header"
@import "../site-template-1-components/nav"
@import "../site-template-1-components/company-profile"
@import "../site-template-1-components/contact"
@import "../site-template-1-components/swiper"

.main
  width 1200px
  margin 40px auto 72px

