extends ../layout.pug
block styles
    :combine(fileName="site-template-3-news-wap.css")

block content
    - const cateList = renderData.articleCateList
    include ../components/toptab
    include ../components/news-list
    - const { name:articleListName } = renderData.articleList
    - const articleList = (renderData.articleList || {}).result || []
    - const totalPage = (renderData.articleList || {}).totalPage || []
    +news-list(articleList)

    //-留言资讯
    include ../components/contact-form.pug

    include ../../../common/wap/pagination.pug
    +pagination(totalPage, renderData.currentPage, `${currentPathname}`)

//-block footer
//-    include ../components/footer.pug

block scripts
    :combine(fileName="site-template-3-news-wap.js")
block append scripts
    script.
        window.extraContactFormData = { position: 2 };
        window.contentType = 'article';
        window.trackSrc = 'listing';