extends ../layout

block styles
    link(rel="stylesheet", href="/assets/site-template-1-product-pc.css")

block header
    include ../components/header.pug

block content
    include ../components/nav.pug
    // 这里需要引入一个面包屑
    .container.clearfix
        .main
            include ../components/product-list.pug
        .aside
            //-include ../components/contact.pug
            //-.side-bar
            //-    p 右侧栏

    //-include ../components/footer.pug

block scripts
    script(src="/assets/site-template-1-product-pc.js")

