extends ../layout

block styles
    :combine(fileName="site-template-1-product-pc.css")

block content
    include ../components/breadcrumbs.pug

    .container.clearfix
        .main
            include ../components/main-title.pug
            include ../components/product-list.pug
            +product-list('product')

        .side-bar
            include ../components/sidebar/sidebar-title.pug
            +sidebar-title('联系我们')
            include ../components/sidebar/contact.pug

            +sidebar-title('服务分类')
            - const cateList = renderData.productCateList
            include ../components/sidebar/category-item.pug

    include ../components/pagination
    - var totalPage = (renderData.productList && renderData.productList.totalPage) || 1
    +pagination(totalPage, renderData.currentPage, `/${shopName}/p`)

    include ../components/footer.pug
    include ../components/customer-service.pug

block scripts
    :combine(fileName="site-template-1-product-pc.js")

