extends ../layout.pug
block styles
    :combine(fileName="site-template-2-about-wap.css")

block content
    if isBaiduPin !== 'baidu_pinzhuan'
      include ../components/aboutus.pug
      +aboutus('about')

    - const userDefinedList = renderData.autoConfig
    include ../components/user-defined-module.pug
    +user-defined-module('about',userDefinedList)
    include ../components/contact-form.pug

//-block footer
//-    include ../components/footer.pug


block scripts
    :combine(fileName="site-template-2-about-wap.js")
block append scripts
    script.
        window.extraContactFormData = { position: 8 };