@import "../contact-us"

.lz
  &__subtitle
    font-size 16px
    color #333333
    margin 30px 30px
    font-weight bold
  &__contact-us
    background-color #fff
    padding 30px 30px 0
    display flex
    .contact-form
      width 530px
      flex 1
      .form-item
        font-size 14px
        input,
        textarea
          font-size 14px
        textarea
          min-height 90px
        button
          border-radius: 0
        &__label
          font-weight 600

.company 
  &-info
    width: 475px
    padding 15px 70px 0 
    font-size 14px
    color #333333
    .info-label
      font-weight 600
    .info-item
      margin 20px 0
      display flex
      span:first-child
        color #999999
        margin-right 15px
        min-width 70px
        display inline-block
      .view-phone
        margin-left 10px
        color #FF2D38
        &:hover
          cursor pointer
      .hide
        display none


