@keyframes mymove {
  0% {
    transform: translateX(0)
  }
  25% {
    transform: translateX(8px)
  }
  75% {
    transform: translateX(-8px)
  }
  100% {
    transform: translateX(0)
  }
}
.product-contanier
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
.product-catogeries
  display flex
  flex-direction column
  justify-content flex-start
  align-items center
  margin-right 25px
  width 248px
  background-color rgb(88, 75, 75)
  border-width 0 1px 1px 1px
  border-style solid
  border-color #DDDDDD
  border-radius: 4px 4px 0px 0px;
  background: #fff
  a
    position relative
    display block
    width 201px
    padding 24.5px 24px
    text-align left
    font-size 16px
    color #5D5D5D
    vertical-align middle
    background: #fff
    &:nth-child(2)
      font-weight bold
    .firstIcon
      display: none
      position absolute
      top: 23px
      right: 24px
      width: 23px
      height: 23px
  .item-category-container
    // scrollbar-width: none; /* 火狐浏览器 */
    // -ms-overflow-style: none; /* IE浏览器 */
    overflow-y: auto
    overflow-x:  hidden
    width: 100%
    max-height: 414px
    // scrollbar-face-color: 
    &::-webkit-scrollbar
      background-color: #fff;
    &::-webkit-scrollbar-thumb
      background-color: #E6E6E6
      border-radius: 9px;
      border: 3px solid transparent;
  .all-category
    box-sizing: border-box
    width: 250px
    padding 27px 25px
    color #FFFFFF
    font-size 18px
    font-weight 500
    border-radius 4px 4px 0 0
  .border-bot
    margin 0 auto
    width 200px
    height 0
    border-top 1px dashed #DDDDDD
.last-contact
  display: inline-block
  box-sizing: border-box
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  width: 250px
  height: 106px
  padding: 15px 0 9px 0
  cursor pointer
  .last-contact-top
    display: flex
    justify-content: center
    .top1
      width: 120px
      height: 13px
  .last-contact-middle
    font-weight: bold;
    color: #FFFFFF
    font-size: 26px;
  .last-contact-bottom
    width: 22px
    height: 22px
    background: url('//file.baixing.net/202205/3914beb9882f88baa6612f5999ca053a.png') no-repeat center center/100%
    &:hover
      animation: mymove 1s ease-out


