.news-list 
  .news-item 
    .news-date 
      .news-date__day 29
      .news-date__year 2021/03
    .news-content 
      .news-content__title 产品安全高效可靠非常值得信赖产品安全高效可靠非常值得信赖！
      .news-content__desc 疫情之后，口罩机一直在市场上热火朝天，口罩机配件CNC加工的需求订单也多了起来，特别是在我们惠州珠三角周边惠州珠......
      .news-content__cta
        .cta-btn 查看详情