.all-img{
  display: flex;
  margin-bottom: 60px;
  .title{
    font-size: 14px;
  }
  .title::before{
    content: '*';
    color:#F1492C;
  }
  .img-list{
    position: relative;
    padding-left: 8px;
    .red-tip{
      color: #F1492C !important;
      margin-bottom: 10px;
      top: 60px !important;
    }
    .tip{
      font-size: 12px;
      color:#999999;
      width: 533px;
    }
  }
}

.page-shop-carousel {
  .ant-upload-list {
    display: flex;
    flex-direction: column;
  }
}
