.company-card
  .company-logo(style=`background-image: url(${company.logo})`)
  .company-name #{ company.name }
  .company-medals
    .medal.shop
      .medal-img
      .medal-name 实力商家
    .medal.bx
      .medal-img
      .medal-name 百姓认证
  .company-certificate
    .certificate-label 商家信用
    .certificate-icons
      .certificate-icon
        img(src="//file.baixing.net/202102/1ae768b8ba9d84c0ff833af4f9ede499.png", alt="")
      .certificate-icon
        img(src="//file.baixing.net/202102/46ee7a8de81ad6d4daa858eed6f587c3.png", alt="")
      .certificate-icon
        img(src="//file.baixing.net/202102/9020e841194f73dbe2830aa3428c4f35.png", alt="")
      .certificate-icon
        img(src="//file.baixing.net/202102/5350beb96395416163c69494494acf3e.png", alt="")
