extends ../layout.pug
block styles
    :combine(fileName="site-template-2-product-wap.css")

block content
    - const cateList = renderData.productCateList
    include ../components/toptab

    include ../components/product-list
    - productList = renderData.productList.result
    +product-list('', productList)

    include ../../../common/wap/pagination.pug
    - const { totalPage } = renderData.productList
    +pagination(totalPage, currentPage, `${currentPathname}`)

block scripts
    :combine(fileName="site-template-2-product-wap.js")
block append scripts
    script.
        window.extraContactFormData = { position: '#{renderData.position}' };