extends ../layout

block styles
  :combine(fileName="site-template-2-about-pc.css")

//-使用了统一的header和nav
block content
  if !isSem
    include ../components/common/breadcrumbs.pug

  .container
    .banner
      //- cn域名下about取消公司名称显示
      if !isCn
        | #{ companyName }
    .intro
      | !{ company.about.replace(/\n/g, '<br/>') || '暂时还未上传公司简介哦...' }

    - const userDefinedList = renderData.autoConfig
    if userDefinedList && userDefinedList.length>0
      include ../components/common/user-defined-module-about.pug
      +user-defined-module-about(userDefinedList)

    include ../components/common/contact-form-companyInfo.pug

block scripts
  :combine(fileName="site-template-2-about-pc.js")
block append scripts
  script.
    window.trackSrc = 'about';
