@import "../components/common"
@import "../components/header"
@import "../components/nav"
@import "../components/breadcrumbs"
@import "../components/product-detail"
@import "../components/sidebar/sidebar-title"
@import "../components/sidebar/contact"
@import "../components/sidebar/recommend"
@import "../components/sidebar/category-item"
@import "../components/customer-service"
@import "../components/footer"

.container
    width 1226px
    margin 40px auto 72px
    .main
        float left
        width 985px
    .side-bar
        float right
        width 224px






