.header-bgc
  .phone-icon 
    width: 35px
    height: 35px
    margin-right 8px
  .phone-num
    min-width 154px
    font-size: 20px
    color #f46
  .phone-num-box
    position relative
    &.hide
      display: none
    .phone-num-tip
      box-sizing: border-box
      width: 154px
      padding: 0 10px
      position absolute
      bottom: 0
      right 0
      transform: translateX(0) translateY(110%)
      line-height: 30px
      border-radius: 4px
      font-size: 16px
      border 1px solid #FFACBB
      background: rgb(255,249,250)
      z-index 100
      .tip-text
        color #B9346B
      &.hide
        display: none
      // .time-num 
      //   color #f46
      .triangle
        width: 0;
        height: 0;
        position: absolute
        top: 0;
        left: 12px
        em
          position: absolute;
          width: 0px;
          height: 0px;
          border: 10px dashed transparent;
          border-bottom-color: #FFACBB; 
          left: 10px;
          top: -20px;
        span
          position: absolute; 
          width: 0px;
          height: 0px;
          border: 10px dashed transparent;
          border-bottom-color: rgb(255,249,250) ; 
          left: 10px;
          top: -19px;
  .phone-400-action
    display: flex
    justify-content: flex-end
    align-items: center
    &.hide
      display: none
    .btn
      margin-left 5px
      padding: 0 37px
      line-height: 36px
      color: #fff
      background: #f46
      outline: none
      border: none