@import "../layout";
@import "../../../common/wap/pagination"
@import "../components/header";
@import "../components/toptab";
@import "../components/search-tabs";
@import "../components/product-list";
@import "../components/news-list";
@import "../components/footer";
@import "../components/no-data";
