@import "../layout"
@import "../components/breadcrumbs"
@import "../components/product-detail/company-top"
@import "../components/sidebar/company-card"
@import "../components/product/product-list"
@import "../components/product-detail/product-content"
@import "../components/product-detail/product-recom"
@import "../components/contact-form-companyInfo"
@import "../components/sidebar/index"

html
    background-color: #F7F7F7
.container
  width 1220px
  margin 10px auto 72px

  .main
      float left
      width 980px
  .sidebar
      float right
      width 224px
