extends ../layout.pug
include ../components/home-title.pug

block styles
  :combine(fileName="site-template-3-home-wap.css")


block header
  if !isSem
    .float-nav
      include ../components/drawer-nav
            
block append header
  include ../components/swiper
  - const { banner }= renderData
  +swiper(banner, 'home')

block content
  include ../../../common/wap/official-popup.pug
  +official-popup({formId:'#contactForm'})
  //-公司信息
  include ../components/company-info

  .contact-us-block
    .contact-us-block-title 
      | 联系我们，获取
      span.red 详细信息
    include ../components/contact-us-form

  - productList = renderData.productList.result
  if productList && productList.length > 0
    .product-block-title 服务项目
    include ../components/product-list.pug
    +product-list(productList.slice(0,4))

  //-TODO：自定义模块
  - const userDefinedList = renderData.autoConfig
  if userDefinedList && userDefinedList.length>0
    include ../components/user-defined-module-new.pug
    +user-defined-module-new(userDefinedList)

  //-TODO:新闻资讯模块
  include ../components/news-list-module.pug

  //-关于我们
  include ../components/aboutus.pug

  //-留言资讯模块
  include ../components/contact-form.pug
  
  //- 用于sem禁止外跳
  include ../../../common/wap/contact-form-sem.pug
  +contactFormSem('#F46')

block scripts
  :combine(fileName="site-template-3-home-wap.js")
block append scripts
  script.
      window.trackSrc = 'home';
