.block-title-box
  display flex
  justify-content flex-start
  align-items center
  padding 28px 30px
  .block-line
    width: 4px
    height: 22px
    margin-right 6px
    background-color: #f46
  .block-title
    line-height: 22px
    font-size: 22px
    color: #333
    font-weight: 600;
    color: #333333;
