@import "../drawer-nav"
.header
  padding 0 17px 0 12px
  display flex
  align-items center
  justify-content space-between
  box-sizing content-box
  position relative
  height 56px
  .nav-info
    max-width calc(100% - 112px)
    flex-grow 1
  .baixing-logo
    width 37px
    height 18px
  &-logo
    width 40px
    height 40px
    background-size cover
    margin-right 20px
  &-name
    font-weight bold
    color #333
    width 220px
    font-size 16px
  &-certificate
    height 19px
    width 19px
    background-size cover
    position relative
    margin-right 47px

  .back-icon
    display inline-block
    width 11px
    height 11px
    border-top 2px solid #000
    border-right 2px solid #000
    transform rotate(-135deg)
    position absolute
    top calc(50% - 6px)
    left 26px
  .title
    width 180px
    margin 0 auto
    text-align center
  img
    width 18px
    height 18px
    margin-right 11px


