@import "../drawer-nav"

.header
  padding 0 18px
  display flex
  align-items center
  justify-content space-between
  box-sizing content-box
  position relative
  height 56px
  background-color #fff
  .header-left
    display flex
    justify-content flex-start
    align-items center
    .baixing-logo
      width 49px
      height 24px
      transform  translateY(-3px)
    .header-tip-text
      font-size 16px
      color #555
      font-weight bold

  .back-icon
    display inline-block
    width 11px
    height 11px
    border-top 2px solid #000
    border-right 2px solid #000
    transform rotate(-135deg)
    position absolute
    top calc(50% - 6px)
    left 26px
  .title
    width 180px
    margin 0 auto
    text-align center




