.auth-box {
  .auth-item {
    img {
      height: 162px;
      float: left;
    }
    .point {
      display: inline-block;
      width: 6px;
      height: 6px;
      margin-right: 8px;
      margin-bottom: 2px;
      background: #999;
      border-radius: 100%;
    }
  }
  .auth-example {
    font-size: 12px;
    color: #666;
  }
}


