@import "../components/common"
@import "../components/header"
@import "../components/footer"
@import "../components/contact"
@import "../components/hometab"
@import "../components/introduction"
@import "../components/aboutus"

body 
    background-color #f5f5f5