.contact-us__form
    position relative
    .form-group
      display flex
      padding 15px 0

      &last-child
        padding-bottom 0

      .form-item
        flex 1
        &+.form-item
          margin-left 30px
        &__label
          margin-bottom 8px
          line-height 14px
          font-size 14px
          font-weight 500
          color #333333
          position relative
          display inline-block

        .required
          &::after
            content '*'
            margin-left 5px
            color $color-main
        input,
        textarea
          background #F9F9F9
          border none
          font-size 16px
          color #999999
          width 100%
          padding 15px
          &:focus
            outline: #CCCCCC solid 2px
            border-radius: 4px
          &::-webkit-input-placeholder
            color #BBBBBB
          &:-ms-input-placeholder
            color #BBBBBB
          &:-moz-placeholder
            color #BBBBBB
        textarea
          resize vertical
          height 100px
        button
          width: 160px;
          height: 44px;
          background: $color-main;
          font-size 16px
          color #FFFFFF
          border none
          cursor pointer
          outline none
          border-radius: 4px

    .result-msg
      display none
      width 160px
      height 100px
      box-shadow 0 0 10px 0 rgba(0,0,0,0.14)
      border-radius 4px
      position absolute
      left 200px
      bottom -13px
      text-align center
      align-items center
      justify-content center
      color #6ACE2D
      img
        width 30px
        margin-right 10px






