.contact-us
  display flex
  padding  0 75px
  .contact-us__left
    padding-top 16px
    .contact-us__address
      width 474px
      height 290px
      margin-bottom 30px
      background url('//file.baixing.net/202102/9612863cfe9db6407b85fb5bbcc7b8ed.png') no-repeat center center/cover,linear-gradient(200deg, rgba(255,255,255,0.46) 0%, rgba(255,255,255,0.85) 28%, #FFFFFF 44%)
      background-size 100% 100%
      background-position center
      background-repeat no-repeat
    .contact-us__tip
      text-align center
      font-size 20px
      color #666666
      line-height 20px
  &__title
    font-weight bold
    font-size 18px
    color #333333
    margin-bottom 12px
    &.align-center
      text-align center 

  &__detail
    margin 0 0 23px
  .baidu-map-wrapper
    padding-top 20px
    width 100%
  &__message
    flex 1
    padding-left 87px
  &__form
    position relative
    .form-group
      display flex
      padding 15px 0

      &last-child
        padding-bottom 0

      .form-item
        flex 1
        &+.form-item
          margin-left 30px

        &__label
          margin-bottom 20px
          line-height 14px
          font-size 14px
          color #333333
          font-weight bold
          position relative
          display inline-block

          &.required
            &::before
              content '*'
              color #FF6536
        input, 
        textarea
          background #F9F9F9
          border none
          font-size 16px
          color #999999
          width 100%
          padding 15px
        textarea
          resize vertical
          min-height 200px

        button
          width: 160px;
          height: 44px;
          background: #FF6536;
          border-radius: 22px;
          font-size 18px
          color #FFFFFF
          border none
          cursor pointer
    
    .result-msg
      display none
      width 160px
      height 100px
      box-shadow 0 0 10px 0 rgba(0,0,0,0.14)
      border-radius 4px
      position absolute
      left 200px
      bottom -13px
      text-align center
      align-items center
      justify-content center
      color #6ACE2D
      img
        width 30px
        margin-right 10px






