.ant-drawer-header{
  padding: 25px 32px;
}

.default-form{
  padding: 12px 10px;
  font-size:14px;
  input, textarea{
    font-size:14px!important;
  }
  .ant-form-item-label > label {
    width: 70px;
    text-align: right;
    margin-right: 20px;
  }
  .ant-btn-primary{
    background: #096DD9;
    margin-left: 90px;
    width: 80px;
    height: 40px;
  }
}


