.ant-drawer-header{
  padding: 25px 32px;
}

.default-form{
  padding: 12px 10px;
  font-size:14px;
  input, textarea, .ant-select-selection-placeholder{
    font-size:14px!important;
  }
  .ant-form-item-label > label {
    width: 70px;
    text-align: right;
    margin-right: 20px;
    display: block;
    
  }
  .primary-btn {
    background: #ffffff;
    border: 1px solid #096DD9;
    color: #096DD9;
    margin-left: 16px;
  }

  .mvip-btn {
    background: #096DD9;
    margin-left: 90px;
    width: 80px;
    height: 40px;
  }
  .f-img .tip{
    color: #999999;
    font-size:12px;
    margin-top:8px;
  }
  textarea {
    height: 270px!important;
  }
  .f-middle {
    display: flex;
    align-items: center;
    .ant-form-item-label {
      height: 40px;
      line-height: 40px;
    }
    input{
      height: 40px;
    }
  }
  .ant-input-textarea-show-count::after{
    position: absolute;
    right: 10px;
    bottom: 4px;
  }

  .ant-upload.ant-upload-select-picture-card{
    width: 150px;
    height: 100px;
    border: 1px solid #D8D8D8;
    .anticon{
      color: #999999;
      font-size: 25px;
    }
    .upload-img{
      font-size: 14px;
      color: #999999;
    }
  }

  .f-tag{
    label::before{
      content: '*';
      color:#F1492C;
    }
  }
}

