.contact-form-sem
  display: flex
  justify-content: center
  align-items: center
  width: 100vw
  height: 100vh
  position: fixed
  top: -100vh
  left: 0
  z-index 1000
  background-color: rgba(0,0,0,.2)
  .contact-form-content
    width 60vw
    padding 40px 60px 30px
    background-color #fff 
