.about-us-bgc
	width 100%
	position relative
	height 460px
	background url("//file.baixing.net/202105/3c107d764ef4b3e366a5c56e3306dd41.png") no-repeat center center/100%
	background-size cover
	margin-bottom 80px
	.about-us-content
		display flex
		justify-content space-between
		align-items flex-start
		width 1070px
		margin 0 auto
		.about-us-text
			display flex
			flex-direction column
			width 670px
			.title
				color #FFFFFF
				font-size 26px
				margin-top 53px
			.title-line
				display block
				width 50px
				height 2px
				margin-top 15px
				background-color #FFFFFF
			.content
				color #FFFFFF
				font-size 16px
				margin-top 70px
				line-height 25px
				//显示3行
				overflow hidden
				text-overflow ellipsis
				display -webkit-box
				-webkit-box-orient vertical
				-webkit-line-clamp 3
				word-break break-all
			.view-more
				margin-top 50px
				border 1px solid #FFFFFF
				width 136px
				height 40px
				line-height 40px
				border-radius 23px
				text-align center
				font-size 14px
				color #FFFFFF
			
		.about-us-picture
			width 300px
			.picture
				margin-top -275px
				width 298px
				height 260px
				background url("//file.baixing.net/202105/921de921c5739ed08f8269ecfd643200.png")
				background-size cover
			.pic-border
				width 296px
				height 258px
				border 2px solid #FFFFFF
				margin 84px 0 0 14px
				z-index -1
			.video-con
				position relative
				margin-top -275px
				.video-wrapper,
				.video-cover
					width 298px
					height 260px
				.video-cover
					position: absolute;
					top: 0;
					left: 0;
					.picture
						margin-top 0
						cursor pointer
				.video-wrapper
					display flex
					justify-content center
					align-items center
					video
						max-width 100%
						max-height 100%