.about-us-bgc
	width 100%
	background-size cover
	position relative
	height 460px
	background url("//file.baixing.net/202105/3c107d764ef4b3e366a5c56e3306dd41.png")
	background-size cover
	display flex
	flex-direction row
	justify-content center
	z-index -1
	.about-us-text
		display flex
		flex-direction column
		width 670px
		padding 53px 65px
		.title
			color #FFFFFF
			font-size 26px
		.title-line
			display block
			width 50px
			height 2px
			margin-top 15px
			background-color #FFFFFF
		.content
			color #FFFFFF
			font-size 16px
			margin-top 70px
			line-height 25px
			//显示3行
			overflow hidden
			text-overflow ellipsis
			display -webkit-box
			-webkit-box-orient vertical
			-webkit-line-clamp 3
			word-break break-all
		.view-more
			margin-top 50px
			border 1px solid #FFFFFF
			width 136px
			height 40px
			border-radius 23px
			display flex
			align-items center
			justify-content center
			a
				font-size 14px
				color #FFFFFF
	.about-us-picture
		width 300px
		padding 52px 32px
		margin-right 45px
		.picture
			width 298px
			height 260px
			background url("//file.baixing.net/202105/921de921c5739ed08f8269ecfd643200.png")
			background-size cover
			display block
			position relative
			bottom 250px
		.pic-border
			width 296px
			height 258px
			border 2px solid #FFFFFF
			display block
			position relative
			top 27px
			left 14px