.about-us-bgc
  width 100%
  position relative
  height 460px
  background url("//file.baixing.net/202105/3c107d764ef4b3e366a5c56e3306dd41.png") no-repeat center center/100%
  background-size cover
  margin-bottom 60px
  .about-us-content
    position absolute
    top 50%
    left 50%
    transform: translate(-50%,-50%)
    display flex
    justify-content center
    align-items center
    .content-left
      width 432px
      height 324px
      border-radius 8px
      overflow hidden
      img
        width 100%
        height 100%
        
    .content-right
      height 324px
      display flex
      flex-direction column
      justify-content flex-start
      padding-left 40px
      .content-right-title
        display flex
        justify-content flex-start
        align-items center
        margin-bottom 19px
        .right-title-left
          display flex
          justify-content center
          align-items center
          img
            width 48px
            height 48px
            margin-right 16px
          .left-title
            // line-height 26px
            font-size 26px
            font-weight bold
        .right-title-right
          margin-left 16px
          display flex
          .tag
            padding 5px 9px
            line-height 24px
            text-align center
            border 1px solid #DCBD9D
            border-radius 2px
            color #DCBD9D
            font-size 14px
            margin-right 12px
      .content-right-body
        width 654px
        height 144px
        .body-content
          color #666666
          line-height 24px
          -webkit-line-clamp 6
          -webkit-box-orient vertical
          display -webkit-box
          overflow hidden
        .view-detail
          display inline-block
          color #FF4365
          font-size 14px
      .content-right-bottom
        display flex
        align-items center
        margin-top 41px
        .bottom-left
          display flex
          justify-content center
          align-items center
          img
            width 78.1px
            height 46.2px
          .phone
            margin-left 13px
            text-align left
            .active
              font-size 24px
              color #FF4365
              font-weight bold
            .service-hot
              margin-bottom  4px
              font-size 14px
              color #333333
              font-weight bold
            .service-tel
              font-size 24px
              color #FF4365
              font-weight bold
        .bottom-right
          width 160px
          height 44px
          margin-left 58px
          background-color #FF4466
          border-radius 4px
          color #FFFFFF
          line-height 44px
          font-size 16px
          text-align center