@import "../components/contact-us"
.contact-us
  width 1220px
  display flex
  margin auto
  .contact-us__left 
    padding 16px 87px 0 0
    .contact-us__address
      width 474px
      height 290px
      margin-bottom 30px
      background url('//file.baixing.net/202105/ba997177769e6d0dbbce3e488bd69b14.png') no-repeat center center/cover,linear-gradient(200deg, rgba(255,255,255,0.46) 0%, rgba(255,255,255,0.85) 28%, #FFFFFF 44%)
      background-size 100% 100%
      background-position center
      background-repeat no-repeat
    .contact-us__tip
      text-align center
      font-size 20px
      color #666666
      line-height 20px
  &__message
    flex 1
    margin-left 44px
  &__title
    font-weight bold
    font-size 18px
    color #333333
    margin-bottom 12px
    &.align-center
      text-align center


