@import "../components/contact-us"
.contact-us
  width 1220px
  display flex
  margin 21px auto 0
  background: url(//file.baixing.net/202108/6e6b0a6b770b2ffcdff2b942f3da4c49.png) no-repeat 43% 82%
  .contact-us__left 
    // flex 1
    padding 0 87px 0 39px
    .contact-us__address
      width 417px
      height 495px
      margin-bottom 36px
      background url('//file.baixing.net/202108/cb081d264bb9e0e92e19208e029f009a.png') no-repeat center center/cover
      background-size 100% 100%
      background-position center
      background-repeat no-repeat
    .contact-us__tip
      text-align center
      font-size 16px
      color #666666
      line-height 20px
  &__message
    width 670px
    margin-left -14px
    padding-top 44px
    .contact-us__form
      .form-group
        padding 10px 0
        .form-item
          .form-item__label
            font-weight 500
            color #666666
            font-size 16px
          .form-item__input
            input
              width 320px
              height 44px
            textarea
              width 100%
              height 100px
          button
            width 220px
            height 40px
            background-color #ED4646 
  &__title
    font-weight 500
    font-size 24px
    color #ED4646 
    margin-bottom 12px
    &.align-center
      text-align center
  &__line
    width 40px
    height 3px
    margin 15px 0px
    background #ED4646
    text-align left
  &__content
    margin-bottom 40px
    text-align left
    font-size 16px
    color #999999

