//写标题2边的红点

.block-title-box
  display flex
  justify-content center
  align-items center
  padding 0 0 64px
  .block-line
    width 50px
    height 2px
    background-color #FF6536
  .block-title
    margin 0 18px
    line-height 26px
    font-size: 26px;
    font-weight 500
    color #FF6536