.new-center
	width 1220px
	margin auto
	.news-box
		display flex
		justify-content space-between
		flex-wrap wrap
		box-sizing border-box
		padding 0 32px
		margin-bottom 10px
		a	
			display block
			width 525px
			// margin-right 94px
			font-size 14px
			padding-bottom 20px
			border-top 1px solid #eaeaea
			padding 20px 0
			&:nth-child(1)
				border: 0
				padding-top 0px
			&:nth-child(2)
				border: 0
				padding-top 0px
			&:hover
				.item-card
					.item-title
						color $color-main
			.left-img
				width 85px
				margin-bottom 16px
				.news-date__day
					width 29px
					margin-bottom 16px
					// line-height 24px
					font-size 30px
					color #666
				.news-date__year
					// line-height 14px
					font-size 14px
					color #999
			.item-card
				width 525px
				.item-title
					width 400px
					margin-bottom 16px
					color #333333
					font-weight 600
					font-size 16px
					-webkit-line-clamp 1
					-webkit-box-orient vertical
					display -webkit-box
					overflow hidden
					text-overflow: ellipsis
				.item-content
					-webkit-line-clamp 1
					-webkit-box-orient vertical
					display -webkit-box
					overflow hidden
					text-overflow: ellipsis
					color #999
					font-size 14px
	.show-more-btn
		display block
		width 408px
		height 50px
		line-height 50px
		text-align center
		margin 0 auto
		font-size 16px
		color #666666
		border none
		cursor pointer
		margin-bottom 60px
		border 1px solid #DDDDDD
		border-radius: 4px
		.set-color
			font-size 16px
			color #666666
			font-weight: 500




