.new-center
	.news-box
		box-sizing border-box
		width 49.3%
		padding 24px 30px 0
		float left
		margin-right 16px
		&:nth-child(2n)
			margin-right 0
		>.content
			a
				display block
				font-size 14px
				display flex
				align-items center
				padding 39px 0
				border-bottom 1px dashed #eaeaea
				&:last-child
					border-bottom none
				&:hover
					.item-title
						color #FF2D38
				.left-img
					width 85px
					height 85px
					background-color #F2F2F2
					margin-right 15px
					display flex
					align-items center
					justify-content center
					flex-direction column
					.news-date__day
						width 29px
						height 44px
						font-size 24px
						color #666
					.news-date__year
						font-size 14px
						margin-top -15px
						color #666
				.item-card
					width 418px
					.item-title
						font-weight 600
						margin-bottom 10px
					.item-content
						color #999
						line-height 24px




