.user-defined-list
  width 1220px
  margin 0 auto 80px
  *
    box-sizing: border-box
  .user-defined-item
    display: flex
    justify-content: center
    align-items: center
    margin-bottom 20px
    .user-defined-item-img
      width: 595px
      height: 222px
    .user-defined-item-content
      width: 625px
      height: 222px
      padding: 50px 107px 0 75px
      position relative
      background-color: #F9F9F9
      .triangle 
        position: absolute;
        top: 50%;
        transform: translateY( -50%);
        border: 10px solid transparent;
        &.left
          right: -15px
          border-left: 15px solid #f9f9f9;
          border-right: 0;
        &.right
          left: -15px
          border-left: 0;
          border-right: 15px solid #f9f9f9;
      .title
        margin-bottom 16px
        font-size: 20px;
        font-weight: bold;
        color: #333333;
      .line
        width: 30px
        height: 4px
        margin-bottom 30px
        background: #D8D8D8;
      .desc
        font-size: 14px;
        color: #666666;
        word-break: break-word;