extends ../layout
block styles
  :combine(fileName="site-template-3-news-pc.css")

block content
  include ../components/common/breadcrumbs.pug

  .container
    .main
      - const { name:articleListName } = renderData.articleList
      - const articleList = (renderData.articleList || {}).result || []
      - const totalPage = (renderData.articleList || {}).totalPage || []
      include ../components/news/news-list.pug
      +news-list(articleList)
      include ../../../common/pc/pagination.pug
      +pagination(totalPage, currentPage, `${currentPathname}`)

    .sidebar
      - const sidecateList = renderData.articleCateList
      include ../components/sidebar/cateList.pug
      +side-cateList('文章分类', sidecateList)
      include ../components/sidebar/products.pug

block scripts
  :combine(fileName="site-template-3-news-pc.js")
block append scripts
  script.
    window.extraContactFormData = { position: 4 };
    window.contentType = 'article';
    window.trackSrc = 'listing';
