extends ../layout
block styles
  :combine(fileName="site-template-3-news-pc.css")

block content
  include ../components/common/breadcrumbs.pug

  .container
    .main
      include ../components/news/news-list.pug
      +news-list(renderData.articleList.result)

      include ../components/common/pagination.pug
      - var totalPage = (renderData.articleList && renderData.articleList.totalPage) || 1
      +pagination(totalPage, currentPage, `${currentPathname}`)

    .sidebar
      - const sidecateList = renderData.articleCateList
      include ../components/sidebar/cateList.pug
      +side-cateList('文章分类', sidecateList)
      include ../components/sidebar/products.pug

block scripts
  :combine(fileName="site-template-3-news-pc.js")
block append scripts
  script.
    window.contentType = 'article';
    window.trackSrc = 'listing';
