.product-detail
    background-color #fff
    border: 1px solid #EEEEEE
    .pro-title
        height 58px
        line-height 58px
        border-bottom 2px solid #EC2525
        p
          font-size 18px
          color $color-main
          margin-left 20px
          font-weight: 600
    .pro-content
        height: auto
        padding 29px 34px 40px 20px
        font-size 16px
        line-height 28px
        width 923px
        word-break break-all
        min-height 50px
        border-top: 1px solid #F2F2F2
    .pro-pic
        text-align center
        img
            max-width 100%
            margin-top 10px
    .setting-title
      padding-left: 20px
      margin: 29px 0  15px 0
      color: #333
      font-weight: bold
    .product-detail-table
      margin-left: 20px
      width: 860px
      margin-bottom: 29px