@import './cate-list/index.styl'
@import './company-card.styl'
@import './products.styl'

.sidebar
  margin-left 15px
  width 224px
  &-item
    padding 15px
    background-color #fff
    margin-bottom 20px
    border: 1px solid #EEEEEE
    border-radius: 4px
    &__content
      onverflow hidden
    &__title
      font-size 18px
      color $color-main
      border-bottom 2px solid #ddd
      font-weight: bold
      span
        display inline-block
        padding-bottom 10px
        border-bottom 2px solid $color-main
        margin-bottom -1px 