@import "../components/common"
@import "../components/topbar"
@import "../components/header"
@import "../components/breadcrumbs"
@import "../components/product-detail/company-top"
@import "../components/sidebar/company-card"
@import "../components/product/product-list"
@import "../components/pagination"
@import "../components/customer-service"
@import "../components/footer"

.container
  width 1220px
  margin 40px auto 72px
  .main
      float left
      width 980px
  .side-bar
      float right
      width 224px
      margin-top 40px
