@import "../components/common"
@import "../components/header"
@import "../components/footer"
@import "../components/contact"
@import "../components/news-detail"

//#container
//	min-height:100%;
//	height: auto !important;
//	height: 100%; /*IE6不识别min-height*/
//	position: relative;
