.company-info
  background-color #fff
  .info
    display flex
    justify-content flex-start
    align-items flex-start
    padding 12px 0px 16px  15px
    background: url(//file.baixing.net/202112/b0229d36a16089135c10ba84677f7389.png) center/ 100% 100%
    .info-logo
      height 50px
      max-width: 100px
      margin-right 10px
      border-radius 5px
    .info-text
      height 50px
      max-width calc(100% - 62px)
      flex-grow  1
      display: flex
      flex-direction: column
      justify-content space-between
      align-items flex-start
      .info-name
        font-size 18px
        font-weight: bold;
        color: #333333;
        line-height: 26px
      .info-tag-list
        display  flex
        justify-content flex-start
        align-items  center
        .info-tag
          padding 2px 4px
          text-align center
          font-size 10px
          color #fff
          border-radius: 2px;
          background-color: #ED4646
          &+.info-tag
            margin-left 6px
  .desc
    padding 24px 28px 14px 24px
    position relative
    background #F6F6F6
    border-radius 8px
    font-size 12px
    line-height 20px
    background-color: rgb(255,252,248)
    .desc-text
      margin-bottom 6px
      overflow hidden
      word-break break-all
      color #666666
      font-size 14px
      &.hide
        height 60px
    .top-left,.bottom-right
      width 13px
      height 12px
      position absolute
    .top-left
      top  7px
      left 11px
    .bottom-right
      right 16px
      bottom 11px
    .action-btn-box
      display flex
      justify-content flex-end
      margin-right 15px
      .action-btn
        box-sizing border-box
        height 18px
        padding 0 6px
        line-height 16px
        border-radius 2px
        border 1px solid #ED4646
        font-size 12px
        color #ED4646
        &.hide
          display none