.post-title-create-container {
  padding: 0 16px;
  .ai-handle-tips {
    background: #fff;
    padding: 27px 45px;
    margin-top: 16px;

    li {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      letter-spacing: 0;
      text-align: justify;
      line-height: 35px;

      .tip {
        color: rgb(255, 149, 17);
      }
    }
  }
  .group-words-list {
    margin-bottom: 30px;
    :global {
      .ant-btn {
        padding: 4px 12px;
      }
    }
  }

  .group-words-rules {
    font-size: 14px;
    color: #999;
    margin-top: 32px;

    span {
      margin: 0 16px;
    }
  }
  .create-btn {
    width: 120px;
    height: 40px;
    background: #096dd9;
    border-color: #096dd9;
    color: #fff;
  }
  .not-auth-tip {
    margin-left: 13px;
    font-size: 14px;
    letter-spacing: 0;
    text-align: justify;
    line-height: 35px;
    color: #f5222d;
  }
}
