.post-title-create-container {
  padding: 0 16px;
  .ai-handle-tips {
    background: #fff;
    padding: 27px 45px;
    margin-top: 16px;

    li {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      letter-spacing: 0;
      text-align: justify;
      line-height: 35px;

      .tip {
        color: rgb(255, 149, 17);
      }
    }
  }
}
