.search-crumbs
	width 1226px
	margin 19px auto -25px
	font-size 16px
	line-height 1
	display flex
	align-items center
	p
		width 80px
		float left
		font-size 16px
		color #666
	ul
		//display inline-block
		//float left
		li
			display inline-block
			margin-right 10px
			> a
				font-size 16px
				color #333
			i
				vertical-align 0
				margin-right 10px
				color #333
