.category-icon
	position relative
	width 224px
	height 88px
	background-size 224px
	background-image url("//file.baixing.net/202011/6da3b4fd502f9d0083cccb32e2f3b1eb.png")
	margin-top 16px
	.category1-tit
		position absolute
		left 50%
		top 50%
		margin -19px -49px
		img
			float left
			width 22px
			height 19px
			margin 3px 7px 0 0
		>h3
			float right
			font-size 18px
			color #FFF

