.contact
	width 224px
	height 208px
	border 1px solid #DDD
	.contact-bg
		position relative
		background url("//file.baixing.net/202011/637817b319b977afdd08de079d75ed5d.png")
		height 44px
		width 100%
		.tel-title
			position absolute
			top 12px
			left 46px
			font-weight 500
			img
				float left
				width 21px
				height 21px
				margin 2px 9px 0
			>span
				float right
				font-size 18px
				color #1565C1
	p
		font-size 14px
		padding 0 17px 0 11px
		line-height 22px
		margin 5px 0
		>span
			font-size 16px
			color #EF4828


