.customer-box
	width 138px
	height 269px
	border 1px solid #EF6A31
	z-index 2
	border-radius 4px
	position fixed
	bottom 60px
	right 5px
	.top
		height 106px
		margin-top 18px
		margin-bottom -8px
		padding 0 4px
		.item
			height 18px
			line-height 18px
			margin-bottom 15px
			font-size 14px
			color #666
			span
				display block
				float left
			a
				display block
				float left
				img
					width 58px
					height 18px
	.center
		height 39px
		line-height 39px
		display flex
		align-items center
		padding 0 6px
		img
			float left
			width 15px
			height 16px
			margin-right 5px
		span
			display block
			float left
			font-size 16px
			color #333
	.footer
		height 39px
		line-height 39px
		display flex
		align-items center
		padding 0 6px
		img
			float left
			width 18px
			height 13px
			margin-right 5px
		span
			display block
			float left
			font-size 14px
			color #666

	.title,.tel,.weixin
		height 27px
		line-height 27px
		width 138px
		background #EF6A31
		font-size 14px
		color #fff
		text-align center