.footer-links
	position relative
	height 239px
	background url("//file.baixing.net/202011/d26c7dc4109022fe208ca33436da2c24.png")
	.footer-left
		float left
		position absolute
		right 50%
		top 50px
		.col-left
			float left
			width 180px
			>dt
				font-size 16px
				color #FFFFFF
				margin-bottom 24px
			dd
				margin 16px 0 0
				font-size 14px
				a
					color #999

		.col-right
			float right
			width 140px
			>dt
				font-size 16px
				color #FFF
				margin-bottom 28px
			dd
				>a
					width 56px
					height 15px
					padding 9px 13px
					border 1px solid #FFF
					color #FFF
					border-radius 2px
					font-size 14px
					//&:hover


		//p
		//	font-size 14px
		//	color #999

	.footer-right
		float right
		width 573px
		margin 50px 0
		border-left 1px solid #999
		padding-left 80px
		p
			font-size 12px
			color #999
		.center
			height 66px
			margin 20px 0
			p
				line-height 12px
