.header
    width 1200px
    margin 35px auto
    //overflow hidden
    .logo
        float left
        margin-right 11px
        img
            height 73px
    .company
        float left
        font-size 32px
        color #333333
        letter-spacing 0
    .tel
        float right
        border-radius 100px 0
        background-color #eee
        position relative
        > img
            width 308px
            height 70px
        .tel-hoticon
            line-height 70px
            >img
                position absolute
                width 39.2px
                height 28.8px
                left 50px
                top 20.6px
        .tel-desc
            position absolute
            text-align center
            left 100px
            top 14px
            .tel-title
                font-size: 14px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 14px;
                margin-left: -48px;
                margin-bottom: 8px
            .tel-num
                font-size: 22px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 22px;

