.header
    width 1226px
    margin 33px auto
    height 73px
    line-height 73px
    img
        float left
        width 90px
        height 73px
        margin-right 11px
    h3
        float left
        font-size 32px
        color #333333
        letter-spacing 0
    .header-tel
        float right
        position relative
        > img
            width 308px
            height 70px
        .tel-hoticon
            >img
                position absolute
                width 39px
                height 29px
                left 50px
                top 20px
        .tel-desc
            position absolute
            left 100px
            top 14px
            .tel-title
                font-size 14px
                color #FFF
                letter-spacing 0
                line-height 14px
                margin-bottom 8px
            .tel-num
                font-size 22px
                line-height 22px
                a
                    color #FFF
                    &:hover
                        color #FFF !important

