.main-title
    border-bottom 2px solid #D8D8D8
    h2
        font-size 18px
        color #1565C1
        letter-spacing 0
        line-height 24px
        float left
        &:first-child
            width 72px
            margin-bottom -2px
            border-bottom 4px solid #1565C1
