.news-list
    width 983px
    min-height 300px
    padding-top 16px
    ul
        li
            font-size 16px
            a
                display flex
                align-items center
                color #333
                .sanjiao-icon
                    float left
                    margin-right 13px
                    line-height 0
                    width 0
                    height 0
                    border-style solid
                    border-width 9px 0 9px 13px
                    border-color transparent transparent transparent #999
                    font-size 0
                p
                    float left
                    width 876px
                    font-size 16px
                    letter-spacing 0
                    line-height 18px
                    overflow hidden
                    white-space nowrap
                    text-overflow ellipsis
                .news-createtime
                    float right



