.news-list
    margin-top 16px
    width 224px
    border 1px solid #DDD
    .news-bg
        position relative
        background url("//file.baixing.net/202011/637817b319b977afdd08de079d75ed5d.png")
        height 44px
        width 100%
        .news-title
            position absolute
            top 12px
            left 46px
            font-weight 500
            img 
                float left
                width 23px
                height 23px
                margin 2px 9px 0
            >span 
                float right
                font-size 18px
                color #1565C1
    ul  
        li  
            list-style disc 
            font-size 14px
            margin 15px 15px 15px 35px
            a
                color #333333
                overflow hidden
                white-space nowrap
                text-overflow ellipsis

 







        
        

