.page-normal
	text-align center
	margin 72px auto
	a
		color #333
	a,
	.page-current
		border 1px solid#E5E5E5
		padding 5px 11px
		text-decoration none
		margin-left 6px

//未选中的分页页码样式，和鼠标滑过样式如下
.page-normal
	.page-current,
	a:hover
		color #FFF !important
		background-color #1565C1
