.product-detail
	width 982px
	min-height 300px
	padding 50px 18px 40px 40px
	.pro-top
		img
			width 200px
			height 133px
		.pro-meta
			height 133px
	.pro-title
		font-size 16px
	.pro-content
		font-size 16px
		line-height 16px
