.product-pic
    position relative
    margin-top 40px
    img
        width 984px
        height 70px
    .product-title
        position absolute
        left 40px
        top -15px
        p
            color #ffffff
            &:first-child
                font-size 24px
                margin-bottom: -10px
            &:last-child
                font-size: 14px

