.product-list > .item
    float left
    width 234px
    height 287px
    border 1px solid #E5E5E5
    margin 20px 16px 0 0
    padding 24px 27px 27px 23px
    box-sizing border-box
    &:nth-child(4n)
        margin-right 0
    .cover
        width 180px
        height 120px
        background url("//file.baixing.net/202011/810feadae5a9849e4a067e79fc55ef56.png")
        background-size cover
    p
        font-size 16px
        color #333
        margin 16px 0 25px 0
    .btn
        font-size 16px
        color #1565C1
        display block
        border 1px solid #1565C1
        border-radius 2px
        padding 9px 0
        text-align center
.product-more-btn
    margin 40px auto
    width 200px
    font-size 16px
    color #ffffff
    background-color #1565c1
    display block
    border-radius 2px
    padding 9px 0
    text-align center
