.product-detail
	min-height 400px
	padding 50px 18px 40px 40px
	border 1px solid #E5E5E5
	.pro-top
		margin-bottom 40px
		line-height 18px
		img
			float left
			max-width 240px
			max-height 160px
		.pro-meta
			float left
			height 133px
			margin-left 13px
			margin-top 10px
			h3
				font-size 18px
			p
				font-size 14px
				margin-top 19px
				>span
					font-size 18px
					color #E11030
	.pro-title
		border-bottom 2px solid #E5E5E5
		margin-bottom 15px
		h3
			width 64px
			border-bottom 2px solid #1565C1
			padding-bottom 15px
			margin-bottom -2px
			font-size 16px
	.pro-content
		font-size 16px
		line-height 28px
		width 923px
		word-break break-all
	.pro-pic
		text-align center
		img
			max-width 100%
			margin-top 10px

