mixin baseSwiper(height)
  - const bannerList = renderData.banner
  - const hasBannerList = bannerList && bannerList.length > 0
  pre
    #{JSON.stringify(renderData.banner)}
  #banner-list(style="height:"+height)
    .swiper-container.swiper-specil-size
      .swiper-wrapper
        if hasBannerList
          each item in bannerList
            - const isVideo = item.hrefUrl
            if isVideo
              .swiper-slide
                .video-wrapper
                  video(src=item.hrefUrl, loop, preload, controls)
                .video-cover
                  img(src=item.displayImgUrl)
            else
              .swiper-slide
                  img(src=item.displayImgUrl)
        else
          .swiper-slide
            img(src="//file.baixing.net/202103/cffd7713b3858170c2a1ae855ee26513.png")
          .swiper-slide
            img(src="//file.baixing.net/202103/1ae6440e16ffe7ec601da2c2468f7fba.png")
      .swiper-pagination
      .swiper-button-next
      .swiper-button-prev