mixin companyRecord(contanct,contanctname,unio400)
  .media-show-right
    .company-record
      img(src="//file.baixing.net/202109/d39cb98c1e78604a91b7ee7484d4e7d1.png", alt="")
      span(class="company-dangan") 企业档案
    .baixing-accord
      .accord-title 
        .accord-line 
        .accord-content 百姓认证
        .accord-line 
      .accord-icon 
        ul 
          li 
            img(src="//file.baixing.net/202109/d03d680831ae225279e2708897ee0b2d.png", alt="")
          li 
            img(src="//file.baixing.net/202109/c08f0ba6c033405e78be9968bfeccc00.png", alt="")
          li 
            img(src="//file.baixing.net/202109/eeed98a3f88a4b239c3e0542de4ac0e7.png", alt="")
          li 
            img(src="//file.baixing.net/202109/d2779c5e58588f3dee60f6a5d6fb36fc.png", alt="")
      .accord-wd
      .contact-name 联系人：#{contanctname.name}
      if isSem !== "1"
        .contanct-address 联系电话：#{contanct.content}
      if kf53StyleUrl && kf53StyleUrl.length > 0
        a(class="contant-btn" href=kf53StyleUrl) 给我留言