//只有首页用，联系我们和新闻资讯的标题头样式
.home-side-title-bg
	position relative
	width 222px
	height 43px
	background-image url("//file.baixing.net/202011/637817b319b977afdd08de079d75ed5d.png")
	background-size cover
	border 1px solid #DDD
	border-bottom none
	.title
		position absolute
		top 12px
		left 46px
		font-weight 500
		img
			float left
			width 21px
			height 21px
			margin 2px 9px 0
		>h3
			float right
			font-size 18px
			color #1565C1