.sidebar
  margin-left: 15px
  width: 224px
  &-item
    box-shadow: 0 4px 10px rgba(#000, 0.02);
    padding: 15px
    background-color: #fff
    margin-bottom: 20px
    &__title
      font-size: 18px
      color: #EC2525
      border-bottom: 1px solid #ddd
      span
        display: inline-block
        padding-bottom: 10px
        border-bottom: 2px solid #EC2525
        margin-bottom: -1px
    &.company-info
      height: 270px
      padding: 30px 25px
      box-sizing: border-box
      background: url('//file.baixing.net/202102/ad9c3e596c810e1fa224f778c859fbcd.png') no-repeat top left/cover

  .articles
    .article
      margin: 15px 0
      font-size: 14px
      color: #666666
      cursor: pointer
      position: relative
      &:last-child
        margin-bottom: 0
      &::after
        content: ''
        width: 8px
        height: 8px
        position: absolute
        border: 1px solid #666
        border-left: none
        border-bottom: none
        transform: rotate(45deg)
        top: calc(50% - 5px)
        right: 0

  .company-info

    .company-logo
      width: 60px
      height: 60px
      margin: auto
      border-radius: 50%
      background-color: #fff
    .company-name
      font-size: 16px
      margin: 15px 0
      text-align: center
    .company-medals
      font-size: 12px
      display: flex
      justify-content: space-around
      .medal
        display: flex
        align-items: center
        &-name
          color: #FF5500
        &-img
          width: 25px
          height: 20px
          background: url('//file.baixing.net/202102/b0e500e6cfa746ab5bd4980460d5dfb7.png') no-repeat center center/100%
          margin-right: 5px
        &.bx
          .medal-name
            color: #038CFF
          .medal-img
            width: 18px
            height: 18px
            background: url('//file.baixing.net/202102/040014dd6a47c01a5ec225974f3347ae.png') no-repeat center center/100%
    .certificate
      &-label
        color: #FF5500
        font-size: 12px
        text-align: center
        margin: 20px 0 15px 0
        position: relative
        &::before,
        &::after
          content: ''
          height: 1px
          width: 30%
          position: absolute
          background-color: #FF5500
          left: 0
          top: 50%;
        &::after
          right: 0
          left: auto
    .certificate
      &-icons
        display: flex
        justify-content: space-around
      &-icon
        img
          width: 17px


        
