@import './articles.styl'
@import './company-info.styl'
@import './products.styl'

.sidebar
  margin-left: 15px
  width: 224px
  &-item
    box-shadow: 0 4px 10px rgba(#000, 0.02);
    padding: 15px
    background-color: #fff
    margin-bottom: 20px
    &__content
      onverflow: hidden
    &__title
      font-size: 18px
      color: #EC2525
      border-bottom: 1px solid #ddd
      span
        display: inline-block
        padding-bottom: 10px
        border-bottom: 2px solid #EC2525
        margin-bottom: -1px
    &.company-info
      height: 270px
      padding: 30px 25px
      box-sizing: border-box
      background: url('//file.baixing.net/202102/ad9c3e596c810e1fa224f778c859fbcd.png') no-repeat top left/cover
        
