@import "../layout"
@import "../../../common/wap/pagination"
@import "../components/header"
@import "../components/swiper"
@import "../components/toptab"
@import "../components/news-list"
@import "../components/default-content"
@import "../components/footer"
