html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title #{ renderData.meta.title || "" }
        meta(name='keywords' content=renderData.meta.keywords || "")
        meta(name='description' content=renderData.meta.description || "")
        link(rel='shortcut icon' type='image/x-icon' href='//s.baixing.net/favicon.ico')
        block styles
    body
        //-初始化公共数据
        - const { qq, phone, phone2, weChat, contactName, kf53StyleUrl } = renderData.basic.contact
        - const { company, person, copyRight } = renderData.basic
        - const { currentPage, currentPathname, categoryId, domainType, shopId, shopName, userInfo } = renderData
        - companyName = renderData.basic.company.name
        //-导航因为后台可设置是否显示，因此要如下处理
        - nav = renderData.navigation
        - productListTab = nav.filter(x => x.position == "productListPage")
        - newsLinkListTab = nav.filter(x => x.position == "articleListPage")
        if productListTab.length >0
            - productLink = productListTab[0].content
        if newsLinkListTab.length >0
            - newsLink = newsLinkListTab[0].content
        - aboutLink =  currentPathname.indexOf(shopName)===-1?'/about': '/'+shopName+'/about/'
        - defaultImg = "//file.baixing.net/202103/89395a19ded05d93d57f0524024acb4e.png"
        - defaultLogo = "//file.baixing.net/201709/4916aa54f4b4c69b4c01591fe6a87046.png"

        block header
            //- include ../../common/pc/topbar.pug
            include ../../common/pc/official-topbar.pug
            include ../../common/pc/official-search.pug
            include ./components/common/header.pug

        block content
        //-QQ联系等开发时先注释掉
        include ../../common/pc/customer-service.pug

        block footer
            //- include ../../common/pc/footer.pug
            include ../../common/pc/official-footer.pug

    :combine(fileName=["tb-vendors.js", "tb-commons.js"])
    block scripts
    //-把打点值赋给window，便于传给node层和其他js层
    block append scripts
        script.
            window.shopId = #{shopId};

        include ../../vendor/baidutongji.pug
        //-TODO:开发阶段先注释掉
        include ../../vendor/53kf.pug



