.topbar-bg
	.topbar
		a.left(href="https://www.baixing.com" target="_blank")
			img(src="//file.baixing.net/202105/b7e4b6bc49e50a16716ae4bc6726720d.png", alt="logo")
			span 合作商家
		.right 
			if userInfo
				a#topbarUserInfo.link-right(href="//www.baixing.com/w/posts?src=topbar", target="_blank", rel="nofollow") #{ userInfo.userName }
				//- a#topbarPersenCenter.link-right(href="//www.baixing.com/w/posts?src=topbar", target="_blank", rel="nofollow") VIP管理后台
			a#topbarPersenCenter.link-right(href="//www.baixing.com/w/posts?src=topbar", target="_blank", rel="nofollow") 个人中心
			a#topbarShopPromote.link-right(href="//www.baixing.com/a/pro/?src=topmenu", target="_blank", rel="nofollow") 商户推广
			a#topbarHelp.link-right(href="//www.baixing.com/help/", target="_blank", rel="nofollow") 帮助
