@import "../components/common"
@import "../components/header"
@import "../components/nav"
@import "../components/company-profile"
@import "../components/contact"
@import "../components/product-title"
@import "../components/swiper"


.container
  width 1200px
  margin 40px auto 72px
  .main
    width 985px
  .aside
    width 224px
