@import "../components/common"
@import "../components/topbar"
@import "../components/header"
@import "../components/swiper"
@import "../components/home/product-list"
@import "../components/home/about-us"
@import "../components/home/product-catogeries"
@import "../components/home/news-center"
@import "../components/home/contact-us"
  
@import "../components/customer-service"

.container
  width 1220px
  margin 40px auto 72px
  .block-title
    max-width 354px
    margin 56px auto
    position relative
    text-align center
    img
      width 277px
      height 50px
    h2
      font-size 36px
      position absolute
      top -13px
      left 50%
      margin-left -73px





