@import "../layout"
@import '../../../common/pc/official-breadcrumb/index.styl'
//@import "../components/topbar"
//@import "../components/header"
@import "../components/swiper"
@import "../components/home/product-list"
@import "../components/home/about-us"
@import "../components/home/product-catogeries"
@import "../components/home/news-center"
@import "../components/contact-us"
//@import "../components/customer-service"
//@import "../components/footer"
@import "../components/home/user-defined-module"

.container
  width 1220px
  margin 40px auto 72px
  .block-title
    margin 22px auto 42px
    position relative
    text-align center
    h2
      font-size 32px
      display inline-block
      text-align center
    .point
      display inline-block
      margin 0px 15px
      position relative
      bottom 7px
      .littlePoint
        display inline-block
        transform rotate(-64deg)
        background #FF2D38
        border-radius 15px
        width 10px
        height 5px
      .largePoint
        display inline-block
        transform rotate(-64deg)
        background #FF2D38
        border-radius 15px
        width 18px
        height 8px


