.breadcrumb-red
  width 1200px
  margin: 18px auto;
  .item
    display: inline-block;
    padding-right: 13px 
    font-size: 12px;
    line-height: 14px
    .url 
      color: #666;
      margin-right: 10px;
    .and
     display: inline-block;
     width: 8px
     height: 8px
     border-top: 2px solid rgb(112,112,112)
     border-right: 2px solid rgb(112,112,112)
     transform: rotate(45deg)
      
