.container {
  width: 920px;
  .title-form-container {
    overflow: auto;
    min-height: 61px;
  }
  .form-item {
    .form-label {
      font-weight: bold;
    }
    :global {
      .ant-form-item-control {
        padding-left: 32px;
      }
    }
    .form-input {
      input {
        font-size: 14px;
      }
    }
  }
  .add-btn {
    width: 120px;
    height: 40px;
    margin: 0 0 50px 134px;
    color: #096dd9 !important;
    background: #ffffff !important;
    border: 1px solid #096dd9;
  }
  .submit-btn {
    width: 120px;
    height: 40px;
    margin-left: 134px;
    border-color: #096dd9;
    background: #096dd9;
  }
}
