@import '../official-nav-company-info/index.styl'
@import '../official-nav/index.styl'
@import '../official-nav-phone/index.styl'

.header-bgc
  background-color #fff
  .header
    width 1220px
    margin 0 auto
    height 80px
    display flex
    align-items center 
    justify-content space-between
    .nav-left
      display flex
      align-items center
      justify-content flex-start
    .nav-right
      display flex
      justify-content: flex-end
      align-items center
      line-height: 36px