.product-pic
    position relative
    img 
        width 981px
        height 80px
    .product-title
        position absolute
        left 40px
        top -3px
        p
            color #ffffff
            &:first-child
                font-size 24px
                margin-bottom: -8px
            &:last-child
                font-size: 14px

