@import "../layout";
@import "../components/breadcrumbs";
@import "../components/product/product-list";
@import "../components/product/cateList";
@import "../components/sidebar/products";
@import "../components/sidebar/index";
@import "../components/base-swiper";

html
    background-color: #F7F7F7
.container
    width 1220px
    margin 0 auto 72px
    display flex
    .main
        width 980px

    .sidebar
        width 224px
        margin-left 15px
