.img-item {
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  .img {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-color .3s;
    &:hover {
      .mask {
        opacity: 1;
      }
    }
    .mask {
      width: 100%;
      height: 100%;
      background-color: #00000080;
      opacity: 0;
      transition: all 0.3s;
      content: " ";
    }
  }
}
