.topbar-bg-red
	width 100%
	background-color #F0F0F0
	.topbar
		display flex
		justify-content space-between
		align-items center
		width 1200px
		height 36px
		line-height 36px
		margin 0 auto
		.text 
			font-size: 12px;
			color rgba(124,124,124,1)
		.right
			display: flex
			justify-content: end
			align-items: center
			.link-right
				line-height: 18px
				padding: 0 16px
				font-size: 12px;
				color rgba(124,124,124,1)
				&:hover
					color #f46
				&+.link-right
					border-left: 2px solid silver
