include ./official-old-topbar.pug
include ./official-search.pug
if isHome
  include ./official-old-breadcrumb.pug
  - breadcrumbList = [{text:'首页',url:'//www.baixing.com'},{text:'热门商家',url:'//www.baixing.com/weishop/brands/fuwu/?src=navbar&src=navbar'},{text: company.name,url:'#'}]
  +breadcrumb(breadcrumbList)
