.official-nav-block-bgc
	.official-nav-block
		.nav-left
			include ./official-nav-company-info.pug
			include ./official-nav.pug
		.nav-right
			block official-nav-phone
				include ./official-nav-phone.pug