.official-nav-block-bgc
	.official-nav-block
		.nav-left
			if isSem !== "2"
				include ./official-nav-company-info.pug
			if isSem !== "1"	
				include ./official-nav.pug
		.nav-right
			block official-nav-phone
				include ./official-nav-phone.pug