mixin officialTopbar()
	- const shopDomain = renderData.basic&&renderData.basic.shop?renderData.basic.shop.shopDomain:''
	.official-topbar-container
		if isBaiduPin === 'baidu_pinzhuan' && pinZhuan
			.maskLayer-htdh
		.topbar
			.left
				a.left(href=isCn ? "https://home.baixing.cn/baixing" : "https://www.baixing.com" target="_blank")
					if isCn
						img.cn(src="//file.baixing.net/202112/346ca3c2b6f1cf1a419278eaab47482e.png", alt="logo")
					else 
						img.com(src="//file.baixing.net/202105/3252caa19b257e704b3e63ce31c5216f.png", alt="logo")
			.right 
				.search 
					input#inputValue.input(onfocus="this.select();return false;" placeholder="请输入关键词查询" data-category="root" value="" x-webkit-speech="" name="query" autocomplete="off" required)
					#searchClear.clear
					button#SearchBtn.search-btn(title="搜索",data-shopdomain=shopDomain.toString()) 
						img.search-icon(src="//file.baixing.net/202105/b52876a539647c636eef53f60f91b291.png", alt="")
				a#topbarFabu.link-right(href="https://www.baixing.com/fabu/", target="_blank", rel="nofollow") 发布
				if userInfo
					a#topbarUserInfo.link-right(href="//www.baixing.com/w/posts?src=topbar", target="_blank", rel="nofollow") #{ userInfo.userName }
				a#topbarPersenCenter.link-right(href="//www.baixing.com/w/posts?src=topbar", target="_blank", rel="nofollow") 个人中心
				if userInfo
					a#topbarVip.link-right(href="https://www.baixing.com/vip/manager/service?src=topbar", target="_blank", rel="nofollow") VIP管理后台
				a#topbarShopPromote.link-right(href="//www.baixing.com/a/pro/?src=topmenu", target="_blank", rel="nofollow") 商户推广
				a#topbarHelp.link-right(href="//www.baixing.com/help/", target="_blank", rel="nofollow") 帮助