if phone&&phone.content
	img.official-nav-phone-icon(src='//file.baixing.net/202108/e9cd4572f5363e55005f0e8616be31c3.png', alt="")
	.official-nav-phone-block
		if isSem!=="1"
			span.hot-link 24小时服务热线
			span.official-nav-phone-num(style="color:"+navPhoneColor)
				| #{ phone.content }
		else
			- let union400num =  union400 && union400.length? union400[0]: ''
			.official-nav-phone-400-action
				button.btn(data-union400num=union400num||'' style="background:"+navPhoneColor) 查看电话号码
			.official-nav-phone-num-box.hide
				.official-nav-phone-num(style="color:"+navPhoneColor)
					|	#{ union400num }
			.official-nav-phone-num-tip.hide(style="border-color:"+navTipBorderColor+";background:"+navTipBackgroundColor)
				.triangle
					//- <!-- 底层三角形用于绘制三角形边框 -->
					em(style="border-bottom-color:"+ navTipBorderColor )
					//- <!-- 上层三角形用于消除得到镂空效果 -->
					span(style="border-bottom-color:"+ navTipBackgroundColor )
				.tip-text(style="color:"+navTipColor)
					| 电话
					span.time-num
						| 180s
					| 后过期，刷新页面重新获取 
				