//- 防止后期对header又要做什么配置，先把配置写出来
//- headerOption
//-   nav
//-     navPhoneIcon: nav区域电话的icon
//-     navPhoneColor: nav区域电话的颜色配置
//-     navTipBorderColor: nav区域电话的颜色配置
//-     navTipBackgroundColor: nav区域电话的颜色配置
//-     navTipColor: nav区域电话的颜色配置

mixin officialHeader(headerOption)
  - const { navConfig } = headerOption||{}
  - const { navPhoneIcon, navPhoneColor,navTipBorderColor,navTipBackgroundColor,navTipColor } = navConfig||{}
  if isCn
    include ./official-topbar-cn.pug
  else
    if isRedTopbar
      include ./official-red-topbar.pug
      include ./official-red-search.pug
      if isHome
        include ./official-red-breadcrumb.pug
        - breadcrumbList = [{text:'首页',url:'//www.baixing.com'},{text:'热门商家',url:'//www.baixing.com/weishop/brands/fuwu/?src=navbar&src=navbar'},{text: company.name,url:'#'}]
        +breadcrumb(breadcrumbList)
    else 
      include ./official-white-topbar.pug
  include ./official-nav-block.pug

