if isRedTopbar
  include ./official-red-topbar.pug
  include ./official-red-search.pug
  if isHome
    include ./official-red-breadcrumb.pug
    - breadcrumbList = [{text:'首页',url:'//www.baixing.com'},{text:'热门商家',url:'//www.baixing.com/weishop/brands/fuwu/?src=navbar&src=navbar'},{text: company.name,url:'#'}]
    +breadcrumb(breadcrumbList)
else 
  include ./official-white-topbar.pug

