mixin officialHeader(headerOption)
  - const { navConfig } = headerOption||{}
  include ./official-topbar.pug
  +officialTopbar()
  if isBaiduPin === 'baidu_pinzhuan' && pinZhuan
  else
    include ./official-info.pug
    +officialInfo()
  if isSem !== "1"
    include ./official-nav.pug
    +officialNav()
