.footer
  .copyright
    span 
      span.copy-icon ©
      | 2022 
      if isCn
        |  上海林登信息技术有限公司 
      else
        |  上海百姓网股份有限公司 
      | 客服服务热线：400-036-3650 或 021-61300110 (周一至周五，9:00-18:00） 举报热线：021-61300238（周一至周日，9:00-18:00）
      br
      | 上海市闵行区东川路555号戊楼1005室
  .icp-number
    span 
      if !isCn
        
        a(href="//file.baixing.net/202103/7cf87238e437434700417cb9b5aa3282.png" target="_blank" rel="nofollow") 营业执照&nbsp;
      else 
        a(href="//file.baixing.net/202107/7510c819b8a8bc880317f2e792c21107.png" target="_blank" rel="nofollow") 营业执照&nbsp;
      if !isCn
        a( href="//file.baixing.net/202103/d0eddbdf016501cf29fe6efa710424d4.jpg" target="_blank" rel="nofollow") |&nbsp;人力资源服务许可证&nbsp;
      if !isCn 
        a( href="https://beian.miit.gov.cn/#/Integrated/index" rel="nofollow") |&nbsp;沪ICP备06019413号&nbsp;
      else 
        a( href="https://beian.miit.gov.cn/#/Integrated/index" rel="nofollow") |&nbsp;沪ICP备2021017611号&nbsp;
      if !isCn
        a( href="https://beian.miit.gov.cn/#/Integrated/index" rel="nofollow") |&nbsp;沪ICP证B2-20080088&nbsp;
        | | 沪公网安备31011202007947号
  .gongan-line
    a(target="_blank" rel="nofollow" href="http://fw.scjgj.sh.gov.cn/platform/survey/step1_phone")
      .bg-gj.bg-dianping
    a(target="_blank" rel="nofollow" href="http://www.shjbzx.cn")
      .bg-gj.bg-jubao
    a(target="_blank" rel="nofollow" href="http://www.gsxt.gov.cn/")
      .bg-gj.bg-jubao2
    a(target="_blank" rel="nofollow" href="https://www.12377.cn/")
      .bg-gj.bg-gongshang
    a(target="_blank" rel="nofollow" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011202007947")
      .bg-gj.bg-zhengxin
    