.topbar-bg
	.topbar
		img(src="//file.baixing.net/202102/274fb15f6bf4bf0cb1567d1fead4be0b.png", alt="电话icon")
		span 服务热线：#{ phone.content }
		a(href="https://www.baixing.com" target="_blank")
			img(src="//file.baixing.net/202102/5d7df439ff15038861d88084df81cfd3.png", alt="logo")