extends ../layout

block styles
    link(rel="stylesheet", href="/assets/site-template-1-news-child-pc.css")

block content
    //- 面包屑
    - const crumbs = [{label:'首页',link:'#'},{label:'新闻资讯',link:'#'},{label:'境外公司注册',link:'#'}]
    include ../components/breadcrumbs.pug

    .container.clearfix
        .main
            - const firstcrumb= '新闻资讯'
            - const secondcrumb= '境外公司注册'
            include ../components/main-title.pug
            include ../components/news-list.pug

        .side-bar
            include ../components/sidebar/sidebar-title.pug
            +sidebar-title('文章分类')
            - const categoryList = [{name:'境外公司注册', url:'/site/news/detail'},{name:'代理记账服务', url:'/site/news/detail'},{name:'公司注册流程', url:'/site/news/detail'},{name:'食品公司注册', url:'/site/news/detail'}]
            include ../components/sidebar/category-item.pug

            +sidebar-title('联系我们')
            include ../components/sidebar/contact.pug

    include ../components/page.pug
    include ../components/footer.pug

block scripts
    script(src="/assets/site-template-1-news-child-pc.js")
