.container
  width 1200px
  margin 0 auto
  .line
    display flex
    justify-content space-between
    align-items stretch
    .company-info-block
      width 785px
    .contact-us-block
      width 400px
      