@import 'swiper/dist/css/swiper.min.css'
@import '../layout/index.styl'
@import '../components/home/banner-swiper/index.styl'
@import '../components/home/company-info/index.styl'
@import '../components/home/contact-us/index.styl'
@import '../components/home/product-swiper/index.styl'
@import '../components/home/user-defined-module/index.styl'
@import '../components/home/contact-us-bottom/index.styl'
.container
  width 1200px
  margin 0 auto 40px
  .line
    display flex
    justify-content space-between
    align-items stretch
    margin-top 16px
    .company-info-block
      width 854px
    .contact-us-block
      width 330px 