.about-us-container {
  padding: 30px 20px;
  .about-us-submit-box {
    padding-top: 180px;
    .btn {
      width: 120px;
      margin-left: 16px;
      background: #096dd9;
      border-radius: 1px;
      font-size: 14px;
      color: #ffffff;
    }
  }
}
