html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title #{ renderData.meta.title || "" }
        meta(name='keywords' content=renderData.meta.keywords || "")
        meta(name='description' content=renderData.meta.description || "")
        block styles
    body
        block header
            include ./components/header.pug
        block nav
            include ./components/nav.pug
        block content

    block scripts

