html
    head
        title #{title}
        block styles
    body
        block header
            include ./components/header.pug
        block nav
            include ./components/nav.pug
        block content
            //-.container.clearfix
            //-block main
            //-    .main
            //-block side-bar
            //-    .side-bar

    block scripts

