html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title #{ title ? title : '页面找不到' }
        link(rel='shortcut icon' type='image/x-icon' href='//s.baixing.net/favicon.ico')
        block styles
            style.
                * {
                    margin: 0;
                    padding: 0;
                }
                @media screen and (max-width: 725px) {
                    body, html {
                        width: 100%;
                        height: 100%;
                    }
                    .container img {
                        width: 100%;
                    }
                }
                .container {
                    text-align: center;
                    color: red;
                    max-width: 1175px;
                    margin: 0 auto;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                h1 {
                    font-size: 24px;
                    color: #1565c1;
                    margin: 32px 0 16px 0;
                }
                .message {
                    font-size: 16px;
                    color: #1565c1;
                    margin-bottom: 16px;
                }
                .container a {
                    padding: 5px 40px;
                    border: 1px solid #1565c1;
                    font-size: 18px;
                    color: #1565c1;
                    text-decoration: none;
                }
    body
        .container
            img(src="//file.baixing.net/202012/fb7a973eef780d1aff76e925a7d36377.png")
            h1
                | #{ title ? title : '页面找不到' }
            p.message
                | #{exceptionRes && exceptionRes.message}
            a(href=haojingHost) 去首页


