doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        meta(name='keywords' content='')
        meta(name='description' content='')
        title 优选推 - 百姓网
    body
        p
            | 优选推是针对搜索引擎对网页的检索特点，让店铺各项基本要素适合搜索引擎的检索原则，并且对用户更友好，使搜索引擎收录尽可能多的网页，并在搜索引擎自然检索结果中排名靠前，达到搜索引擎营销的目的。
        br
        br
        br
        br
        p
            a(href='https://shop.baixing.com/yhfangshui/') 屋顶防水
        p
            a(href='https://shop.baixing.com/shgazlv/') 上海律师
        p
            a(href='https://shop.baixing.com/sxssjzgc/') 陕西铝艺大门
        p
            a(href='https://shop.baixing.com/hdgszc/') 广州花都代理记账
