html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title 百姓网用户保障中心
        link(rel='shortcut icon' type='image/x-icon' href='//s.baixing.net/favicon.ico')
        link(rel="stylesheet", href='//file.baixing.net/publicity-fe/static/safeguard.759fb11876becefc5e00.css')
        link(rel="stylesheet", href='//file.baixing.net/publicity-fe/static/commons.2aa95c427c861f9c902e.css')
    block styles 
        style.
            * {
                margin: 0;
                padding: 0;
            } 
            p{
                margin: 0;
            }
    body
        block content 
            div#root

    block append scripts 
        script(type='text/javascript', src='//file.baixing.net/publicity-fe/static/reactBase.1f64ff1d8638d229d067.js')
        script(type='text/javascript', src='//file.baixing.net/publicity-fe/static/commons.b259c0152c0047a8167a.js')
        script(type='text/javascript', src='//file.baixing.net/publicity-fe/static/safeguard.942f27414c3cf27535c6.js')
        script(type='text/javascript', src='//file.baixing.net/publicity-fe/static/838.0d9214be9a63c1cabf88.js')
        script.
            window.shopName =  '#{renderData.shopName}'