html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title 百姓网用户保障中心
        link(rel='shortcut icon' type='image/x-icon' href='//s.baixing.net/favicon.ico')
        link(rel="stylesheet", href='//file.baixing.net/publicity-fe/static/safeguard.9c102265b19f5fe8e981.css')
        link(rel="stylesheet", href='//file.baixing.net/publicity-fe/static/commons.2aa95c427c861f9c902e.css')
    block styles 
        style.
            * {
                margin: 0;
                padding: 0;
            }
    body
        block content 
            div#root

    block append scripts 
        script(type='text/javascript', src='//file.baixing.net/publicity-fe/static/reactBase.1f64ff1d8638d229d067.js')
        script(type='text/javascript', src='//file.baixing.net/publicity-fe/static/commons.0a28a516c8f5369606f1.js')
        script(type='text/javascript', src='//file.baixing.net/publicity-fe/static/safeguard.20d2e4dd00511e93c93c.js')
        script(type='text/javascript', src='//file.baixing.net/publicity-fe/static/97.95e4273705f19314e6b2.js')