.contact-us-form
  .form-item.required
    label(for="") 称呼
    .form-input
      input#contactUsName(type="text", placeholder="请输入您的称呼")
  .form-item.required
    label(for="") 电话
    .form-input
      input#contactUsTel(type="text", placeholder="请输入电话号码")
  .form-item
    button#upContactUsForm.btn-animate-light 马上提交
