mixin home-title(title,color)
  h2.block-title-box
    .block-line(style=`background-color:${color}`)
    .block-title(style=`color:${color}`) #{ title } 
    .block-line(style=`background-color:${color}`)
    