- const { name:articleListName } = renderData.articleList
- const articleList = (renderData.articleList || {}).result || []
- const totalPage = (renderData.articleList || {}).totalPage || []
if articleList && articleList.length >0
	.news-list-title-box
		.title #{articleListName}
		a.more(href=newsLink) 查看全部
	include ../components/news-list.pug
	+news-list(articleList)
