- const {productRecommend: proRec } = renderData
if proRec && proRec.length > 0
		.product-recommend
				.pro-title
						div
						span 其他服务
				.pro-box
						each item in proRec
								a.pro-box-product(href=item.urlSuffix)
										img(src=item.headImg || defaultImg, alt="图片")
										.pro-desc.only-twoline #{ item.name }


