mixin swiper(data, type)
  .swiper-container
    if data && data.length > 0
      .swiper-wrapper
        each item in data
          .swiper-slide(style=`background-image:url(${item.displayImgUrl})`)
      if type === 'home'
        .num-tip #{data.length}张图片
      else
        if data.length > 1
          .swiper-pagination

    else
      if type === 'home'
        .swiper-wrapper
          .swiper-slide(style="background-image:url(//file.baixing.net/202105/68804ccf9b248f73ae14561a4981fc94.png)")
      else
        .swiper-wrapper
          .swiper-slide(style="background-image:url(//file.baixing.net/202103/410b62b875216c3267539be22288285f.png)")
          .swiper-slide(style="background-image:url(//file.baixing.net/202103/0e18a589532358323c4946c53d35460c.png)")
        .swiper-pagination

//-分页放进判断里，目的是单图时不显示