mixin swiper(data, type)
  .swiper-container(style= type==='home'? "height: 100vw" : "height: 152px")
    .swiper-wrapper
      if data && data.length > 0
        each item in data
          - const isVideo = item.hrefUrl
          if isVideo
            .swiper-slide
              .video-wrapper
                video(src=item.hrefUrl, loop, preload,webkit-playsinline="webkit-playsinline",playsinline="playsinline",x5-video-player-type='h5-page')
              .video-cover
                img(src=item.displayImgUrl)
          else
            .swiper-slide(style=`background-image:url("${item.displayImgUrl}")`)
      else
        if type === 'home'
          .swiper-slide(style="background-image:url(//file.baixing.net/202105/68804ccf9b248f73ae14561a4981fc94.png)")
        else
          .swiper-slide(style="background-image:url(//file.baixing.net/202103/410b62b875216c3267539be22288285f.png)")
          .swiper-slide(style="background-image:url(//file.baixing.net/202103/0e18a589532358323c4946c53d35460c.png)")
    if type !== 'home'
      if data.length > 1
        .swiper-pagination
  .swiper-fullscreen-mask

//-分页放进判断里，目的是单图时不显示
