.form-styles {
  width: 680px;
  :global {
    .ant-form-item-label {
      margin-right: 16px;
    }
    .ant-select-lg {
      font-size: 14px;
    }
  }
  .form-item-box {
    position: relative;
    min-height: 64px;
    margin-bottom: 20px;
    &:nth-last-child(3){
        margin-bottom: 60px;
    }
    .recommended-box{
      font-size: 12px;
      padding-left: 90px;
      button{
        font-size: 12px;
        border-radius: 10px;
        color: #096dd9;
        border:1px solid #096dd9;
        height: 25px;
        line-height: 25px;
        padding: 0 10px;
      }
      button:hover{
        background-color: #096dd9;
        color: #ffffff;
      }
    }
  }
  input {
    font-size: 14px;
    height: 40px;
  }
  textarea {
    // margin-left: 7px;
    font-size: 14px;
  }

  .image-upload-box {
    .tip-right {
      transform: translateY(-4px);
      padding-left: 8px;
    }

    .image-upload-list {
      display: inline-block;
      margin-bottom: 0;
    }
    
    .image-tip {
      flex-grow: 1;
      margin-bottom: 10px;
      color: #999;
      font-size: 12px;
      &.tip-right-transform {
      }
      &.red-tip {
        color: #f1492c;
      }
    }

    .flex-box {
      display: flex;
      justify-content: start;
      align-items: center;
    }

    &.image-upload-set-p {
      .image-upload-list {
        margin-bottom: 0;
      }
    }
    :global {
      .upload-img {
        font-size: 14px;
        color: #999999;
      }
    }
  }
  .sumbit-btn {
    border-color: #096dd9;
    background: #096dd9;
  }
  .record-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 0;
    color: red;
  }
}
