.container {
  min-height: 500px;
  margin: 20px;
  padding: 15px 53px;
  background: #fff;
  .primary-btn {
    background: #ffffff !important;
    border: 1px solid #096dd9;
    color: #096dd9 !important;
    margin-left: 25px;
  }
}
