.container {
  min-height: 500px;
  margin: 20px;
  padding: 40px 53px;
  background: #fff;
  .add-btn {
    width: 120px;
    height: 40px;
    margin: 0 0 50px 110px;
    color: #096dd9 !important;
    background: #ffffff !important;
    border: 1px solid #096dd9;
  }
  .submit-btn {
    width: 120px;
    height: 40px;
    margin-left: 110px;
    border-color: #096dd9;
    background: #096dd9;
  }
}
