.contact-us
    .contact-us__address
        .contact-us__title 一站式服务有限公司
        p.contact-us__detail 公司地址：上海市闵行区七莘路901号
        p.contact-us__detail 服务热线：400-857-8888
        p.contact-us__detail 微信号：16374578934
        .baidu-map-wrapper
          a#baidu-map(href="http://api.map.baidu.com/geocoder?address=上海市闵行区七莘路901号&output=html", target="__blank")
            .address 上海市闵行区七莘路901号路901号路901号
            .marker
    .contact-us__message
        .contact-us__title.align-center 留言咨询
        include ../common/contact-form
