.new-center.clearfix
	mixin news-box(title,data)
		.news-box
			.title
				.line
				h3 #{ title }
				img(src="//file.baixing.net/202102/07403ddfb02bc55c442329926b7e0c2f.png", alt="更多")


	- articleList =  renderData.articleList.result
	+news-box('新闻资讯', articleList)
	+news-box('推荐文章', articleList)


