//-侧边栏分类列表,后端已限制10个，列表页全不限制
- p = renderData.productCateList
	.product-catogeries
		if p && p.length > 0
			if p.length >= 5
				a.all-category(href= productLink || "#") 所有分类
			each item,index in p.slice(0,5)
				a(href= item.urlSuffix) #{ item.name }
				if index != 4
					.border-bot



