mixin self-advantage(configItem)
	.self-advantage
		each item in configItem
			.advanItem
				img(src = item.urlImg )
				.title #{ item.title }
				//- .selfAdvan-line 
				.content #{ item.content }
