mixin user-defined-module(userDefinedModuleList)
	if userDefinedModuleList
		.block-title
			.point
				.littlePoint
				.largePoint
			h2 #{ userDefinedModuleList.title }
			.point
				.largePoint
				.littlePoint
				
				
			//-是否为奇数个，奇数个展示查看更多
		- const userDefinedList = userDefinedModuleList.module
		- const isOdd = userDefinedList.length%2 === 0 ? false : true
		.user-defined-list
			each item, index in userDefinedList
				- const isWhite = item.fontColor === 'white' ? true : false
				if index < 9
					- var id = '0' + (index+1)
				else
					- var id = index+1
				.user-defined-item( style = item.bgImg ? {background:'none'} : {} )
					span.number( style = isWhite ? {color:'#FFF'} : {} ) #{ id }
					span
						.title( style = isWhite ? {color:'#FFF'} : {} ) #{ item.title }
						.user-defined-line( style = isWhite ? {background:'#FFF'} : {})
						.desc.only-twoline( style = isWhite ? {color:'#FFF'} : {} ) #{ item.desc }
					img( src = item.bgImg )
			if isOdd
				.user-defined-item
					a(href="/about" || "#") 查看企业介绍详情




