.container {
  padding: 40px;
}
.section-block {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  padding: 0 12px;
  height: 40px;
  line-height: 40px;
  background: #F2F2F2;
}
.delete-all-btn {
  color: #096DD9;
  &:hover {
    color: #096DD9;
    opacity: .9;
  }
}
.count-info {
  flex-grow: 1;
  text-align: right;

  .count-num {
    color: #096DD9;
  }
}

.pagination {
  text-align: center;
}
