.QQ-container {
  width: 450px;
  padding-left: 20px;
  .formItem {
    width: 207px;
    display: inline-block;
    & + .formItem {
      margin-left: 16px;
    }
  }
  .delete {
    color: #096dd9;
    font-size: 14px;
    margin-left: 15px;
    cursor: pointer;
  }
  .add {
    font-size: 14px;
    color: #096dd9;
    margin-bottom: 16px;
  }
  .p {
    color: #999;
    font-size: 12px;
    line-height: 1;
  }
  .s {
    font-weight: 1;
    color: #096dd9;
  }
}
