.viewPhone
	width 960px
	height 120px
	margin 0 auto
	margin-top -40px
	display flex
	.viewPhone-left
		width 480px
		background-color #FF6536
		padding 20px 30px
		display flex
		justify-content space-between
		align-items center
		.context
			.tip
				color #FFFFFF
				font-size 14px
			.phone-box
				display flex
				align-items center
				margin-top 22px
				.icon
					width 32px
					height 26px
					background url("//file.baixing.net/202105/67d77f3dcc1c27ddcb2e135ebddcf746.png") no-repeat center center/100%
					background-size cover
				.contactName
					color #fff
					font-size 18px
					margin-left 5px
				.phone
					margin 0 16px
					.active
						color #FFFFFF
						font-size 20px
					.no-active
						display none

				.view-all-phone
					color #FFFFFF
					font-size 16px
					&:hover
						cursor pointer
		.title
			color #FFFFFF
			border 1px solid #FFFFFF
			writing-mode lr-tb
			width 12px
			height 72px
			font-size 12px
			padding 10px 12px
			line-height 18px
			margin-bottom 2px

	.viewPhone-right
		width 460px
		background-color #FFFFFF
		border 1px solid #FF6536
		padding 31px 43px
		display flex
		flex-direction row
		.linian-left
			width 14px
			height 12px
			color #FF6536
			display block
			background-image url('//file.baixing.net/202105/ff24195a79f2fdb731ac59da8e05fbe4.png')
			background-size cover
		.linian-center
			margin 0 46px 0 40px
			.center
				&-first
					color #FF6536
					font-size 14px
					line-height 18px
				&-second
					color #FF6536
					font-size 20px
					margin-top 13px
					font-weight bold
		.linian-right
			width 14px
			height 12px
			color #FF6536
			display block
			background-image url('//file.baixing.net/202105/ff24195a79f2fdb731ac59da8e05fbe4.png')
			background-size cover
			transform rotate(180deg)
			position relative
			top 43px


