.view-phone
	width 960px
	height 0
	margin 0 auto 40px
	transform:  translateY(-120px)
	display flex
	z-index 10
	.view-phone-left
		box-sizing: border-box
		width 480px
		height 120px
		background-color $color-main
		padding 20px 30px
		display flex
		justify-content space-between
		align-items center
		.context
			.tip
				color #FFFFFF
				font-size 14px
			.phone-box
				display flex
				align-items center
				margin-top 22px
				.icon
					width 32px
					height 26px
					background url("//file.baixing.net/202105/33c817305dd4eb2909868811dd065058.png") no-repeat center center/100%
					background-size cover
				.contactName
					color #fff
					font-size 18px
					margin-left 5px
				.phone
					margin 0 16px
					.active
						color #FFFFFF
						font-size 20px

				.view-all-phone
					color #FFFFFF
					font-size 16px
					&:hover
						cursor pointer
		.title
			color #FFFFFF
			border 1px solid #FFFFFF
			writing-mode lr-tb
			width 12px
			height 72px
			font-size 12px
			padding 10px 12px
			line-height 18px
			margin-bottom 2px

	.view-phone-right
		box-sizing: border-box
		height 120px
		width 480px
		background-color #FFFFFF
		border 1px solid $color-main
		padding 30px 40px
		display flex
		flex-direction row
		.linian-left
			width 14px
			height 12px
			color $color-main
			display block
			background-image url('//file.baixing.net/202105/81cbe79e08989f22bdfc235cce35193b.png')
			background-size cover
		.linian-center
			margin 0 46px 0 40px
			.center
				&-first
					color $color-main
					font-size 14px
					line-height 18px
				&-second
					color $color-main
					font-size 20px
					margin-top 13px
					font-weight bold
		.linian-right
			width 14px
			height 12px
			color $color-main
			display block
			background-image url('//file.baixing.net/202105/81cbe79e08989f22bdfc235cce35193b.png')
			background-size cover
			transform rotate(180deg)
			position relative
			top 43px


