@import "../layout"
@import "../components/header"
@import "../components/swiper"
@import "../components/news-detail"
@import "../components/company-info"
@import "../components/default-content"
@import "../components/product-recommend"
@import "../components/contact-form"
@import "../components/footer"

h4
    border-left 3px solid #EC2525
    font-size 16px
    padding-left 5px
    line-height 18px