.group-words-item {
  .form-item-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    line-height: 32px;
    color: #333;
  }
  :global {
    .ant-form-item-with-help {
      margin-bottom: 24px;
    }
  }
  .form-item {
    height: 352px;
  }
  .checkbox-group {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    transform: translateY(-14px);
    margin-bottom: 5px;
    .checkbox {
      height: 32px;
      font-size: 12px;
      color: #666;
    }
  }
}
