@import "../layout"
@import "../components/breadcrumbs"
@import "../components/search/tabs"
@import "../components/product/product-list"
@import "../components/news/news-list"
@import "../components/sidebar/products"
@import "../components/sidebar/index"
@import "../../../common/pc/pagination"
@import "../components/swiper"
@import "../components/sidebar/products"
.container
    width 1220px
    margin 16px auto 72px
    display flex
    background: #fff
    .main
      width 980px
      .news-list
        padding-top: 24px
    .sidebar
        width 224px
        margin-left 15px
    


