.ai-status-reject {
  position: relative;
  .status {
    color: #f1492c;
  }
  .reason {
    width: 100%;
    position: absolute;
    left: 0;
    top: 20px;
    font-size: 12px;
    color: #999;
  }
}

.ai-action-box {
  display: inline-block;
  position: relative;
  margin-right: 4px;
  span {
    color: #1890ff;
    cursor: pointer;
  }
  .ai-action {
    position: absolute;
    left: 0;
    top: -3px;
    margin-left: 0;
  }
  .ai-start-action {
    display: inline-block;
    width: 30px;
    height: 28px;
    background: url("//file.baixing.net/202101/061832d76086d8f5844d98d495f1b992.png");
    background-size: cover;
  }

  .ai-pause-action {
    display: inline-block;
    width: 30px;
    height: 28px;
    background: url("//file.baixing.net/202101/409a5ac0d04377f8468872274863f539.png");
    background-size: cover;
  }

  .ai-choose-action {
    display: inline-block;
    width: 30px;
    height: 28px;
    background: url("//file.baixing.net/202103/3532e8bd0ba25db1bddf8f1129a66056.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
