extends ../layout

block styles
    :combine(fileName="site-template-2-home-pc.css")

//-使用了统一的header和nav
block content
    include ../components/home/swiper.pug

    .container
        //-自定义模块数据
        - const { autoConfig } = renderData
        //-自定义模块2（即之前的自身优势模块）
        include ../components/home/self-advantage.pug
        .block-title
            //- img(src="//file.baixing.net/202102/4f9c3d49ee8febc8c9a4ae028adf0edf.png", alt="关于我们")
            .point 
                .littlePoint 
                .largePoint
            .h2 #{autoConfig[1]&&autoConfig[1].show?autoConfig[1].mainModuleTitle:'服务资质'}
            .point 
                .largePoint
                .littlePoint
        - defaultSelfAdvantage = [{title:'口碑载道',content:'重视信誉和口碑，客户忠实度高',urlImg:'//file.baixing.net/202105/c8f81a54a43830099bdc04f4b424da4c.png'},{title:'资质正规',content:'相关资质均有工商备案，资质可查，公司正规',urlImg:'//file.baixing.net/202105/625a56c2569eb767d8770999cbd8dd50.png'},{title:'贴心服务',content:'全方位的售前售后服务，提高客户满意度',urlImg:'//file.baixing.net/202105/f941fd50013f2f8ef7b51439e45b9079.png'},{title:'售后保障',content:'完善的售后服务体系和严格的管理制度，客户至上',urlImg:'//file.baixing.net/202105/5dde08cac771ec82db133664d24ddc1d.png'}]
        - selfAdvantage = autoConfig[1]&&autoConfig[1].show?autoConfig[1].subModuleBos : defaultSelfAdvantage
        +self-advantage(selfAdvantage)

        - const { productList: hotProductList, name } = renderData.productRecommend
        if hotProductList && hotProductList.length>0
            .block-title
                .point 
                    .littlePoint 
                    .largePoint
                .h2 #{ name || '热门产品'}
                .point 
                    .largePoint 
                    .littlePoint
            include ../components/home/product-list.pug
            +product-list('hot', hotProductList)
        - const { name: aboutUsTitle, tags, media } = renderData.basic.aboutModule
        .block-title
            //- img(src="//file.baixing.net/202102/4f9c3d49ee8febc8c9a4ae028adf0edf.png", alt="关于我们")
            .point 
                .littlePoint
                .largePoint
            .h2 #{ aboutUsTitle || '关于我们'}
            .point 
                .largePoint
                .littlePoint
        include ../components/home/about-us-new.pug
        +about-Us-New(tags,media)

        //-自定义模块1（即之前的企业优势模块）
        if autoConfig && autoConfig[0] &&autoConfig[0].show
            include ../components/home/user-defined-module.pug
            +user-defined-module(autoConfig[0]) 

        //- 变量名 "productLists" 会报一个编译时错误，很奇怪
        //- 暂时先换个名字
        - productLists = renderData.productList.result
        if productLists && productLists.length>0
            .block-title
                //- img(src="//file.baixing.net/202102/e43385d2ad011934a51c42e92a5b7495.png",style="width:283px",alt="产品分类")
                .point 
                    .littlePoint
                    .largePoint
                .h2 产品分类
                .point
                    .largePoint
                    .littlePoint
            .product-catogeries-list
              include ../components/home/product-catogeries-new.pug 
              include ../components/home/product-list-new.pug
              +product-list('nothot', productLists)

        - articleList = renderData.articleList.result
        - const { articleList: articleRecommend } = renderData.articleRecommend
        - const { name: title } = renderData.articleRecommend || '文章推荐'
        if articleList && articleList.length >0 || articleRecommend && articleRecommend.length >0
            .block-title
                //- img(src="//file.baixing.net/202102/e1a85f0fd13a3ecea1e1e5f541fde234.png", alt="新闻中心")
                .point 
                    .littlePoint
                    .largePoint
                .h2 新闻中心
                .point
                    .largePoint
                    .littlePoint
            include ../components/home/news-center.pug
            .new-center.clearfix
                +news-box('新闻资讯', articleList)
                +news-box(title, articleRecommend)


        .block-title
            //- img(src="//file.baixing.net/202102/4be12cae4c491b647a8a2f69eafab548.png",alt="关于我们")
            .point
                .littlePoint
                .largePoint
            .h2 联系我们
            .point
                .largePoint
                .littlePoint
        include ../components/home/contact-us.pug
        //- 用于sem禁止外跳
        include ../../../common/pc/contact-form-sem.pug
        +contactFormSem('#FF2D38')
        
block scripts
    :combine(fileName="site-template-2-home-pc.js")
block append scripts
    script.
        window.extraContactFormData = { position: 1 };
        window.trackSrc = 'home';
