extends ../layout

block styles
    :combine(fileName="site-template-2-home-pc.css")

//-使用了统一的header和nav
block content
    include ../components/home/swiper.pug

    .container
        //-自定义模块数据
        - const { autoConfig } = renderData
        //-自定义模块2（即之前的自身优势模块）
        if autoConfig&&autoConfig[1]&&autoConfig[1].show
            include ../components/home/self-advantage.pug
            .block-title
                //- img(src="//file.baixing.net/202102/4f9c3d49ee8febc8c9a4ae028adf0edf.png", alt="关于我们")
                .point 
                    .littlePoint 
                    .largePoint
                .h2 #{autoConfig[1].mainModuleTitle||'服务资质'}
                .point 
                    .largePoint
                    .littlePoint
            - defaultSelfAdvantage = [{title:'丰富的海外经验丰富的海外经验哈哈',content:'技术人员皆有着多年的相关行业经验，技术高效有保证技术人员皆有着多年的相关行业经验，技术高效有保证保证',urlImg:'//file.baixing.net/202108/88bdb200a332fefd1e0886391da53ff7.png'},{title:'高效的业务团队',content:'技术人员皆有着多年的相关行业经验，技术高效有保证技术人员皆有着多年的相关行业经验，技术高效有保证保证',urlImg:'//file.baixing.net/202108/f48a629c05f0770ca771685f50980084.png'},{title:'领先的技术优势',content:'技术人员皆有着多年的相关行业经验，技术高效有保证技术人员皆有着多年的相关行业经验，技术高效有保证保证',urlImg:'//file.baixing.net/202108/76c21e26ee68474da2d6d9736d5a88af.png'},{title:'丰富的产业资源',content:'技术人员皆有着多年的相关行业经验，技术高效有保证技术人员皆有着多年的相关行业经验，技术高效有保证保证',urlImg:'//file.baixing.net/202108/9dcb37487ee2d0b32a2d9fcecc0bff8f.png'}]
            - selfAdvantage = autoConfig[1].subModuleBos||defaultSelfAdvantage
            +self-advantage(selfAdvantage)

        - const { productList: hotProductList, name } = renderData.productRecommend
        if hotProductList && hotProductList.length>0
            .block-title
                .point 
                    .littlePoint 
                    .largePoint
                .h2 #{ name || '热门产品'}
                .point 
                    .largePoint 
                    .littlePoint
            include ../components/home/product-list.pug
            +product-list('hot', hotProductList)

        if isSem !== "2"
            - const { name: aboutUsTitle, tags, media } = renderData.about||renderData.basic.aboutModule || {}
            .block-title
                //- img(src="//file.baixing.net/202102/4f9c3d49ee8febc8c9a4ae028adf0edf.png", alt="关于我们")
                .point 
                    .littlePoint
                    .largePoint
                .h2 #{ aboutUsTitle || '关于我们'}
                .point 
                    .largePoint
                    .littlePoint
            include ../components/home/about-us-new.pug
            +about-Us-New(tags,media)

        //-自定义模块1（即之前的企业优势模块）
        if autoConfig && autoConfig[0] &&autoConfig[0].show
            include ../components/home/user-defined-module.pug
            +user-defined-module(autoConfig[0]) 

        //- 变量名 "productLists" 会报一个编译时错误，很奇怪
        //- 暂时先换个名字
        - productLists = renderData.productList.result
        if productLists && productLists.length>0
            .block-title
                //- img(src="//file.baixing.net/202102/e43385d2ad011934a51c42e92a5b7495.png",style="width:283px",alt="产品分类")
                .point 
                    .littlePoint
                    .largePoint
                .h2 产品分类
                .point
                    .largePoint
                    .littlePoint
            .product-catogeries-list
              include ../components/home/product-catogeries-new.pug 
              include ../components/home/product-list-new.pug
              +product-list('nothot', productLists)

        - const { articleList:{result:articleList}, name:articleListName} = renderData.articleList
        if articleList && articleList.length >0
            .block-title
                //- img(src="//file.baixing.net/202102/e1a85f0fd13a3ecea1e1e5f541fde234.png", alt="新闻中心")
                .point 
                    .littlePoint
                    .largePoint
                .h2 #{articleListName}
                .point
                    .largePoint
                    .littlePoint
            include ../components/home/news-list.pug
            +news-list(articleList)
        .block-title
            //- img(src="//file.baixing.net/202102/4be12cae4c491b647a8a2f69eafab548.png",alt="关于我们")
            .point
                .littlePoint
                .largePoint
            .h2 联系我们
            .point
                .largePoint
                .littlePoint
        include ../components/home/contact-us.pug
        //- 用于sem禁止外跳
        include ../../../common/pc/contact-form-sem.pug
        +contactFormSem('#FF2D38')
        
block scripts
    :combine(fileName="site-template-2-home-pc.js")
block append scripts
    script.
        window.extraContactFormData = { position: 1 };
        window.trackSrc = 'home';
