extends ../layout

block styles
    :combine(fileName="site-template-2-home-pc.css")

//-使用了统一的header和nav
block content
    include ../components/swiper.pug
    .container.clearfix
        .main

    //-在线客服
    include ../components/customer-service.pug

block scripts
    :combine(fileName="site-template-2-home-pc.js")
block append scripts
    script.
        window.trackSrc = 'home';