@import "../layout"
@import "../components/header"
@import "../components/swiper"
@import "../components/news-detail"
@import "../components/company-info"
@import "../components/default-content"
@import "../components/product-recommend"
@import "../components/contact-form"
@import "../components/footer"
@import 'quill/dist/quill.snow.css'

.contact-form
  background white
  .block-title
    color #333333
    border-bottom-color #EBEBEB
  .contact-form-list .a-content-item .item-label
    color #333333
