.company-info
    .info-logo
        img(src=company.logo, alt="logo")
    .info-right
        h3 #{ companyName }
        .company-medals
            .medal-shop
            .medal-bx
        .company-certificate
            .certificate-label 商家信用：
            img(src="//file.baixing.net/202205/f702e46e9b04e87bcbac3003e1ed2ba2.png", alt="")
            img(src="//file.baixing.net/202205/2b9cbe3c0ca6c49db33021862ad949c6.png", alt="")
            img(src="//file.baixing.net/202205/5c7dbc5c7238368c656e760217fd49da.png", alt="")
            img(src="//file.baixing.net/202205/024ece11143f34dcf4f457d5846061de.png", alt="")



