mixin default-content(type)
    - defaultProImg = "//file.baixing.net/202205/e714ec78bb256b98d24c012443282912.png"
    - defaultNewImg = "//file.baixing.net/202205/59e1db1ea246c8e064c5ece7895c36f6.png"
    .default-box
        if type === "product"
            img(src=defaultProImg, alt="icon")
            p 这个人很懒，还没有商品～
        else
            img(src=defaultNewImg, alt="icon")
            p 这个人很懒，还没有发布文章～
