mixin news-module-list(newsList,title)
	- themeColor = renderData.basic.shop.color.productHv
	- specialIconColor = renderData.basic.shop.color.wap.specialIcon
	if newsList && newsList.length >0
		.news-list-title-box
			div.title #{title}
				.prefix-box(style={background: specialIconColor || themeColor})
				a.more(href=newsLink) 查看全部
		include ../components/home-news-list.pug
		+news-list(newsList)
