mixin user-defined-module-new(configItem)
	- const defaultImg = ['//file.baixing.net/202205/f5230b305ca647958a793dcbadf3a9a2.png','//file.baixing.net/202205/8c3cf87a774df6ceeff8661c7a4b37c0.png','//file.baixing.net/202205/4c877e95806508ea2c34895c5c1c6877.png','//file.baixing.net/202205/1f8fa507404b3cabb2759d915f9ba440.png','//file.baixing.net/202205/5da574b613614c20ad8f5e0114a52ab9.png','//file.baixing.net/202205/1426b43bac8541aef312e709b0014a86.png','//file.baixing.net/202205/4f556bbc904acdb777518ef9f4d8b3e4.png','//file.baixing.net/202205/ad289c7c83ef32dd3701331f21c03720.png','//file.baixing.net/202205/ee2447875d1a7df4f692e14abc377c57.png']
	- themeColor = renderData.basic.shop.color.productHv
	- specialIconColor = renderData.basic.shop.color.wap.specialIcon
	.block-container
		- const {subModuleBos, mainModuleTitle} = configItem
		.block-title #{mainModuleTitle}
			.prefix-box(style={background: specialIconColor || themeColor})
		.block-content
			each item,index in subModuleBos
				.user-defined-item
					img.img(src=item.urlImg ? item.urlImg : defaultImg[index])
					.content
						.title(style={color: specialIconColor || themeColor}) #{ item.title }
						.line(style={background: specialIconColor || themeColor})
						.desc #{ item.content }
