.inline-form {
  margin: 24px 0;

  .ant-row {
    width: 100%;
  }
  .ant-form-item-with-help {
    margin-bottom: unset;
  }
  .ant-form-item-explain {
    display: none;
  }

  &.fixed-label-width .ant-form-item > .ant-form-item-label {
    min-width: 95px;
  }
}
