.ai-status-reject {
  &.pause {
    .status {
      color: #999;
    }
  }

  &.aborted {
    .status {
      color: #f1492c;
    }
  }

  .reason {
    font-size: 12px;
    color: #f1492c;
  }
}
.list-action-btn-box {
  display: inline-block;
  width: 34px;
  margin-right: 20px;
  .table-action-btn {
    width: 100%;
    cursor: pointer;
  }
}

.func-btn {
  padding: 0 8px;
  font-size: 14px;
  color: #1890ff;
  line-height: 14px;
  cursor: pointer;
  & + & {
    border-left: 1px solid black;
  }
}
