extends ../layout

block styles
    :combine(fileName="site-template-4-product-pc.css")

block content
    - const { officialInfo, officialNav, baseSwiper, totalTip, serveAd1 ,productHv,about ,serveTel,serveAd2,productCat,newsAd,contact, productDetail} = renderData.basic.shop.color
    - const themTipColor = `background-color: ${totalTip}`
    include ../components/home/block-title.pug
    include ../components/common/breadcrumbs.pug
    .product-container
      .container
          .main
              //- include ../components/product/cateList.pug
              - productList = renderData.productList.result
              include ../components/product/product-list.pug

              include ../components/common/pagination.pug
              - var totalPage = (renderData.productList && renderData.productList.totalPage) || 1
              +pagination(totalPage, currentPage, `${currentPathname}`)

          .sidebar
              - const { productCateList, articleCateList} = renderData
              include ../components/sidebar/cateList.pug
              +side-cateList('所有产品分类', productCateList)
              include ../components/sidebar/news-list.pug
              include ../components/sidebar/products.pug
              +productRecommend(3)
      #contactFormBox(style=`background: url(${contact.concatBg}) no-repeat center center/100% 100%`)
        +bolckTitle('联系我们',themTipColor)
        include ../components/home/contact-message.pug
        include ../../../common/pc/contact-form-sem.pug
        +contactFormSem('#FF2D38')
block scripts
    :combine(fileName="site-template-4-product-pc.js")
block append scripts
    script.
        window.extraContactFormData = { position: 7 };
