.recharge{
  color: #999999;
  font-size: 12px;
  margin-bottom: 24px;
  .highlight{
    color: #ef6a31;
  }
  .left-m{
    margin-left: 20px;
  }
}

.ant-modal.ant-modal-confirm.ant-modal-confirm-confirm{
  width: 500px!important;
}