.white-block
  .container 
    a.city(href="https://china.baixing.com" target="_blank")
      span.text 全国
      img.baixing-logo(src="//file.baixing.net/202105/3252caa19b257e704b3e63ce31c5216f.png", alt="logo")
    .head-search
      input#inputValue.input(onfocus="this.select();return false;" placeholder="找服务 找工作 找二手车" data-category="root" value="" x-webkit-speech="" name="query" autocomplete="off")
      button#SearchBtn.search-btn( title="搜索") 搜索
    a.post(href="https://www.baixing.com/fabu/" rel="nofollow") 免费发布信息