extends ../layout.pug
block styles
    :combine(fileName="site-template-1-home-wap.css")

block header
    include ../components/header

block content
    include ../components/hometab
    include ../components/introduction
    include ../components/aboutus
    include ../components/home-product-list
    include ../components/home-news-list

block footer
    include ../components/footer

block contact
    include ../components/contact


block scripts
    :combine(fileName="site-template-1-home-wap.js")
