extends ../layout.pug
block styles
    :combine(fileName="site-template-1-home-wap.css")

block header
    include ../components/header

block content
    .container
        p 这里是首页

block footer
    include ../components/footer

block contact
    include ../components/contact


block scripts
    :combine(fileName="site-template-1-home-wap.js")
