extends ../layout.pug
block styles
    link(rel="stylesheet", href="/assets/site-template-1-home-wap.css")

block header
    include ../components/header

block content
    include ../components/hometab
    include ../components/introduction
    include ../components/aboutus

block footer
    include ../components/footer

block contact
    include ../components/contact


block scripts
    script(src="/assets/site-template-1-home-wap.js")
