extends ../layout.pug
block styles
    :combine(fileName="site-template-1-home-wap.css")

block official-breadcrumbs
    include ../../../common/pc/official-breadcrumb.pug
    - breadcrumbList = [{text:'中国百姓网',url:'//china.baixing.com'},{text:'热门商家',url:'//www.baixing.com/weishop/brands/fuwu/?src=navbar&src=navbar'},{text: company.name||'',url:'#'}]
    +breadcrumb(breadcrumbList)

block header
    include ../components/header
    include ../components/swiper


block content
    - const moreProductArr = (renderData.navigation.filter(x => x.position == "productListPage"))
    - const moreNewsArr = (renderData.navigation.filter(x => x.position == "articleListPage"))
    include ../components/shortcuts
    include ../components/introduction
    include ../components/aboutus
    include ../components/home-product-list
    include ../components/home-news-list

block scripts
    :combine(fileName="site-template-1-home-wap.js")
block append scripts
    script.
        window.trackSrc = 'home';