.kf53-form-container {
  width: 550px;
  input {
    font-size: 14px;
  }
  .ant-form-item-control {
    padding-left: 16px;
  }
  .p {
    padding-left: 20px;
    color: #999;
    font-size: 12px;
    line-height: 1;
  }
  .s {
    font-weight: 1;
    color: #096dd9;
  }
  .input {
    width: 230px;
  }

  .form-item-left{
    margin-left: 16px;
  }
}
