.drawer-nav-mask
  width 100vw
  height 100vh
  position fixed
  top 0
  right -100vw
  z-index 10
  background-color: rgba(0,0,0,.2)
  opacity .5
  transition opacity .2s
  &.active
    right 0
    opacity 1
.drawer-nav-box
  box-sizing border-box
  width 180px
  height 100vh
  padding-right 10px
  position fixed
  top 0
  left -180px
  z-index 100
  opacity 0.5
  transition all .5s
  overflow hidden
  background-color #fff
  &.active
    opacity 1
    box-shadow 4px 2px 15px 0px rgba(0,0,0,0.1)
  .nav-item
    display flex
    justify-content flex-start
    align-items center
    height 64px
    padding-left 26px
    font-size 16px
    color #666666
    & + .nav-item
      border-top 1px solid #f2f2f2
    &.active
      .nav-title
        color $color-main
    .nav-icon
      width 13px
      height 13px
      margin-right 7px
    .nav-title
      font-size 16px
      color #666666
.nav-select-icon
  display flex
  flex-direction column
  justify-content space-around
  align-items stretch
  width 22px
  height 22px
  transition all .3s
  &.active
    transform rotate(90deg)
  .icon-line
    height 2px
    background-color #999
