.company-info
    background-color #fff
    margin 10px 0
    padding 21px 16px
    display flex
    .info-logo
        width 66px
        height 66px
        border-radius 50%
        overflow hidden
        margin-bottom 30px
        >img
            width 100%
            height 100%
    .info-right
        margin-left 25px
        max-width 73%
        h3
            font-size 18px
        .company-medals
            font-size 12px
            display flex
            align-items center
            padding 13px 5px
            border-bottom 1px solid  #F2F2F2
            margin-bottom 12px
            .medal-shop
                width 27px
                height 23px
                background url("//file.baixing.net/202102/b0e500e6cfa746ab5bd4980460d5dfb7.png") no-repeat center center/100%
                margin-right 4px
            .shop-name
                color #FF5500
                margin-right 30px
            .medal-bx
                width 18px
                height 18px
                background url("//file.baixing.net/202102/040014dd6a47c01a5ec225974f3347ae.png") no-repeat center center/100%
                margin-right 4px
            .bx-name
                color  #038CFF
        .company-certificate
            display flex
            font-size 12px
            .certificate-label
                color #FF5500
            > img
                width 14px
                height 16px
                margin 0 9px
                vertical-align middle







