//写标题2边的红点

.block-title-box
  display flex
  justify-content center
  align-items center
  padding 32px 0 30px
  .block-line
    width 50px
    height 2px
    background-color $color-main
  .block-title
    margin 0 18px
    line-height 26px
    font-size 22px
    font-weight 500
    color #333