.news-detail
		background-color #fff
		padding 20px 0 25px
		margin-bottom 15px
		.news-detail-item
				padding 0 16px
				h3
						font-size 18px
						margin-bottom 15px
				.news-detail-time
						font-size 14px
						margin-bottom 30px
						p
								color #666666
				.news-detail-pic
						margin-bottom 30px
						img
								width 100%
				.news-detail-content
						font-size 14px
						line-height 24px
						color #333
						word-break break-word
						margin-bottom 29px
		.news-nav
				padding 0 16px
				font-size 14px
				border-top 1px solid #f2f2f2
				span
						display inline-block
						color $color-main
						margin-top 25px
				a
						color #666

