.products
  margin 0 15px 
  *
    box-sizing border-box
  .product
    position relative
    display flex
    justify-content center
    align-items stretch
    border-radius 8px
    overflow hidden
    &+.product
      margin-top 10px
    &-img
      width 180px
      height 120px
    &-content
      width calc(100% - 180px)
      height 120px
      padding 18px 18px 0 12px
      position relative
      color #333
      font-size 14px
      background-color #fff
      .taigger
          width 0
          height 0
          position absolute
          top 12px
          border 7px solid transparent
      &.left
        .taigger
          border-left 10px solid #fff
          right 0
          transform translateX(100%)
      &.right
        .taigger
          border-right 10px solid #fff
          left 0
          transform translateX(-100%)
    &-title 
      margin-bottom 18px
      white-space nowrap
      text-overflow ellipsis 
      font-size: 16px;
      font-weight: bold;
      color: #333333;
    &-line
      margin-bottom: 10px
      border-bottom 2px dotted rgba(221, 221, 221, 1)
    &-desc
      font-size: 14px;
      color: #666666;
      line-height: 18px;

.play-icon.active
  position: absolute;
  top: 60px;
  width: 36px;
  height: 36px;
  background: url(//file.baixing.net/201709/1ae6e52bed21cee4b2e9f45be173d0f4.png)
  background-size: 100%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1;
  &.left
    left: 90px;
  &.right
    right: 60px;
