.product-recommend
		margin 10px 0
		background-color #fff
		.pro-title
				padding 20px 16px 14px
				height 18px
				line-height 18px
				border-bottom 1px solid #f2f2f2
				margin-bottom 14px
				display flex
				align-items flex-end
				div
						width 3px
						height 14px
						margin-right 5px
						background #FF6536
		.pro-box
				display flex
				flex-wrap nowrap
				overflow-x auto
				padding 0 16px
				box-sizing border-box
				&::-webkit-scrollbar
						display none
				a
						display block
						width 140px
						margin-right 20px
						box-sizing border-box
						img
								height 92px
								width 138px
								border 1px solid #eee
						.pro-desc
								margin-top 10px
								font-size 14px
								color #666
								margin-bottom 20px
								line-height 22px
