extends ../layout
block styles
    :combine(fileName="site-template-1-news-detail-pc.css")

block content
    include ../components/breadcrumbs.pug

    .container.clearfix
        .main
            include ../components/news-detail.pug

        .side-bar
            include ../components/sidebar/sidebar-title.pug
            +sidebar-title('联系我们')
            include ../components/sidebar/contact.pug

            +sidebar-title('新闻资讯')
            - const sidebarNewsList = renderData.articleRecommend
            include ../components/sidebar/sidebar-newslist.pug

            +sidebar-title('文章分类')
            - const cateList = renderData.articleCateList
            include ../components/sidebar/category-item.pug

    include ../components/footer.pug
    include ../components/customer-service.pug

block scripts
    :combine(fileName="site-template-1-news-detail-pc.js")
block append scripts
    script.
        window.contentType = 'article';
        window.trackSrc = 'viewad';
        window.adId = #{renderData.articleInfo.id};
