@import "../layout"
@import "../components/header"
@import "../components/product-detail"
@import "../components/company-info"
@import "../components/product-recommend"
@import "../components/contact-form"
@import "../components/footer"
