.sidebar-item 
  .sidebar-item__title
    span 文章分类
  .sidebar-item__content 
    .articles 
      .article 瓶身吹干机
      .article 一体灌装机一体灌
      .article 石墨雕铣机石墨
      .article 瓶身吹干机
      .article 一体灌装机一体灌
      .article 石墨雕铣机石墨
      .article 瓶身吹干机
