- const { articleCateList } = renderData
.sidebar-item 
  .sidebar-item__title
    span 文章分类
  .sidebar-item__content 
    .articles 
      if articleCateList && articleCateList.length > 0
        each item in articleCateList
          a.article(href=item.urlSuffix) #{ item.name }
