//- 新闻资讯
- const { articleRecommend } = renderData
.sidebar-item 
  .sidebar-item__title
    span 新闻资讯
  .sidebar-item__content 
    .side-news-list 
      if articleRecommend && articleRecommend.length > 0
        each item in articleRecommend
          a.news(href=item.urlSuffix) #{ item.name }
