//- 新闻资讯
.sidebar-item 
  .sidebar-item__title
    span 产品推荐
  .sidebar-item__content 
    .side-products
      .side-product 
        .product-img 
          img(src="//file.baixing.net/202102/7a378e568c893854d701eeaa9c2ce70d.png", alt="")
        .product-desc 妆品灌装机小型全自动医药品灌，装旋盖一体备份
      .side-product 
        .product-img 
          img(src="//file.baixing.net/202102/7a378e568c893854d701eeaa9c2ce70d.png", alt="")
        .product-desc 妆品灌装机小型全自动医药品灌，装旋盖一体备份
      .side-product 
        .product-img 
          img(src="//file.baixing.net/202102/7a378e568c893854d701eeaa9c2ce70d.png", alt="")
        .product-desc 妆品灌装机小型全自动医药品灌，装旋盖一体备份
