.sidebar-newslist
    if sidebarNewsList && sidebarNewsList.length > 0
        ul
            //-首页默认最多展示10条
            each item in sidebarNewsList.length>=10 ? sidebarNewsList.slice(0,10) : sidebarNewsList
                li
                    a(href=item.urlSuffix target="_blank") #{item.name}

        - const siderMoreArr = (renderData.navigation.filter(x => x.position == "articleListPage"))
        if renderData.navigation && siderMoreArr && siderMoreArr.length>0
            a.news-more-btn(href=siderMoreArr[0].content target="_blank") 查看更多
    else
        a 暂时没有数据哦
