.company
	display flex
	&-left
		width 980px
		height 270px
		background-color #fff
		display flex
		margin-bottom 20px
		>img
			max-height 270px
			max-width 406px
		.company-text
			max-width 574px
			padding 25px 36px 0
			font-size 14px
			h3
				font-size 18px
			.company-address
				display flex
				color #666
				>span
					display inline-block
					&:first-child
						width 93px
			p
				color #666
				margin 20px 0
			img
				width 20px
				height 20px
				margin-right 8px
			a
				width 178px
				height 46px
				text-align center
				border 1px solid  #FF2D38
				border-radius 2px
				margin-right 20px
				color #FF2D38
				display inline-flex
				align-items center
				justify-content center
				margin-top 36px
				&:first-of-type
					background-color #FF8013
					border-color #FF8013
					color #fff
					&:hover
						color #fff !important
	&-right
		margin-left 15px
		width 224px









