.product-detail
    background-color #fff
    border: 1px solid #eeeeee
    border-radius: 4px
    .pro-title
        height 58px
        line-height 58px
        border-bottom 1px solid #ddd
        p
            font-size 18px
            color #EC2525
            margin-left 20px
            font-weight: bold
    .pro-content
        padding 29px 34px 40px 20px
        font-size 16px
        line-height 28px
        width 923px
        word-break break-all
        min-height 50px
    .pro-pic
        text-align center
        img
            max-width 100%
            margin-top 10px
