extends ../layout.pug
block styles
    :combine(fileName="site-template-2-search-wap.css")

block header
    include ../components/header

block content
    - $ = renderData
    - productList = $.productList.result

    .search-type-tabs
        .item(class={active: $.searchType === 'product'}) 服务
        .item(class={active: $.searchType === 'news'}) 新闻资讯

    .search-results
        span 匹配到和口罩相关的新闻资讯 #{productList.length} 条。

    include ../components/product-list
    +product-list('', productList)

    //- include ../components/product-list
    //- +product-list('', productList)

    - const { totalPage } = $.productList
    include ../components/pagination
    +pagination(totalPage, currentPage, `${currentPathname}`)

block scripts
    :combine(fileName="site-template-2-search-wap.js")
block append scripts
    script.
        window.contentType = 'search';
        window.trackSrc = 'listing';