extends ../layout.pug
block styles
    :combine(fileName="site-template-2-search-wap.css")

block header
    include ../components/header

block content
    - productList = renderData.productList.result

    .search-type-tabs
        .item 服务
        .item 新闻资讯

    .search-results 匹配到和口罩相关的新闻资讯 #{productList.length} 条。

    include ../components/product-list
    +product-list('', productList)

    - const { totalPage } = renderData.productList
    include ../components/pagination
    +pagination(totalPage, currentPage, `${currentPathname}`)

block scripts
    :combine(fileName="site-template-2-search-wap.js")
block append scripts
    script.
        window.contentType = 'search';
        window.trackSrc = 'listing';