extends ../layout.pug
block styles
    :combine(fileName="site-template-2-search-wap.css")

block header
    include ../components/header

block content
    - $ = renderData
    - tabProduct = $.searchType === 'product'
    - tabNews = $.searchType === 'news'
    - tabName = (tabProduct && '服务') || (tabName && '新闻资讯') || '未知类型'
    - productList = $.productList.result

    .search-type-tabs
        .item(class={active: tabProduct}) 服务
        .item(class={active: tabNews}) 新闻资讯

    .search-results
        span 匹配到和#{$.searchKey}相关的#{tabName} #{productList.length} 条。

    if tabProduct
        include ../components/product-list
        +product-list('', productList)
    if tabNews
        include ../components/news-list

    - const { totalPage } = $.productList
    include ../components/pagination
    +pagination(totalPage, currentPage, `${currentPathname}`)

block scripts
    :combine(fileName="site-template-2-search-wap.js")
block append scripts
    script.
        window.contentType = 'search';
        window.trackSrc = 'listing';