extends ../layout.pug
block styles
    :combine(fileName="site-template-2-search-wap.css")

block content
    - const cateList = renderData.productCateList
    include ../components/toptab

    include ../components/product-list
    - productList = renderData.productList.result
    +product-list('', productList)

    - const { totalPage } = renderData.productList
    include ../components/pagination
    +pagination(totalPage, currentPage, `${currentPathname}`)

block scripts
    :combine(fileName="site-template-2-search-wap.js")
block append scripts
    script.
        window.contentType = 'search';
        window.trackSrc = 'listing';