.ai-body{
    position:relative;
    min-height: 285px;
    margin-bottom: 20px;
    .ai-footer{
        position: absolute;
        color: '#333';
        font-size: 16px;
        right: 0;
        bottom: 20px; 
    }
}