
if productList && productList.length >0
	.product-list
		each item in productList
			a.item-p(href=item.urlSuffix target="_blank")
				img(src=item.headImg || defaultImg)
				p.only-twoline #{ item.name }
				.show-desc 查看详情
else
	p.no-content 当前页面暂无内容，敬请期待...
