.header
    max-width 1200px
    margin 35px auto
    overflow hidden
    .avatar
        float left
        img
            width 90px
            height 73px
    .company
        float left
        font-size 32px
        color #333333
        letter-spacing 0
    .tel
        float right
        width 308px
        height 70px
        border-radius 100px 0
