.about-us-bgc
	width 100%
	background url(//file.baixing.net/202102/ec557990b409c68993519a3b570d3000.png) no-repeat center
	background-size cover
	position relative
	height 379px
	.about-us-text
		width 1113px
		position absolute
		top 52px
		left 44px
		.top
			height 38px
			line-height 38px
			margin-bottom 31px
			>img
				float left
				height 24px
				width 36px
				margin-right 10px
				margin-top 9px
				vertical-align middle
			>h3
				float left
				font-size 26px
		.center
			position relative
			width 100%
			height 135px
			display flex
			p
				display inline-block
				font-size 16px
				font-weight 600
				margin-right 18px
			.dash1
				display inline-block
				width 430px
				border 1px dashed #eee
			.dash2
				display inline-block
				width 330px
				border 1px dashed #eee
			.center-left
				width 534px
				float left
				.intro
					margin-top 20px
					padding-right 6px
					font-size 14px
					color #666
					line-height 26px
					//显示4行
					overflow hidden
					text-overflow ellipsis
					display -webkit-box
					-webkit-box-orient vertical
					-webkit-line-clamp 4
					word-break break-all
			.center-right
				float left
				margin-left 76px
				.certification-icon
					display flex
					align-items center
					margin-top 20px
					font-size 12px
					.img1
						height 19px
						margin-right 4px
					.tag1
						color #ff5508
						margin-right 20px
					.img2
						width 18px
						height 18px
						margin-right 4px
					.tag2
						color #038CFF
				dl
					font-size 12px
					line-height 20px

					display flex
					align-items flex-start
					margin 20px 0
					dt
						margin-right 15px
						color #999
					dd
						max-width 400px
						color #666

	.view-all
		position absolute
		left 46px
		bottom 40px
		>a
			display inline-block
			height 40px
			line-height 40px
			border 1px solid #ccc
			text-align center
			font-size 14px
			padding 0 34px
			color #333
			position relative
			&::before
				height 6px
				width 6px
				border-top 1px solid #ccc
				border-right 1px solid #ccc
				transform rotate(45deg)
				position absolute
				right -33px
				top calc(50% - 4px)
				content ""
			&::after
				height 1px
				width 50px
				background-color #ccc
				position absolute
				right -33px
				top calc(50% - 1px)
				content ""
			&:hover
				border-color #ff5508
				&::before
					border-color #ff5508
				&::after
					background-color #ff5508









