.new-center
	.news-box
		box-sizing border-box
		width 49.3%
		padding 24px 30px 0
		background-color #fff
		float left
		margin-right 16px
		&:nth-child(2n)
			margin-right 0
		>.title
			height 60px
			border-bottom 1px solid #eaeaea
			display flex
			align-items center
			.line
				width 3px
				height 19px
				background-color #FF2D38
			h3
				font-size 20px
				color #000
				padding-left 10px
			img
				width 22px
				height 22px
				margin-left 426px
		>.content
			a
				display block
				font-size 14px
				display flex
				align-items center
				padding 39px 0
				border-bottom 1px dashed #eaeaea
				&:last-child
					border-bottom none
				.left-img
					width 85px
					height 85px
					background-color #F2F2F2
					margin-right 15px
					display flex
					align-items center
					justify-content center
					flex-direction column
					.news-date__day
						width 29px
						height 44px
						font-size 24px
						color #666
					.news-date__year
						font-size 14px
						margin-top -15px
						color #666
				.item-card
					.item-title
						font-weight 600
						margin-bottom 10px
						&:hover
							color #FF2D38
					.item-content
						color #999
						line-height 24px
						overflow hidden
						text-overflow ellipsis
						display -webkit-box
						-webkit-box-orient vertical
						-webkit-line-clamp 2
						width 418px
						word-break break-all



