.new-center
	.news-box
		box-sizing border-box
		width 49.3%
		padding 40px 30px
		background-color #fff
		float left
		margin-right 16px
		&:nth-child(2n)
			margin-right 0
		.title
			height 60px
			border-bottom 1px solid #eaeaea
			display flex
			align-items center
			.line
				width 3px
				height 19px
				background-color #FF2D38
			h3
				font-size 20px
				color #000
				padding-left 10px
			img
				width 22px
				height 22px
				margin-left 426px
		.news-item
			img
				width 85px
				height 85px


