.product-catogeries
  display flex
  flex-direction column
  justify-content flex-start
  align-items center
  margin-right 32px
  width 240px
  border-radius 4px
  background-color #fff
  border-width 0 1px 1px 1px
  border-style solid
  border-color #DDDDDD
  a
    display block
    width 196px
    padding 20px 23px
    text-align left
    font-size 16px
    color #666666
    vertical-align middle
    &:nth-child(2)
      color #ED4646 
      font-weight bold
  .all-category
    padding 13px 23px
    color #FFFFFF
    font-size 18px
    font-weight 500
    background-color #ED4646
    border-radius 4px 4px 0 0
  .border-bot
    margin 0 auto
    width 200px
    height 0
    border-top 1px dashed #DDDDDD
  &:last-child
    width 0
    border 0



