.product-catogeries
	width 1220px
	height 64px
	background-color #fff
	margin-bottom 20px
	display flex
	align-items center
	a
		display inline-block
		width 200px
		height 24px
		line-height 24px
		text-align center
		border-left 1px solid #ddd
		font-size 18px
		color #333
		vertical-align middle
		&:first-child
			border-left none
		&:hover
			&::after
				border-color transparent transparent transparent #FF2D38
	.all-category
		color #999
		position relative
		&::after
			position absolute
			top 8px
			left 153px
			content ""
			border-width 7px 0 7px 8px
			border-style solid
			border-color transparent transparent transparent #999
			border-radius 2px







