.item-p
  position relative
  float left
  width 287px
  // height 280px
  margin-right 10px
  background-color #fff
  border 1px solid transparent
  &:nth-child(n+5)
    // margin-bottom 10px
    margin-top 10px
  &:nth-child(4n)
    margin-right 0
  // &:hover
  // 	border 1px solid #FF2D38
  // 	p
  // 		display none
  // 	.show-desc
  // 		display block
  img
    height 193px
    width 100%
    border-radius 4px
  .hot-icon
    height 36px
    width auto
    position absolute
    top 157px
    left 0
  p
    font-size 16px
    color #333
    text-align justify
    margin 19.6px 16px
    // line-height 25px
  .show-desc
    display none
    width 150px
    height 40px
    text-align center
    line-height 40px
    background-color #FF2D38
    color #fff
    margin 28px 70px
