

@error: #F1492C;
.error {
  color: @error;
  font-size: 12px;
}

.input-error{
  border: 1px solid @error;
}
.il-module{
  position: relative;
  width: 230px;
  .f-num{
    position: absolute;
    right: 10px;
    color: #999999;
    top:50%;
    margin-top:-10px;
  }
}
