.header-bgc
    background-color #fff
    .header
        width 1220px
        margin 0 auto
        height 80px
        display flex
        align-items center
        justify-content space-between
        a
            display flex
            align-items center
            >img
                height 50px
                margin-right 10px
            >h3
                font-size 20px
                color #333
        .nav-right
            display flex
            align-items center
            .nav-item
                position relative
                margin-left 30px
                //hover后展示下拉列表
                &:hover
                    .nav-dropdown
                        display flex
                > a
                    display block
                    color #333
                    line-height 40px
                    padding 0 20px
                    &:hover
                        color #fff !important
                        border-radius 20px
                        background-color #FF6536
                        .down-arrow
                            border-color #fff
                    .down-arrow
                        display inline-block
                        margin 0 2px 6px 9px
                        width 8px
                        height 8px
                        border-top 1px solid #666
                        border-right 1px solid #666
                        transform rotate(135deg)
                    &.nav-active
                        color #fff !important
                        border-radius 20px
                        background-color #FF6536
                        .down-arrow
                            border-color #fff

                .nav-dropdown
                    display none
                    position absolute
                    left 0
                    background-color #fff
                    top calc(100%)
                    z-index 9999
                    line-height 1
                    flex-direction column
                    box-shadow 0 4px 10px rgba(#000, 0.2);
                    width 170px
                    &::after
                        content ''
                        width 15px
                        height 15px
                        background-color #fff
                        position absolute
                        top -5px
                        left 15%
                        transform rotate(45deg)
                        box-shadow 0 4px 10px rgba(#000, 0.2)
                        z-index -1
                    >a
                        display block
                        box-sizing border-box
                        padding 14px 20px
                        color #333
                        line-height 16px
                        background #fff
                        width 100%
                        &:hover
                            background #F7F7F7

