@import '../../../../../styles/common';
.tdk-box{
  border:1px solid #D8D8D8;
  h4{
    border-bottom: 1px solid #D8D8D8;
    height: 57.5px;
    line-height: 57.5px;
    padding-left: 20px;
  }
  .t-content{
    display: flex;
    .t-menu{
      width: 216.5px;
      padding-top:10px;
      .ant-menu-vertical{
        border-right: none;
      }
      .a-menu{
        width: 160px;
        margin-left: 20px;
      }
      .ant-menu-item.ant-menu-item-selected{
        border: 1px solid #096DD9;
      }
      .ant-menu-item{
        border: 1px solid #D8D8D8;
        color: #333333;
        margin: 20px 0px;
      }
    }
    .t-form{
      border-left: 1px solid #D8D8D8;
      padding: 29px 30px;
      .tag-module{
        margin-left: -4px;
      }
      .ant-form-item-control{
        margin-left: 10px;
      }
      .ant-input-textarea{
        height: 80px;
        margin-left:3px;
        textarea{
          height: 80px;
        }
      }
    }
  }
}
