extends ../layout
block styles
  :combine(fileName="site-template-2-news-pc.css")

block content
  include ../components/breadcrumbs.pug

  .container.clearfix
    .main
      include ../components/news/news-list.pug
      +news-list(renderData.articleList.result)

      include ../components/pagination.pug
      - var totalPage = (renderData.articleList && renderData.articleList.totalPage) || 1
      +pagination(totalPage, currentPage, `${currentPathname}`)

    .sidebar
      include ../components/sidebar/articles.pug

block scripts
  :combine(fileName="site-template-2-news-pc.js")
block append scripts
  script.
    window.contentType = 'article';
    window.trackSrc = 'listing';
