.container-contact
  position relative
  box-sizing: border-box
  display: flex
  justify-content: center
  align-items: flex-start
  padding-top: 20px
  margin-top: 179px
  width: 100%
  height: 660px
  background: url('//file.baixing.net/202112/8785d43ba0dfb3093048af14658edf0f.png') no-repeat 100% 100%
  .contact-center
    box-sizing: border-box
    display: flex
    justify-content: center
    width: 1190px
    height: 554px
    padding: 41px 40px
    background: #FFFFFF
    border-radius: 4px
    .c-left
      box-sizing: border-box
      display: flex
      flex-direction: column
      justify-content: flex-start
      padding: 40px
      width: 521px
      height: 465px
      margin-right: 68px
      border-radius: 12px
      background: #F7F7F7
      .l-title
        margin-bottom: 30px
        font-weight: 600
        color: #333333
        font-size: 20px
      #address
        width: 100%
        position relative
        .address-icon
          display: none
          position absolute
          z-index: 999
          transform: translateY(-109%)
          left: -13px
          width: 100%
          padding: 5px
          font-weight: normal
          background: #ffffff
          box-shadow: -1px -3px 12px #6e6d6e
        .address-contect
          width: 100%
          overflow hidden
          text-overflow: ellipsis
          white-space: nowrap
      .l-centent
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        color: #333333
        font-size: 14px
        .l-item
          margin-right: 37px
          margin-bottom: 30px
      .l-map
        position relative
        width: 441px
        height: 227px
        background: url('//file.baixing.net/202112/c8917d3c628d73c435ceba2af69dd708.png') no-repeat 100% 100%
        .map-detail
          box-sizing: border-box
          position: absolute
          left: 50%
          top: 50px
          transform: translateX(-50%)
          display: flex
          justify-content: center
          align-items: center
          width: 280px
          height: 56px
          padding: 0 8px
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.14)
          border-radius: 4px
          background: #FFFFFF
          .map-detail-content
            overflow hidden
            display: -webkit-box
            -webkit-box-orient: vertical
            -webkit-line-clamp: 2
            color: #3A50CB
            font-size: 16px
        .map-icon
          position absolute
          left: 50%
          bottom: 55px
          transform: translateX(-50%)
          width: 93px
          height: 43px
          background: url('//file.baixing.net/202112/55ded83da884c8edbe0bf6fc746f460e.png') no-repeat 100% 100%
    .c-rigth
      width: 477px
      height: 465px
      background: #F7F7F7
      border-radius: 12px
  .contact-title
    position: absolute
    left: 50%
    transform: translateX(-50%)
    top: -99px
    height: 120px
    width: 1190px
    line-height 120px
    text-align: center
    letter-spacing: 1.0
    font-weight: 600
    font-size: 36px
    color: #FFFFFF
    background: url('//file.baixing.net/202112/e7fd2dbae07800129d8dad78f1c06da3.png') no-repeat 100% 100%