.footer-phone-box,.footer-phone-sem-box
	height: 40px
	display flex
	flex-direction column
	align-items center
	justify-content center
	height 40px
	border-radius 2px
	border 1px solid transparent
	box-sizing border-box
	flex 1
	background-color #f46
	color:#fff
	padding: 6px 0px
	&.hide
		display: none
	.btn-text
		color:#fff
		font-size 14px
	.phone-num
		color:#fff
		font-size: 14px;
		font-weight: 500;
	.time-tip
		color:#fff
		font-size: 10px;
		&.hide
			display: none

