.step-container {
  background: #fff;
  padding: 12px 420px;
  margin: 0 16px;
}

.save-base-info-box {
  width: 690px;
  marginTop: 32px;
  .btn {
    border-color: #096DD9;;
    background: #096DD9;
  }
}
