
.search-type-tabs
  box-sizing: border-box
  display: flex;
  justify-content: center;
  gap: 90px;
  width: 100%
  height: 58px
  padding: 20px 10px 
  background: white

  .item
    width: 94px;
    height: 36px;
    text-align: center;
    &.active 
      font-weight: bold
      color: #EC2525
      border-bottom: solid 2px currentColor;

.search-results
  padding: 0 10px;
  height: 52px;
  line-height: 52px;
  font-size: 14px;

