.aboutus
    width 100%
    margin-top 16px
    background-color #ffffff
    .aboutus-title
        padding 16px
        line-height 18px
        p
            padding-left 10px
            border-left 3px solid#1565C1
            color #333333
            font-size 16px
            font-weight 600

    .aboutus-content
        border-bottom 1px solid #DDDDDD
        p
            color #333333
            font-size 14px
            margin 0 21px 17px 18px
            overflow hidden
            //text-overflow ellipsis
            display -webkit-box
            -webkit-line-clamp 5
            -webkit-box-orient vertical

    .morebtn
        height 34px
        line-height 34px
        //background-color #ffffff
        display block
        font-size 12px
        color #999
        text-align center
        flex auto
        img
            width 12px
            height 12px
