*
  padding 0
  margin 0

html
  height 100%

body
  max-width 750px
  margin 0 auto
  position relative
  min-height 100%
a
  text-decoration none
a:hover
  color #1565C1

.container
  padding-bottom 200px

//解决浮动问题
.clearfix:after
	content ""
	display block
	height 0
	clear both
	visibility hidden
//解决IE6,7不识别伪元素
.clearfix
	zoom  1
