footer
  border-top 24px solid #F5F5F5
  margin-bottom 52px
  width 100%
  background #282A37
  .footer-link
    padding-top 18px
    text-align center
    a
      //width 33%
      display inline-block
      text-align center
      font-size 14px
      color #fff
      text-decoration none
      border-right 1px solid #fff
      padding 0 10px
      box-sizing border-box
      &:last-child
        border-right none
  .footer-center
    width 100%
    margin 31px auto 15px
    text-align center
    overflow hidden
    p
      display inline-block
      height 14px
      color #999
    a
      display inline-block
      width 82px
      height 29px
      text-align center
      line-height 29px
      font-size 14px
      color #fff
      border 1px solid #fff
  .footer-content
    font-size 12px
    color #999
    letter-spacing 0
    text-align center
    line-height 15px
    padding 10px 15px
