.news
    width 100%
    background-color #ffffff
    padding-bottom 16px
    .news-title
        padding 16px
        padding-bottom 0
        margin-top 16px
        p
            float left
            padding-left 10px
            font-size 16px
            font-weight 600
            color #333
            border-left 3px solid#1565C1
        a
            float right
            color #666
            .right-icon
                display inline-block
                margin 0 2px 2px 5px
                width 8px
                height 8px
                border-top 1px solid #666
                border-right 1px solid #666
                transform rotate(45deg)
    .news-list
        ul
            margin 16px
            li
                list-style none
                margin-bottom 20px
                a
                    display flex
                    align-items center
                    p
                        color #333333
                        float left
                        margin-right 16px
                        font-size 14px
                        overflow hidden
                        white-space nowrap
                        text-overflow ellipsis
                        width 70%
                    .news-createtime
                        color #666666
                        font-size 14px
