.home-tab
    line-height 52px
    display flex
    justify-content space-between
    text-align center
    background-color #FFFFFF
    margin-top 16px
    .service-btn
        width 50%
        font-size 16px
        color #333333
        border-right 1px solid #DDDDDD
        img
            width 20px
            height 15px
            margin-right 10px

    .news-btn
        width 50%
        font-size 16px
        color #333333
        img
            width 20px
            height 15px
            margin-right 10px
