.news
    background-color #ffffff
    margin-top 16px
    width 100%
    .news-title
        font-size 16px
        color #333333
        border-left 3px solid#1565C1
    .news-list
        margin-top 16px
        ul 
            margin 0 16px 16px
            line-height 56px
            li
                list-style none
                a   
                    display flex
                    align-items center
                    justify-content space-between
                    p
                        color #333333
                        float left
                        margin-right 16px
                        font-size 16px
                        overflow hidden
                        white-space nowrap
                        text-overflow ellipsis
                        width 70%
                    .news-createtime
                        color #666666
                        font-size 14px
