.news
    width 100%
    margin-top 16px
    background-color #fff
    .news-title
        padding 16px
        padding-bottom 0
        line-height 18px
        height 18px
        h4
            float left
            padding-left 5px
            font-size 16px
            color #333
            border-left 3px solid#1565C1
        a
            float right
            color #666
            font-size 14px
            .right-icon
                display inline-block
                margin 0 2px 1px 5px
                width 8px
                height 8px
                border-top 1px solid #666
                border-right 1px solid #666
                transform rotate(45deg)
    .news-list
        padding-bottom 320px
        margin 16px
        ul
            li
                list-style none
                margin-bottom 20px
                a
                    display flex
                    align-items center
                    p
                        color #333333
                        float left
                        margin-right 16px
                        font-size 14px
                        overflow hidden
                        white-space nowrap
                        text-overflow ellipsis
                        width 70%
                    .news-createtime
                        color #666666
                        font-size 14px
