.introduction
    width 100%
    background-color #ffffff
    margin-top 16px

    .introduction-bg
        display flex
        align-items center
        .left-info
            width 75%
            border-right 1px solid #DDDDDD 
            margin 20px 20px 20px 20px
            .name
                font-size 16px
                color #333333 16px
            .address
                margin-top 10px
                font-size 14px
                color #666666

            .telephone  
                font-size 14px
                color #666666
        img 
            width 43px
            height 43px
        
