.news-list
    width 100%
    line-height 44px
    ul
        display block
        li
            a   
                color #333
                p
                    float left
                    font-size 16px
               




