.news-detail
    .news-detail-title
        h3
            text-align center
    .news-detail-time
        text-align center
        font-size 14px
        color #333333
    .news-detail-pic
        margin 5px
    .news-detail-content
        font-size 14px
        color #66666
        margin 20px