.news-list
    width 100%
    margin-top 18px
    line-height 60px
    background-color #fff
    ul
        margin 0 20px
        min-height calc(100% - 470px)
        li
            list-style none
            border-bottom 1px dashed #ddd
            a
                text-decoration none
                p
                    letter-spacing 0
                    color #333
                    font-size 16px
                    overflow hidden
                    white-space nowrap
                    text-overflow ellipsis




