.news-list
    max-height 769px
	background-color #fff
	padding 16px 20px
    line-height 44px
    ul
        flex-wrap wrap
        li
            border-bottom 1px dashed
            a
                color #333
                p
                    color #333
                    font-size 16px
                    text-align left
                    overflow hidden
                    white-space nowrap
                    text-overflow ellipsis
