.news-detail
    .news-detail-title
        margin-top 30px
        h3
            text-align center
    .news-detail-time
        margin-top 8px
        text-align center
        font-size 14px
        color #333333
    .news-detail-pic
        margin-top 20px
        text-align center
        img
            width 240px
            height 160px
    .news-detail-content
        font-size 14px
        min-height 250px
        color #66666
        margin 20px