.product-detail
    padding-bottom 320px
    .pro-top
        padding 24px 18px 21px 18px
        background-color #ffffff
        img
            width 150px
            height 120px
        .pro-meta
            h3
                margin-top 21px
                font-size 20px
            p
                margin-top 10px
                font-size 14px
                >span
                    font-size 16px
                    color #E11030
    .pro-bottom
        margin-top 16px
        background-color #ffffff
        .pro-title
            padding 10px 13px 15px 13px
            h3
                border-left 3px solid #1565C1
                font-size 16px
                padding-left 5px
        .pro-content
            background-color #ffffff
            padding 0 13px 15px 13px
            font-size 14px
            line-height 24px
            word-break break-word
