.shortcuts
    text-align center
    background-color #FFF
    margin-top 16px
    .service-btn,.news-btn
        display inline-block
        height 52px
        line-height 52px
        margin auto
        width 49%
        font-size 16px
        color #333
        img
            width 20px
            height 15px
            vertical-align middle
            margin-right 10px
        span
            display inline-block
            vertical-align middle
            //名字过长截断
            max-width 100px
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
    .service-btn
        border-right 1px solid #DDDDDD
