.shortcuts
    text-align center
    background-color #FFF
    margin-top 16px
    .service-btn,.news-btn
        display inline-block
        height 52px
        line-height 52px
        margin auto
        min-width 49%
        font-size 16px
        color #333
        img
            width 19px
            height 17px
            vertical-align middle
            margin-right 10px
        span
            display inline-block
            vertical-align middle
            //名字过长截断
            max-width 100px
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
    .service-btn
        position relative
        img
            width 19px
            height 15px
        .topLine
            position absolute
            top 0
            right 0
            width 1px
            height 52px
            background #ddd

