
.tab-header
    width 100%
    margin 18px 0 10px
    ul
        display flex
        font-size 16px
        li
            list-style-type none
            flex auto
            text-align center
            a
                font-size 16px
                color #333333
                text-decoration none
                &:hover
                    //border-bottom 2px solid #1565C1
                    padding-bottom 8px

