.add-btn {
  width: 120px;
  height: 40px;
  margin: 0 0 50px 134px;
  color: #096dd9 !important;
  background: #ffffff !important;
  border: 1px solid #096dd9;
}
.submit-btn {
  display: block;
  width: 120px;
  height: 40px;
  margin-left: 160px;
  border-color: #096dd9;
  background: #096dd9;
}
