.home-message {
  padding: 30px 20px;
  .module-select {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
  }
  p {
    margin: 0;
    .tip-i {
      color: red;
    }
  }
  .img-module {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .img-title {
      margin-bottom: 10px;
    }
    img {
      max-width: 932px;
      height: 300px;
      margin-left: 13px;
      border: 1px solid #d9d9d9;
    }
  }
  .save-btn {
    margin: 40px 14px;
    .btn {
      border-color: #096dd9;
      background: #096dd9;
      width: 100%;
    }
  }
}