.cards-con {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 36px;
  margin-bottom: 24px;

  .padding-card {
    width: 220px;
    flex-shrink: 0;
  }
}

/* create album modal */
:global {
  .image-preview-modal {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .image-wrapper {
      display: none;
      position: fixed;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 100px;
      width: 100vw;
      height: 100vh;
      user-select: none;
      overflow: hidden;
      transition-delay: .5s;

      &.active {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: auto;
        }
      }

      img {
        width: 0%;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        user-select: none;
        transition: .5s;
      }

      .anticon {
        position: absolute;
        top: 49%;
        width: 44px;
        height: 44px;
        line-height: 46px;
        background: #3A98FF;
        border-radius: 50%;
        font-size: 18px;
        color: white;
        z-index: -1;

        &.anticon-left {
          left: 50px;
        }
        &.anticon-right {
          right: 50px;
        }
      }
    }

    .ant-modal {
      top: 0;
      margin: 0;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      transition: none;
    }
    .ant-modal-content {
      background: transparent;
      box-shadow: unset;
    }

    .ant-modal-close-x {
      margin: 60px 15vw 0 0;
      width: 28px;
      height: 28px;
      line-height: 23px;
      border: solid 2px white;
      border-radius: 50%;
      color: white;
      font-size: 12px;
      cursor: pointer;
    }
  }
}
