@import "../layout"
@import "../components/header"
@import "../components/swiper"
@import "../components/home-title"
@import "../components/contact-us-form"
@import "../components/product-list"
@import "../components/user-defined-module-new"
@import "../components/aboutus"
@import "../components/news-list-module"
@import "../components/news-list"
@import "../components/contact-form"
@import "../components/company-info"
// 用于sem投放 禁止外跳 弹窗样式
@import "../../../common/wap/contact-form-sem"
// 用于弹出的弹窗
@import "../../../common/wap/official-popup"

//B2C模板2轮播图高度时特殊的1：1
.swiper-container
  height 100vw

.contact-us-block
  background-color #fff
  .contact-us-block-title 
    padding: 32px 0 30px
    font-size: 18px;
    line-height: 18px
    font-weight: bold;
    letter-spacing: 1px
    color: #333333;
    text-align: center
    .red
      color: $color-main

.product-block-title
  padding:  22px 0 20px
  position relative
  text-align: center
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  line-height: 20px;
  &::after
    content ''
    display: block
    width: 80px
    height: 8px
    position: absolute
    left: 50%
    top: 65%
    transform: translateX(-50%)
    background-color: rgba(#FFDEE1,.9) 
    z-index -1
    
.product-more-btn
  display block
  height 44px
  margin 23px
  line-height 44px
  border none
  background-color $color-main
  text-align center
  color #fff
  border-radius 22px
  margin-top 4px
  font-size 16px

.float-nav
  position absolute
  top 110px
  left 14px
  width 40px
  height 40px
  border-radius 4px
  background #FF4466
  z-index 3
  display flex
  align-items center
  justify-content center
  .nav-select-icon .icon-line
    background-color #fff