@import "../layout"
@import "../components/header"
@import "../components/swiper"
@import "../components/home-title"
@import "../components/contact-us-form"
@import "../components/product-list"
@import "../components/user-defined-module"
@import "../components/aboutus"
@import "../components/news-list-module"
@import "../components/news-list"
@import "../components/contact-form"
@import "../components/footer"


//.swiper-container
//  height 100vw

.contact-us-block
  background-color #fff

.product-more-btn
  display block
  height 44px
  margin: 23px
  line-height 44px
  border none
  background-color #FF6536
  text-align center
  color #fff
  border-radius: 22px
  margin-top 4px
  font-size 16px