.category-list
	margin-bottom 17px
	min-height 100px
	.category-btn
		display block
		border 1px solid #DDD
		width 222px
		height 50px
		margin-top 10px
		line-height 50px
		margin 10px auto 0
		&:hover
			border 1px solid #1565C1
		img
			display inline-block
			width 19px
			height 19px
			vertical-align middle
			margin 0 13px 0 31px
		span
			display inline-block
			width 70%
			font-size 16px
			font-weight 500
			color #333
			vertical-align middle
			overflow hidden
			white-space nowrap
			text-overflow ellipsis
			&:hover
				color #1565C1
	.category-btn:hover span,
	.category-active
		border 1px solid #1565C1
		//color #1565C1


