.contact
	width 222px
	height 162px
	padding-top 11px
	margin-bottom 17px
	border 1px solid #DDD
	border-top none
	p
		font-size 14px
		padding 0 17px 0 11px
		line-height 22px
		margin 5px 0
		>span
			font-size 16px
			color #EF4828


