.contact
	width 194px
	min-height 162px
	margin-bottom 17px
	border 1px solid #DDD
	border-top none
	padding 19px 17px 0 11px
	dl
		dt
			float left
			width 70px
			font-size 14px
			color #333
			letter-spacing 0
			line-height 22px
			overflow hidden
			white-space nowrap
			text-overflow ellipsis
		dd
			float left
			width 124px
			font-size 14px
			margin-bottom 15px
			>span
				font-size 16px
				color #EF4828
			a
				display inline-block
				height 20px
				line-height 20px
				img
					display inline-block
					width 72px
					height 22px




