.recommend
	height 345px
	width 222px
	border 1px solid #ddd
	border-top none
	padding-top 1px
	margin-bottom 17px
	ul.item
		li
			a
				display block
				height 48px
				margin 16px 10px
				.a-area
					img
						float left
						width 48px
						height 48px
						margin-right 8px
					div
						float left
						width 145px
						font-size 14px
						margin-top 8px
						overflow hidden
						text-overflow ellipsis
						display -webkit-box
						-webkit-box-orient vertical
						-webkit-line-clamp 2




