.recommend
	height 345px
	width 222px
	border 1px solid #ddd
	border-top none
	padding-top 1px
	ul.item
		li
			a
				display block
				height 48px
				.a-area
					img
						width 48px
						height 48px



