.recommend
	width 222px
	min-height 60px
	border 1px solid #ddd
	border-top none
	padding-top 1px
	margin-bottom 17px
	ul
		li
			a
				display flex
				align-items center
				height 48px
				margin 16px 10px
				img
					float left
					width 56px
					height 37px
					margin-right 10px
				.rec-text
					float left
					width 131px
					font-size 14px
					overflow hidden
					text-overflow ellipsis
					display -webkit-box
					-webkit-box-orient vertical
					-webkit-line-clamp 2
					&:hover
						color #1565C1




