.sidebar-newslist
    width 222px
    min-height 60px
    padding-top 1px
    border 1px solid #DDD
    border-top none
    margin-bottom 17px
    ul
        li
            list-style disc
            font-size 14px
            margin 15px 15px 15px 35px
            content "."
            color #666
            a
                display block
                width 180px
                color #333333
                overflow hidden
                white-space nowrap
                text-overflow ellipsis
    .news-more-btn
        border-top 1px solid #DDD
        font-size 14px
        color #1565C1
        display block
        padding 9px 0
        text-align center