extends ../layout

block styles
    :combine(fileName="site-template-3-product-pc.css")

block content
    .product-child-page
        include ../components/common/breadcrumbs.pug

        .container.clearfix
            .main
                include ../components/product/cateList.pug
                - productList = renderData.productList.result
                include ../components/product/product-list.pug

                include ../../../common/pc/pagination.pug
                //-include ../components/common/pagination.pug
                - var totalPage = (renderData.productList && renderData.productList.totalPage) || 1
                +pagination(totalPage, currentPage, `${currentPathname}`)

          .sidebar
            - const { articleList } = renderData
            include ../components/sidebar/cateList.pug
            +side-cateList('新闻资讯', articleList.result)
            include ../components/sidebar/products.pug


block scripts
    :combine(fileName="site-template-3-product-pc.js")
block append scripts
    script.
        window.contentType = 'product';
        window.trackSrc = 'listing';
