@import '../block-title/index.styl'
@import '../good-item/index.styl'

.company-info
  background-color #fff
  .desc
    padding 0 40px 14px
    font-size 24px
    color #666666
    line-height 36px
    .desc-text
      min-height 96px
      margin-bottom 8px
      line-height: 32px;
      overflow hidden
      word-break break-all
      font-size: 16px;
      color: #333333;
      &.hide
        display none
    .action-btn
      margin-left 10px
      font-size: 14px;
      color: #FF4466;
      line-height: 14px;
      cursor pointer
      &.hide
        display none
  .goods-list
    display flex
    justify-content flex-start
    align-items stretch
    flex-wrap wrap