extends ../../common/layout
block public-header

  block header
    include ../../common/pc/official-header.pug
    +officialHeader({navConfig:{navPhoneColor:'#FF2D38',navPhoneIcon:'//file.baixing.net/202106/75250dde9ca3ecf709da822454963017.png'}})

block footer
  //- include ../../common/pc/footer.pug
  include ../../common/pc/official-footer.pug

//-QQ联系等开发时先注释掉
block customer-service
  if !isSem
    include ../../common/pc/customer-service.pug 