 .white-block
  box-sizing: border-box;
  height 105px
  background-color #fff
  box-shadow: 0 1px 2px #ccc;
  .container
    display: flex
    justify-content: space-between
    align-items: center
    width 1200px
    height 100%
    margin: 0 auto
    position relative
    .city
      display: flex
      justify-content: flex-start
      align-items: flex-end
      .text
        margin-right: 5px;
        line-height: 24px
        font-weight: 700;
        font-size: 20px;
        color: #f46;
      .baixing-logo
        width: 95px
        height: 48px
    .head-search
      display: flex
      justify-content: flex-start
      width: 515px
      position: absolute
      top: 24px;
      left: 250px;
      .input
        width: 425px;
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
        border: 1px solid #f46;
        font-size: 12px;
        outline: none;
        &:focus
          box-shadow: 0 0 5px rgb(255 68 102 / 80%);
      .search-btn
        border: 0;
        padding: 0;
        margin: 0 0 0 -1px;
        height: 40px;
        line-height: 40px;
        background: #f46;
        width: 90px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        color: #fff;
        font-size: 16px;
    .post
      width: 260px;
      height: 40px;
      padding: 0 38.5px;
      line-height: 40px;
      transform: translateY(-9px)
      border: 1px solid #f46;
      background-color: #f46;
      color: #fff;
      border-radius: 2px;
      font-size: 14px;
      text-align: center;
      vertical-align: middle;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
              

