.nav
    background-color #fff
    display flex
    justify-content space-between
    //flex-wrap nowrap
    //overflow-x auto
    padding 0 30px
    font-size 16px
    //&::-webkit-scrollbar
    //    display none
    &-item
        //margin-right 70px
        a
            display inline-block
            padding 15px 0
            color #333
            font-size 16px
            white-space nowrap
.nav-active
    color #EC2525
    border-bottom 2px solid #EC2525