.nav
    background-color #fff
    display flex
    justify-content space-between
    padding 0 30px
    font-size 16px
    &-item
        a
            display inline-block
            padding 15px 0
            color #333
            font-size 16px
.nav-active
    color #EC2525
    border-bottom 2px solid #EC2525