.nav_bg
	width 100%
	background-color #1565C1
	.nav
		width 1226px
		height 58px
		line-height 58px
		font-size 18px
		margin 0 auto
		ul
			a
				float left
				display block
				width 140px
				height 58px
				line-height 58px
				text-align center
				color #FFF
			.nav-active,
			a:hover
				color #FFF !important
				background #004EA8

