@import '../../cards-page/cards-container/index.less';

.album-card,
.video-album-card {
  .card();
  height: 216px;

  .header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    height: 46px;
    line-height: 30px;
    color: #333;

    .name {
      font-weight: bold;
      width: 10em;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.video-album-card::after {
  content: attr(title);
  position: absolute;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 83%;
  top: calc(50% - 46px);
  left: 0.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 28px;
  font-weight: bold;
  color: #2fb7ff;
}
