@import '../../cards-page/cards-container/index.less';

.album-card {
  .card();
  height: 216px;

  .header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    height: 46px;
    line-height: 30px;
    color: #333;

    .name {
      font-weight: bold;
      width: 10em;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
