extends ../layout

block styles
    :combine(fileName="site-template-1-product-detail-pc.css")

block content
    include ../components/breadcrumbs.pug

    .container.clearfix
        .main
            include ../components/product-detail.pug
        .side-bar
            include ../components/sidebar/sidebar-title.pug
            +sidebar-title('联系我们')
            include ../components/sidebar/contact.pug
            if domainType == 'fuwu'
                +sidebar-title('服务推荐')
            else
                +sidebar-title('产品推荐')

            include ../components/sidebar/recommend.pug
            if domainType == 'fuwu'
                +sidebar-title('服务分类')
            else
                +sidebar-title('产品分类')

            - const cateList = renderData.productCateList
            include ../components/sidebar/category-item.pug

block scripts
    :combine(fileName="site-template-1-product-detail-pc.js")
block append scripts
    script.
        window.contentType = 'product';
        window.adId = #{renderData.productInfo.id};
