
//单行超出点点隐藏
.only-oneline
  overflow hidden
  text-overflow ellipsis
  display -webkit-box
  -webkit-box-orient vertica
   -webkit-line-clamp 1
  white-space nowrap

  
.only-twoline
  display -webkit-box
  overflow hidden
  -webkit-box-orient vertical
  -webkit-line-clamp 1
  
.only-threeline
  overflow hidden
  text-overflow ellipsis
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-line-clamp 3
  word-break break-all


@keyframes btn-animate {
  0% {
      transform: scale(1);
  }
  8% {
      transform: scale(1.05);
  }
  40% {
      transform: scale(1);
  }
  60% {
      transform: scale(1.05);
  }
  75% {
      transform: scale(1);
  }
  100% {
      transform: scale(1);
  }
}


@keyframes btn-lights {
  0% {
      left: -20vw
  }
  75% {
      left: -20vw
  }
  100% {
      left: 120vw
  }
}

.btn-animate
  animation: btn-animate 3s infinite;

.btn-animate-light
  overflow hidden
  animation: btn-animate 3s 1s infinite;
  &::before
    content: '';
    display: block;
    position: absolute;
    top: 0
    width: 58px;
    height: 60px;
    margin-top: -10px;
    background-image: url(//file.baixing.net/202107/6c5ed1edd2f122d02f155768ebf2e49f.png);
    background-size: 58px 60px;
    animation: btn-lights 3s  1s linear infinite forwards;
    transform: translateZ(0);