.page-info-image .preview-img-con {
  position: relative;
  width: 150px;
}
.page-info-image .preview-img-con:hover .mask {
  opacity: 1;
}
.page-info-image .preview-sm-image {
  width: 150px;
  max-height: 150px;
  object-fit: cover;
  object-position: top;
}
.page-info-image .mask {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.55);
  color: white;
  opacity: 0;
  transition: .35s;
  cursor: pointer;
}
