extends ../layout.pug
block styles
    :combine(fileName="site-template-2-news-wap.css")

block content
    - const cateList = renderData.articleCateList
    include ../components/toptab
    - const { articleList:{result:articleList,totalPage:totalPage}, name:articleListName} = renderData.articleList
    include ../components/news-list
    +news-list(articleList)

    include ../../../common/wap/pagination.pug
    +pagination(totalPage, renderData.currentPage, `${currentPathname}`)

block scripts
    :combine(fileName="site-template-2-news-wap.js")
block append scripts
    script.
        window.extraContactFormData = { position: 2 };
        window.contentType = 'article';
        window.trackSrc = 'listing';