.empty-msg-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  .img {
    width: 126px;
    height: 117px;
  }
  .msg {
    color: #999999;
    margin: 24px auto;
  }
  .btn {
    background: #096DD9;
    width: 120px;
    height: 40px;
    color: #ffffff;
  }
}

