.footer-phone-box.col
  flex-direction: column
.footer-phone-box,.footer-phone-sem-box
  display flex
  align-items center
  justify-content center
  height: 44px
  padding: 6px 0px
  border 1px solid transparent
  box-sizing border-box
  flex 1
  background: linear-gradient(90deg, #5C8AFF 0%, #336FFF 100%);
  border-radius: 22px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  &.hide
    display: none
  .icon
    width: 20px;
    height: 20px
    margin-right 8px
  .btn-text
    color: white
    font-size: 18px;
  .phone-num
    color: white
    font-size: 14px;
    font-weight: bold;
  .time-tip
    color: white
    font-size: 10px;
    &.hide
      display: none

