.preview-title-modal {
  :global {
    .ant-modal-body {
      padding: 15px 40px 40px;
    }
  }
}

.del,
.dels {
  font-size: 14px;
  color: #096dd9;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  padding-left: 18px;
  .cancal {
    width: 86px;
    height: 32px;
    margin-right: 16px;
    color: #666666;
  }
  .ok {
    min-width: 86px;
    height: 32px;
    background: #096dd9;
    color: #fff;
  }
}

.title {
  font-size: 14px;
  color: #333333;
  .big {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
  }
  .blue {
    color: #096dd9;
  }
}
