.error-info {
  min-height: 24px;
  padding-bottom: 12px;
  line-height: 12px;
  text-align: center;
  font-size: 12px;
  color: #f1492c;
}
.footer-btn-container {
  .footer-btn-line {
    display: flex;
    justify-content: flex-end;
    padding-top: 16px;
    .btn {
      width: 86px;
      height: 32px;
      & + .btn {  
        margin-left: 16px;
      }
    }
    :global {
      .ant-btn-primary {
        background: #096dd9;
      }
    }
  }
}
