@import "../layout"
@import "../components/breadcrumbs"
@import "../components/product/product-list"
@import "../components/product/cateList/index"
@import "../components/sidebar/products"
@import "../components/sidebar/index"
@import "../components/common/pagination"
@import "../components/swiper"
@import "../components/contact-message"
@import "../../../common/pc/contact-form-sem"
@import "../components/common/contact-form"
.block-title
  margin 40 auto 41px
  position relative
  text-align center
  .h2
    display inline-block
    margin-bottom: 16px
    font-size 34px
    text-align center
    color #212121
    font-weight bold
  .point
    position absolute
    bottom: 0
    left: 50%
    transform: translateX(-107px)
    width: 214px
    height: 2px
    margin-top: 16px
    background-color: #EBEBEB
    .tipMiddle
      position absolute
      top: 0
      left: 50%
      transform: translateX(-12px)
      width 24px
      height 3px
      background: #336FFF
.product-container
  padding-top: 20px
  background: #fff
  .container
      width 1220px
      margin 0 auto 
      display flex
      .main
          order: 2
          width 100%
          margin-left: 18px
      .sidebar
          order: 1
          width 224px
  #contactFormBox
    overflow hidden
    width: 100%
    padding-bottom: 72px
    margin-top: 40px
    .block-title
      margin-top: 54px
      .h2
        color: #fff
        margin-left 15px



