extends ../layout.pug
block styles
    link(rel="stylesheet", href="/assets/site-template-1-product-wap.css")

block header
    include ../components/header

block content
    .container
        p 这里是产品页面

block footer
    include ../components/footer

block contact
    include ../components/contact


block scripts
    script(src="/assets/site-template-1-product-wap.js")
