html
    head
        meta(charset='utf-8')
        title 优选推运营管理后台
        link(rel='shortcut icon' type='image/x-icon' href='//s.baixing.net/favicon.ico')
        :combine(fileName="midway-admin.css")
    body
        #root

        :combine(fileName="midway-admin.js")


