.search-crumbs
	width 1220px
	margin 22px auto
	display flex
	align-items center
	height 34px
	line-height 34px
	p
		width 80px
		font-size 16px
		color #666
	ul
		li
			display inline-block
			margin-right 14px
			position relative
			.right-arrow
				display inline-block
				width 8px
				height 8px
				border-top 1px solid #666
				border-right 1px solid #666
				transform rotate(45deg)
				line-height 8px
				position absolute
				top calc(50% - 4px)
				left -8px
			a,span
				display inline-block
				font-size 16px
				color #666
				margin-left 10px
				max-width 255px





