.search-crumbs
	width 1200px
	margin 30px auto
	font-size 16px
	line-height 1
	display flex
	align-items center
	p
		width 80px
		float left
		font-size 16px
		color #666
	ul
		li
			display inline-block
			margin-right 10px
			i
				vertical-align 0
				margin-right 10px
				color #333
			a,span
				font-size 16px
				color #333

