.header-bgc
    background-color #fff
    .header
        width 1220px
        margin 0 auto
        height 94px
        line-height 94px
        >img
            float left
            height 50px
            margin-right 10px
            margin-top 22px
        >h3
            float left
            font-size 20px
        .nav-right
            float right
            a
                margin-left 50px
                color #333
                &:hover
                    color #FF2D38
                    .nav-arrow
                         border-color #FF2D38
                .nav-arrow
                    display inline-block
                    margin 0 2px 4px 9px
                    width 8px
                    height 8px
                    border-top 1px solid #666
                    border-right 1px solid #666
                    transform rotate(135deg)



