@import 'swiper/dist/css/swiper.min.css'
.banner-content
  height: 540px
  position relative
  margin 0 auto
  display flex
  justify-content center
  align-items center
  overflow hidden
  .bg-blur
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 0
    filter: blur(10px);
#banner-container
  width 1200px
  position relative
  height 300px
  .swiper-slide
    width 329.4px
    height 274px
    // background #fff
    //box-shadow 0 4px 10px rgba(#000, 0.2)
    overflow hidden
    position relative
    border-radius 4px 4px 0 0
    img
      display block
      width 100%
      height: 219px;
      object-fit cover
    p
      box-sizing border-box
      width 100%
      height 54px
      margin 0
      padding 0 40px
      line-height 54px
      text-align center
      color #333333
      font-size 16px
      background-color #fff
      box-shadow 0 4px 10px rgba(#000, 0.2)
      text-shadow: 0px 0px 27px rgba(0, 0, 0, 0.15)
  .swiper-pagination
    width 100%
    bottom 20px
  .swiper-pagination-bullets
    .swiper-pagination-bullet
      margin 0 5px
      border 3px solid #fff
      background-color #d5d5d5
      width 10px
      height 10px
      opacity 1
    .swiper-pagination-bullet-active
      border 3px solid #00aadc
      background-color #fff
  .swiper-button-prev
    left 4%
    width 50px
    height 50px
    background url(//file.baixing.net/202105/05348a4efc053232fdd668940bd756a8.png) no-repeat center center/100%
    &:hover
      background url(//file.baixing.net/202108/a74c1d873881392c12a23826cd4e1a37) no-repeat center center/100%
      transform rotate(0)
  .swiper-button-next
    right 4%
    width 50px
    height 50px
    top 50%
    background url(//file.baixing.net/202105/05348a4efc053232fdd668940bd756a8.png) no-repeat center center/100%
    transform rotate(180deg)
    &:hover
      background url(//file.baixing.net/202108/af2916a86a85a940625a4a47c70d5fb3) no-repeat center center/100%
      transform rotate(0)
#banner-list
  width: 100%
  .swiper-container
    width: 100%;
    .swiper-wrapper
      width 100%	
      .swiper-slide
        width: 100%
        img
          width: 100%
    .swiper-pagination-bullet
      width 24px
      height 2px
      opacity .3
      border-radius 0
    .swiper-pagination-bullet-active
      height 4px
      background #fff
      opacity 1.0
    .swiper-button-prev
      left 4%
      width 50px
      height 50px
      background url(//file.baixing.net/202105/05348a4efc053232fdd668940bd756a8.png) no-repeat center center/100%
      &:hover
        background url(//file.baixing.net/202108/a74c1d873881392c12a23826cd4e1a37) no-repeat center center/100%
        transform rotate(0)
    .swiper-button-next
      right 4%
      width 50px
      height 50px
      top 50%
      background url(//file.baixing.net/202105/05348a4efc053232fdd668940bd756a8.png) no-repeat center center/100%
      transform rotate(180deg)
      &:hover
        background url(//file.baixing.net/202108/af2916a86a85a940625a4a47c70d5fb3) no-repeat center center/100%
        transform rotate(0)