.user-defined-about-subtitle
    font-size 16px
    color #333333
    margin 30px 30px
    font-weight bold
.user-defined-about-list
	background-color: #FFFFFF
	padding: 55px 75px
	.user-defined-about-item
		width: 1060px
		display: flex
		flex-wrap: wrap
		margin-bottom: 60px
		&:last-child
			margin-bottom: 0
		.number
			color: #FA774F
			font-size: 60px
			font-weight: 100;
			padding-right: 30px
			position: relative
			top: -15px
			min-width 70px
		.title
			font-size: 22px
			font-weight: bold
		.user-defined-line
			width: 30px
			height: 3px
			background-color: #D8D8D8
			margin-top: 15px
		.content
			margin: 0
			padding-top: 25px
			color: #666666
			font-size: 16px