mixin contactPhoneBtn()
  if phone&&phone.content
      a(href="tel:" + phone.content)#footerPhoneBox.footer-phone-box.btn-animate
        .icon(style=`background: url('//file.baixing.net/202107/93d5a4ad367a7a9f007ed7091127bc80.png') no-repeat center/100%`)
        p.btn-text 拨打电话
