mixin contactPhoneBtn(bgColor)
	if !isSem
		a(style="background:"+bgColor,href="tel:" + phone.content).footer-phone-box
			p.phone-num 拨打电话
	else 
		- let union400num =  union400 && union400.length? union400[0]: ''
		button.footer-phone-sem-box.btn-text(data-union400num=union400num||'' style="background:"+bgColor)
			| 拨打电话
		a.footer-phone-box.hide(style="background:"+bgColor , href="tel:" + union400num)
			p.phone-num #{union400num}
			.time-tip.hide 
				| 180s后更新