.customer-service
    //- a(href="tel:021-61300238")
    //-     .service-item#bax
    //-         .service-logo.bax
    //-         .service-content.bax
    .service-item#bax
			.service-logo.bax
			.service-name.bax 百姓网平台保障
			.service-modal 
				.service-modal__bax 
                    a(href="tel:021-61300238")
					.bax-title 投诉热线:
					.bax-number 021-61300238
				.service-modal__bax 
					.bax-title 投诉反馈:
					.bax-btn#entrance
						.bax-link
							.bax-text 我要投诉
    