mixin dynamic-official-footer-contact(theme, image1, image2)
  .official-footer-contact-container
    if weChat.content && weChat.content.length > 0
      .wechat-box(data-value = weChat.content)
        img.icon(src=image1)
        p.text 微信
    if newkf53StyleUrl && newkf53StyleUrl.length > 0
      a.online-box(href=newkf53StyleUrl)
        img.icon(src=image2)
        p.text 咨询
    include ./dynamic-contact-phone-btn.pug
    +dynamicContactPhoneBtn(theme)
