header.bx-header
   nav.cm-nav-bar

     .cm-nav-bar-left
      a.bx-nav-logo(href="//www.baixing.com/m/")
        img(src="//file.baixing.net/201708/e6bf9e4ef487b6bca17677f734e5507c.png", alt="").cm-icon.bx-logo

     .bx-nav-search
      input.search-query(type="search" name="query" placeholder="搜索")
      i.icon-search.baicon

     .cm-nav-bar-right.cm-btn-wrapper.cm-btn-line
      a.bx-nav-btn(rel="nofollow" href="//www.baixing.com/m/fabu/fuwu#nav") 发布
      a.bx-nav-btn(rel="nofollow" href="//www.baixing.com/m/wo/") 我的
