<footer class="bx-footer">
  <ul class="platform">
    <li>
      <a class="selected" href="//www.baixing.com/v/mobile">
        <i class="mobile icon"></i>
          <span>手机版</span></a>
          </li>
    <li><a href="//www.baixing.com/v/desktop?url=%2Fm%2Ffuwu%2F" rel="nofollow"><i class="pc icon"></i><span>电脑版</span></a></li>
    <li><a href="https://www.baixing.com/p/app.php?c=guanfang"><i class="app icon"></i><span>百姓APP</span></a></li>
    <li><a class="j-footer-wechat" href="javascript:void(0)"><i class="weixin icon"></i><span>微信版</span></a></li></ul>
  <ul class="child"><li><a href="//www.baixing.com/a/quanwangtong">搜索通</a></li></ul>
  <ul class="rule">
    <li><a href="//www.baixing.com/m/a/bangui/" rel="nofollow">公约</a></li>
    <li><a class="edit" href="//www.baixing.com/m/wo/posts/" rel="nofollow">修改删除</a></li>
    <li><a href="//www.baixing.com/m/help/" rel="nofollow">帮助</a></li>
  </ul>
</footer>