<footer class="bx-footer" id="bxFooter">
  <ul class="platform">
    <li>
      <a class="selected" href="//www.baixing.com/v/mobile">
        <i class="mobile icon"></i>
          <span>手机版</span></a>
          </li>
    <li><a href="//www.baixing.com/v/desktop?url=%2Fm%2Ffuwu%2F" rel="nofollow"><i class="pc icon"></i><span>电脑版</span></a></li>
    //- <li><a href="https://www.baixing.com/p/app.php?c=guanfang"><i class="app icon"></i><span>百姓APP</span></a></li>
    <li><a class="j-footer-wechat" href="javascript:void(0)"><i class="weixin icon"></i><span>微信版</span></a></li></ul>
  <ul class="child"><li><a href="//www.baixing.com/a/quanwangtong">搜索通</a></li></ul>
  <ul class="rule">
    <li><a href="//www.baixing.com/m/a/bangui/" rel="nofollow">公约</a></li>
    <li><a class="edit" href="//www.baixing.com/m/wo/posts/" rel="nofollow">修改删除</a></li>
    <li><a href="//www.baixing.com/m/help/" rel="nofollow">帮助</a></li>
  </ul>
    <div class="footer">
    <ul>
      if isCn
        <li>© 2022 上海林登信息技术有限公司</li>
      else
        <li>© 2022  上海百姓网股份有限公司</li>
      <li>客服服务热线:400-036-3650 或 021-61300110 </li>
      <li>举报热线:021-61300238（周一至周日，9:00-18:00）</li>
      <li>上海市闵行区东川路555号戊楼1005室</li>
    </ul>
    <ul class="footer-beian">
      <li><a href="http://file.baixing.net/202103/7cf87238e437434700417cb9b5aa3282.png" target="_blank" rel="nofollow">营业执照号 </a> 
      </li>
      <li> <a href="//file.baixing.net/202103/d0eddbdf016501cf29fe6efa710424d4.jpg" target="_blank" rel="nofollow"></a> 人力资源服务许可证</li>
      <li><a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank">沪ICP备06019413</a</li>
      <li><a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank"> 沪ICP证B2-20080088 </a></li>
    </ul>
    <p class="footer-last"><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011302007132" target="_blank"><img alt="沪公网安备31011302007132号" src="https://gw.alicdn.com/tfs/TB15m.8rEY1gK0jSZFCXXcwqXXa-20-20.png" style="width:14px;height:14px;margin-bottom: -3px" class="icp-icon">沪公网安备31011302007132号</a></p>
  </div>
</footer>