<header class="bx-header">
  <nav class="cm-nav-bar">
    <div class="cm-nav-bar-left"><a class="bx-nav-logo" href="//shanghai.guizhanluo.baixing.cn/m/"><i class="cm-icon bx-logo">百姓网</i></a><a class="bx-nav-city" href="//www.guizhanluo.baixing.cn/m/?changeLocation=yes&amp;return=%2Fm%2Ffuwu%2Fl%2F"><span>上海</span><i class="icon-arrow-down baicon"></i></a></div>
    <div class="bx-nav-search"><input class="search-query" type="search" name="query" value="搜服务"><i class="icon-search baicon"></i></div>
    <div class="cm-nav-bar-right cm-btn-wrapper cm-btn-line"><a class="bx-nav-btn" rel="nofollow" href="/m/fabu/fuwu#nav">发布</a><a class="bx-nav-btn" rel="nofollow" href="http://www.guizhanluo.baixing.cn/m/wo/">我的</a></div>
  </nav>
</header>