header.bx-header-white.maskLayer-relative
  if isBaiduPin === 'baidu_pinzhuan' && pinZhuan
    .maskLayer-htdh
   nav.cm-nav-bar
    .cm-nav-bar-left
      a.bx-nav-logo(href=isCn ? "http://www.home.baixing.cn" : "//www.baixing.com")
        if isCn
          img.cn-icon.bx-logo(src="//file.baixing.net/202107/0604b7871a5be0f563e05d6f21cd69eb.png", alt="")
        else 
          img.cm-icon.bx-logo(src="//file.baixing.net/201708/e6bf9e4ef487b6bca17677f734e5507c.png", alt="")

    .cm-nav-bar-right.cm-btn-wrapper.cm-btn-line
      //- //由于度娘要把搜索图标放右边，所以把搜索DOM挪下来了，回车搜索
      .bx-nav-search
        - shopDomain = renderData.basic&&renderData.basic.shop?renderData.basic.shop.shopDomain:''
        form.search-form(action="javascript:return true")
          input.search-query(type="search" name="query" placeholder="", data-shopdomain=shopDomain.toString() required)
          #searchClear.clear
          img#SearchBtn.baicon(src="//file.baixing.net/202105/346a4db066327d3723e75c79897a7bc4.png", alt="" data-shopdomain=shopDomain.toString())
      a.bx-nav-btn(rel="nofollow" href="//www.baixing.com/m/fabu/fuwu#nav") 发布
      a.bx-nav-btn(rel="nofollow" href="//www.baixing.com/m/wo/") 我的
