extends ../layout

block styles
    :combine(fileName="site-template-2-product-detail-pc.css")

block content
    include ../components/breadcrumbs.pug
    include ../components/product-detail/company-top.pug
    //-include ../components/product/product-list.pug

    .container.clearfix
        .main

        .sidebar

block scripts
    :combine(fileName="site-template-2-product-detail-pc.js")
block append scripts
    script.
        window.contentType = 'product';
        window.adId = #{renderData.productInfo.id};
