extends ../layout

block styles
    :combine(fileName="site-template-2-product-detail-pc.css")

block content
    include ../components/breadcrumbs.pug
    .container.clearfix
        include ../components/product-detail/company-top.pug
        include ../components/product-detail/product-recom-title.pug
        //-- productList = renderData.productRecommend.slice(0,5)
        - productList = [{"id": 984,"name": "回归测试发服务","headImg": "","urlSuffix": "http://shop.baixing.cn/agui/p-984.html"},{"id": 985,"name": "985发服务","headImg": "","urlSuffix": "http://shop.baixing.cn/agui/p-985.html"},{"id": 986,"name": "986发服务","headImg": "","urlSuffix": "http://shop.baixing.cn/agui/p-986.html"},{"id": 987,"name": "987发服务987发服务987发服务987发服务987发服务987发服务","headImg": "","urlSuffix": "http://shop.baixing.cn/agui/p-987.html"},{"id": 984,"name": "回归测试发服务","headImg": "","urlSuffix": "http://shop.baixing.cn/agui/p-984.html"},{"id": 984,"name": "回归测试发服务","headImg": "","urlSuffix": "http://shop.baixing.cn/agui/p-984.html"},{"id": 984,"name": "回归测试发服务","headImg": "","urlSuffix": "http://shop.baixing.cn/agui/p-984.html"}].slice(0,5)
        include ../components/product/product-list.pug

        .main
            include ../components/common/contact-form-companyInfo.pug
        .sidebar
            //-articleCateList暂时没有数据
            include ../components/sidebar/articles.pug

block scripts
    :combine(fileName="site-template-2-product-detail-pc.js")
block append scripts
    script.
        window.contentType = 'product';
        window.adId = #{renderData.productInfo.id};
