.crop-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  .crop-content {
    width: 800px;
  }
  .crop-preview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    padding: 16px 0 0 24px ;
    .title {
      font-size: 24px;
      padding-bottom: 16px;
    }
    .preview-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 350px;
      margin-bottom: 24px;
      background-color: #eee;
      .img-preview {
        width: 100%;
        height: 350px;
        overflow: hidden;
      }
    }
  }
}
