.sidebar
  .articles
  .side-news-list
    .news
    .article
      display: block
      margin: 15px 0
      font-size: 14px
      color: #666666
      cursor: pointer
      position: relative
      text-overflow: ellipsis
      white-space: nowrap
      overflow: hidden
      width: 187px
      box-sizing: border-box
      padding-right: 15px
      &:hover
        &::after
          border-color: #ec2525
      &:last-child
        margin-bottom: 0
      &::after
        content: ''
        width: 8px
        height: 8px
        position: absolute
        border: 1px solid #666
        border-left: none
        border-bottom: none
        transform: rotate(45deg)
        top: calc(50% - 5px)
        right: 3px
    .news
      &::after
        content: none
.category-active
  color: #ec2525 !important
  &::after
    border-color: #ec2525 !important
