.home-hot-product-container {
  padding: 30px 20px;
  .home-hot-product-submit-box {
    .home-hot-product-content {
      padding-left: 16px;
      .btn {
        width: 120px;
        margin-top: 180px;
        background: #096dd9;
        border-radius: 1px;
        font-size: 14px;
        color: #ffffff;
      }
    }
  }
}
