.my-message-box {
  background: #fff;
  width: 160px;
  margin: 0 auto;
  min-height: 100px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.14);
  border-radius: 4px;
  text-align: center;
  .ant-message-notice-content {
    box-shadow: none;
  }
  img {
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
  }
  margin-top: 30vh;
}

.my-message-success-box {
  color: #6ACE2D;
}

.my-message-error-box {
  color: #F1492C;
}
