extends ../layout
block styles
    :combine(fileName="site-template-2-news-detail-pc.css")

block content
    include ../components/breadcrumbs.pug

    .container.clearfix
        .main

        .side-bar

block scripts
    :combine(fileName="site-template-2-news-detail-pc.js")
block append scripts
    script.
        window.contentType = 'article';
        window.trackSrc = 'viewad';
        window.adId = #{renderData.articleInfo.id};
