extends ../layout
block styles
    :combine(fileName="site-template-2-news-detail-pc.css")

block content
    include ../components/breadcrumbs.pug

    .list-container
        .news-detail
            .news-content
                .news-title
                    h1.news-title__text 上海网上注册公司最新流程
                    .news-title__date 2020-11-10
                .news-content__text 1.网上预审 |（1）所需时间：正常2—5个工作日，如果公司名称不可用（核不过），或经营范围需要调整，按提示修改重提交，时间相应增加。（2）具体经过：把拟定的公司名称，经营范围，相关注册信息，提交到'一窗通'进行审核。此步骤把去年的名称批准和网上预审合为一步提交了，并增加了公章刻制信息，银行预约开户，涉税事项模块。（3）结果：审核通过，下载打印相关系统生成的文件准备交由法人股东签名，然后就是下面第二步去工商局提交材料。此第一步需提供如下资料信息：公司名称（多个备用名称），法定代表人，监事，股东及占股比例，财务，联络员，注册资本，经营范围，注册地址，涉税信息及开户银行信息（此规模信息根据注册区域不同是否提供和填写）。相关初步批准：根据初步批准部门要求提供相应的材料，无需后续步骤的企业直接进行后续。2.提交申请（1）所需时间：5—10个工作日，一般五个工作日左右，园区提供注册地址的会相应延缓。（2）具体通过：所有股东需提供身份证原件到场签名确认，将逐步完成打印出来的资料由股东，法人签名，材料交付工商注册（3）结果：提交成功，拿到收件人通知书，五个工作日左右领照。此第二步需用到资料：上一步完成后网上打印出来的相关签名文件（包括章程，股东大会决议等……），验资报告（仅某些需要实缴的行业），法人股东及监管事的身份证原件和复印件，会计和联络员复印件，注册地址租赁协议和财产证（园区提供注册地址的，相关租赁协议和产证由我们为您从事定）。
                //- .news-content__tags 标签：
                //-      span 五金配件
                //-      span 配件
            .news-nav
                .news-nav__pre 
                    span 上一篇：
                    a(href="") 搬家需要提前做哪些准备工作？ 
                .news-nav__next
                    span 下一篇：
                    a(href="") 搬家需要提前做哪些准备工作？ 

            section.news-detail__section 
                .news-detail__subtitle 留言咨询
                .news-detail__contact-us
                    .contact-form 
                        include ../components/common/contact-form.pug
                    .company-info 
                        .info-label 公司信息
                        .info-item 
                            span 商家称呼
                            span 张先生
                        .info-item 
                            span 联系电话
                            span 400-888-9967
                        .info-item 
                            span 微信号码
                            span hxjsioxisa1092
                        .info-item 
                            span QQ号码
                            span 2992001829
                        .info-item 
                            span 公司地址
                            span 上海市自贸试验区郑州片区黄河东路89号13号楼
                        

        .sidebar 
            include ../components/sidebar/company-info.pug
            include ../components/sidebar/news-list.pug
            include ../components/sidebar/articles.pug
            include ../components/sidebar/products.pug

block scripts
    :combine(fileName="site-template-2-news-detail-pc.js")
block append scripts
    script.
        window.contentType = 'article';
        window.trackSrc = 'viewad';
        window.adId = #{renderData.articleInfo.id};
