.ai-list-container {
  position: relative;
  min-height: calc(100vh - 160px);
  margin: 16px;
  background: #fff;
  .empty-info {
    position: absolute;
    width: 100%;
    height: 120px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    margin: auto;
    img {
      height: 94px;
    }
    p {
      font-size: 14px;
      color: #999;
      margin-top: 24px;
    }
  }
}
.ai-create-information-box{
  .content-label{
    div {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #151515;
      letter-spacing: 0;
      text-align: justify;
      line-height: 26px;
      float: right;
    }
  }
  Button{
    position: relative;
    top: 10px;
    left: 150px;
  }

}

