.img-list-spin {
  height: 100%;
}
.img-list {
  width: 630px;
  height: 337px;
  overflow-y: scroll;
  .list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
}
