extends ../layout.pug

block styles
	:combine(fileName="site-template-4-news-detail-wap.css")

block public-header

	block header
		include ../components/header
		include ../components/swiper
		+swiper('other')


block content
	include ../components/company-info.pug
	- const cateList = renderData.articleCateList
	include ../components/news-detail.pug
	include ../components/product-recommend.pug
	include ../components/contact-form.pug

block footer
	div(style="padding-bottom:75px")
	include ../../../common/wap/dynamic-official-footer-contact.pug
	+dynamic-official-footer-contact()

block scripts
	:combine(fileName="site-template-4-news-detail-wap.js")
block append scripts
	script.
		window.extraContactFormData = {position: 3, id: #{renderData.articleInfo.id}};
		window.adId = #{renderData.articleInfo.id};
