.tab-container {
  position: relative;
  .tip {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #999;
    .icon {
      margin-right: 5px;
    }
  }
  .color-btn{
      margin-right: 10px;
      cursor: pointer;
  }
  .theme-color{
      ul{
          margin: 0;
          padding: 0;
          display: flex;
          li{
              list-style: none;
          }
      }
  }
}
