.tab-container {
  position: relative;
  .tip {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #999;
    .icon {
      margin-right: 5px;
    }
  }
}
