@import 'swiper/dist/css/swiper.min.css'

.swiper-container
  height 152px
  width 100vw
  .swiper-wrapper
    .swiper-slide
      text-align center
      background-size 100% 100%
      background-position center
      background-repeat no-repeat
      display flex
      justify-content center
      align-items center
      .video-cover
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        z-index 9
        cursor pointer
        img
          width 100%
          height 100%
      .video-wrapper 
        display flex
        justify-content center
        align-items center
        width 100%
        height 100%
        video
          max-width 100%
          heigh 100%
          cursor pointer
          z-index 9
  .swiper-pagination-bullet-active
    background-color $color-main
  .num-tip
    height: 26px;
    padding: 0 5px
    position: absolute
    bottom: 16px
    right: 16px
    line-height: 26px
    background: rgba(#000000,0.5)
    color #fff
    border-radius: 4px;
    z-index 1000
    font-size: 12px;

