.contact-box
  position fixed
  bottom 0
  width 100%
  background #fff
  display flex
  align-items: center
  padding: 10px 15px
  box-sizing: border-box
  justify-content: space-between
  .bx-logo
    width: 45px
    height: 45px
    background: url('//file.baixing.net/202102/f4cc4e3a39f50595a2560b5376152ee0.png') no-repeat center center/100%
    margin: 0 10px

  .online-box
  .phone-box
    a
      display: block
      background-color: #EC2525
      height: 40px
      line-height: 40px
      color: #fff
      width: 120px
      text-align: center
      font-size: 14px
      border-radius: 2px
      border: 1px solid transparent
      box-sizing: border-box
  .online-box
    a
      background-color: #fff
      color: #EC2525
      border-color: #EC2525
